Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - pip install .
  - pytest
  - cd ../zvi
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-4.2.1-amd64-static.tar.xz
  - cp ffmpeg-4.2.1-amd64-static/ffmpeg /usr/bin
  ...

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

Update dependency eslint to v7.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency lint-staged to v10.2.9
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add no filter no results empty state
  applications/wallet/frontend/src/Assets/Empty.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add extra state
  applications/wallet/frontend/src/Assets/Empty.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add proper copies
  applications/wallet/frontend/src/Assets/Empty.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WIP
  applications/wallet/frontend/src/Accordion/Large.js
  applications/wallet/frontend/src/Task/index.js
  applications/wallet/frontend/src/TaskAssets/Empty.js
  applications/wallet/frontend/src/TaskAssets/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Consolidate Jobs Queue to Job Queue
  applications/wallet/frontend/src/Project/GettingStarted.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WIP
  applications/wallet/frontend/src/Accordion/Large.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/TaskAssets/Metadata.js
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WIP
  applications/wallet/frontend/src/Task/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Task/__tests__/index.spec.js
  applications/wallet/frontend/src/TaskAssets/Metadata.js
  applications/wallet/frontend/src/TaskAssets/Row.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

not-WIP
  applications/wallet/frontend/src/Task/index.js
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/__tests__/Row.spec.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/index.spec.js
  applications/wallet/frontend/src/TaskAssets/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixup
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes WAL-573. Adds the /api/v1/tasks/<ID>/assets endpoint.
  applications/wallet/app/jobs/serializers.py
  applications/wallet/app/jobs/tests/test_integration.py
  applications/wallet/app/jobs/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes WAL-573. Adds the /api/v1/tasks/<ID>/assets endpoint.
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-usage-report.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Remove aria-labels and use href
  applications/wallet/frontend/src/Assets/Empty.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-574: add Task Assets
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Task/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Task/__tests__/index.spec.js
  applications/wallet/frontend/src/Task/index.js
  applications/wallet/frontend/src/TaskAssets/Empty.js
  applications/wallet/frontend/src/TaskAssets/Metadata.js
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/__tests__/Row.spec.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/index.spec.js
  applications/wallet/frontend/src/TaskAssets/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-490: add no results Empty state
  applications/wallet/frontend/src/Assets/Empty.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
  applications/wallet/frontend/src/Project/GettingStarted.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes case where sigle attrib tag causes xmltodict to not wrap it in list.
  containers/zmlp-plugins-core/pylib/zmlp_core/util/media.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removed concept of extended image metadata fields.
  containers/zmlp-plugins-core/pylib/zmlp_core/image/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/image/tests/test_image.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

updated pip
  containers/zmlp-py3-base/Dockerfile
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update V2__project_tier.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V2__project_tier.sql
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Catch linting errors.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

linting
  client/zvi/pylib/zvi/display.py
  client/zvi/pylib/zvi/proxies.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-578: keep video length on thumbnail hover
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update index.js
  applications/wallet/frontend/src/Assets/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-561: remove video hover play
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a bug in the wallet tasks/<ID>/assets endpoint.
  applications/wallet/app/jobs/tests/test_integration.py
  applications/wallet/app/jobs/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-578: keep video length on thumbnail hover
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add zvi lib as docker image
  .gitlab-ci.yml
  applications/workbench/Dockerfile
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

- create SingleLabelAnalysis class - add test - update knn.py to use this class instead of custom label creator
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
  sdk/pylib/zmlpsdk/analysis.py
  sdk/pylib/zmlpsdk/tests/test_analysis.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

reformatting
  sdk/pylib/zmlpsdk/analysis.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Search and Display notebook updated for zvi docker image for proxies and display
  applications/workbench/data/notebooks/Search and Display.ipynb
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add zvi lib to production push/deploy
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-574: fix Task Assets
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Optimizes task creation by generators.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Zps.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobLaunchService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DispatcherServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/JobLauncherServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Setting time to utc
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/util/StaticUtils.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/ProjectQuotasDaoTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

auth server linting.
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/ApiKeyRepository.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaQuery.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/AuthController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/PermissionController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/SecurityUtil.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/JwtAuthenticationTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

indentation fixes
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-586: add asset ID in the metadata panel
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/Button/Copy.js
  applications/wallet/frontend/src/Card/index.js
  applications/wallet/frontend/src/Filter/Actions.js
  applications/wallet/frontend/src/Filter/Title.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Actions.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterText/Detection.js
  applications/wallet/frontend/src/FilterText/Search.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/Content.js
  applications/wallet/frontend/src/MetadataPretty/LabelsContent.js
  applications/wallet/frontend/src/MetadataPretty/Row.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/Project/GettingStarted.js
  applications/wallet/frontend/src/Sidebar/Link.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fix retry
  applications/wallet/frontend/src/Task/Menu.js
  applications/wallet/frontend/src/Task/__tests__/Menu.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
