Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

Fixed broken test due analysis sdk depend.
  client/python/pylib/zmlp/tests/test_asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added SDK files.
  sdk/Dockerfile
  sdk/VERSION
  sdk/pylib/zmlpsdk/__init__.py
  sdk/pylib/zmlpsdk/base.py
  sdk/pylib/zmlpsdk/cloud.py
  sdk/pylib/zmlpsdk/helpers.py
  sdk/pylib/zmlpsdk/proxy.py
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/testing.py
  sdk/pylib/zmlpsdk/tests/__init__.py
  sdk/pylib/zmlpsdk/tests/fake_gcs_account.json
  sdk/pylib/zmlpsdk/tests/fake_model.dat
  sdk/pylib/zmlpsdk/tests/test_cloud.py
  sdk/pylib/zmlpsdk/tests/test_proxy.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
  sdk/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes wallet pipenv lock file.
  applications/wallet/Pipfile.lock
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-143: remove outline for mouse users
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  applications/wallet/frontend/pages/_app.js
  applications/wallet/frontend/src/Styles/Reset.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-145: show gear menu on hover only
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/Menu.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-114: add change user password page
  applications/wallet/frontend/pages/[projectId]/account/password.js
  applications/wallet/frontend/pages/[projectId]/account/profile.js
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/AccountPassword/index.js
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/index.spec.js
  applications/wallet/frontend/src/AccountProfile/index.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/index.js
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/index.js
  applications/wallet/frontend/src/Form/index.js
  applications/wallet/frontend/src/Tabs/Link.js
  applications/wallet/frontend/src/Tabs/index.js
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/__tests__/index.spec.js
  applications/wallet/frontend/src/UserMenu/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

bump size
  applications/wallet/frontend/package.json
  applications/wallet/frontend/pages/[projectId]/account/index.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/index.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-114: add change user password page
  applications/wallet/frontend/package.json
  applications/wallet/frontend/pages/[projectId]/account/index.js
  applications/wallet/frontend/pages/[projectId]/account/password.js
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/AccountPassword/index.js
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/index.spec.js
  applications/wallet/frontend/src/AccountProfile/index.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/index.js
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/index.js
  applications/wallet/frontend/src/Form/index.js
  applications/wallet/frontend/src/Tabs/Link.js
  applications/wallet/frontend/src/Tabs/index.js
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/__tests__/index.spec.js
  applications/wallet/frontend/src/UserMenu/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added ability to pass a pipeline and +/- modules to asset import and upload.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Pipeline.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/PipelineMod.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineModDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/PipelineDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/JobControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/PipelineControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/TaskControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/JobServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineModServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineResolverServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Adds missing project id migration.
  applications/wallet/app/projects/migrations/0003_auto_20200115_0016.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adding missing pipfile lock
  applications/wallet/Pipfile.lock
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-101 - Updates the terraform deployment to enable Google OAuth 2 login on wallet.zmlp
  deployment/terraform/main.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/variables.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds support for specifying a pipeline to datasources, as well as update/delete endpoints.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/DataSource.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/DataSourceDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/DataSourceController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/CorsCredentialsFilter.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSourceService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V5__ds_modules.sql
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/DataSourceDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/DataSourceControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DataSourceServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineModServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Import, Upload Assets and Create DataSource examples
  client/java/src/main/java/examples/assets/ImportAssets.java
  client/java/src/main/java/examples/assets/UploadAssets.java
  client/java/src/main/java/examples/datasource/CreateDataSource.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Add no project icon
  applications/wallet/frontend/src/Icons/noProject.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Update no project component and snapshot
  applications/wallet/frontend/src/NoProject/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Add error icon
  applications/wallet/frontend/src/Icons/error.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Update table content component and snapshot
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Up size
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Add styling to center illustration
  applications/wallet/frontend/src/NoProject/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Update snapshot and move error illustration
  applications/wallet/frontend/src/NoProject/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Table/error.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Update illustrations
  applications/wallet/frontend/src/Icons/noProject.svg
  applications/wallet/frontend/src/Table/error.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-101 Adds the Frontend Sentry DSN to the terraform deployment.
  deployment/terraform/main.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/variables.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

cleanups
  services/archivist/archivist/src/main/java/com/zorroa/archivist/rest/InvalidObjectException.java
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaConverters.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Some archivist JDBC util changes.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/TaskError.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/AbstractRepository.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ErrorController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/util/JdbcUtils.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Asset and Datasource sdk examples
  client/java/src/main/java/examples/assets/AssetBase.java
  client/java/src/main/java/examples/assets/GetAssetAttr.java
  client/java/src/main/java/examples/assets/GetAssetById.java
  client/java/src/main/java/examples/assets/ImportAssets.java
  client/java/src/main/java/examples/assets/SearchElement.java
  client/java/src/main/java/examples/assets/UploadAssets.java
  client/java/src/main/java/examples/datasource/CreateDataSource.java
  client/java/src/main/java/examples/datasource/DataSourceBase.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Apply suggestion to applications/wallet/frontend/src/Icons/noProject.svg
  applications/wallet/frontend/src/Icons/noProject.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Apply suggestion to applications/wallet/frontend/src/Table/error.svg
  applications/wallet/frontend/src/Table/error.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Move no project icon
  applications/wallet/frontend/src/NoProject/index.js
  applications/wallet/frontend/src/NoProject/noProject.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed projectId overrides from REST API, goes through JWT token.
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/AuthServerClient.kt
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/Json.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/JwtAuthenticationTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Implemented apikey search.
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/ApiKeyRepository.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaQuery.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/ApiKeyController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/ApiKeyControllerTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/AuthControllerTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixed swagger config.
  docker-compose.yml
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/conf/SwaggerConfig.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Allow project override via header.
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/JwtAuthenticationTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-22 Updates the ApiKey serializers to match the new schema for apikeys in ZMLP
  applications/wallet/app/apikeys/serializers.py
  applications/wallet/app/apikeys/tests/test_integration.py
  applications/wallet/app/apikeys/tests/test_unit.py
  dev/config/keys/dump-key.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added a bunch of common JVM libs to share between services.
  lib/jvm-common/pom.xml
  lib/jvm-common/zmlp-apikey/pom.xml
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ApiKey.kt
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/AuthServerClient.kt
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/Permission.kt
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ZmlpActor.kt
  lib/jvm-common/zmlp-apikey/src/test/kotlin/com/zorroa/zmlp/apikey/AuthServerClientTests.kt
  lib/jvm-common/zmlp-apikey/src/test/resources/signing-key.json
  lib/jvm-common/zmlp-service/pom.xml
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/logging/EventLog.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/security/SecurityUtils.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/storage/AwsSystemStorage.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/storage/GcsSystemStorage.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/storage/SystemStorageService.kt
  lib/jvm-common/zmlp-util/pom.xml
  lib/jvm-common/zmlp-util/src/main/kotlin/com/zorroa/zmlp/util/Json.kt
  services/auth-server/auth-client/pom.xml
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/ApiKey.kt
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/AuthServerClient.kt
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/Json.kt
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/Permission.kt
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/ZmlpActor.kt
  services/auth-server/auth-client/src/test/kotlin/com/zorroa/auth/client/AuthServerClientTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches
