Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)

Update dependency @sentry/browser to v5.27.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint to v7.12.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-config-prettier to v6.14.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-plugin-react to v7.21.5
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update jest monorepo to v26.6.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_videos.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-plugin-react-hooks to v4.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_vision.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/clarifai-creds
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/test_bboxes.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/test_colors.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/test_labels.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/test_regions.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_embedding.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_quality.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_colors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_regions.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fix namespace
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_videos.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_celebs.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/video/test_text.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/celebs.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/videos/text.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

removed artifact processors for clarifai
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_embedding.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_quality.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/.gitignore
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/images/test_bboxes.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/images/test_colors.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/images/test_labels.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/images/test_regions.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/video/test_bboxes.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/video/test_colors.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/video/test_labels.py
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/video/test_regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_colors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/video/test_bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/video/test_colors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/video/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/video/test_regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/colors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/regions.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/.gitignore
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_video.py
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

gitignore for azure creds
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/.gitignore
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/images/test_regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/regions.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_vision.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixed tests
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/video/regions.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds azure modules to standard mods, fixes naming to be consistent
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/vision.py
  sdk/pylib/zmlpsdk/tests/test_video.py
  sdk/pylib/zmlpsdk/video.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

lint
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_vision.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes integration tests.
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove creds
  containers/zmlp-plugins-analysis/integration_tests/clarifai_integration_tests/clarifai-creds
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes bug with video length.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-834: fix TimelineSearchHits hide toggle without query
  applications/wallet/frontend/src/Asset/Video.js
  applications/wallet/frontend/src/Timeline/Metadata.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Metadata.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-915: update DataSourcesRow click to edit
  applications/wallet/frontend/src/DataSources/Row.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds Dockerfile and documentation to support running Scrounger in a docker container. Adds initial Superuser migration. Adds necessary env variables for setup in Docker and other deployments.
  .dockerignore
  applications/scrounger/Dockerfile
  applications/scrounger/Pipfile
  applications/scrounger/Pipfile.lock
  applications/scrounger/README.md
  applications/scrounger/api/scrounger/migrations/0001_data_migration_admin_user.py
  applications/scrounger/api/scrounger/migrations/__init__.py
  applications/scrounger/api/scrounger/settings.py
  applications/scrounger/gunicornconfig.py
  applications/scrounger/nginx/local.conf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Apply 1 suggestion(s) to 1 file(s)
  applications/scrounger/README.md
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixed clarifai bounding boxes
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/bboxes.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

More sensitive shot detection.
  sdk/pylib/zmlpsdk/tests/test_video.py
  sdk/pylib/zmlpsdk/video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added backoffs for quota exceptions.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/vision.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-910: update FlashMessage links
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Notice.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetDelete/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/Message.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FlashMessage/__tests__/__snapshots__/Errors.spec.js.snap
  applications/wallet/frontend/src/FlashMessage/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/colors.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates Scrounger Dockerfile and docs to be more ZMLP agnostic.
  applications/scrounger/.dockerignore
  applications/scrounger/Dockerfile
  applications/scrounger/README.md
  applications/scrounger/api/scrounger/settings.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-832: fixTimelineCaptions track index
  applications/wallet/frontend/src/Timeline/Captions.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates login view to support json and form data requests. Updates response string to account for inactive users.
  applications/scrounger/api/registration/tests.py
  applications/scrounger/api/registration/views.py
  applications/scrounger/setup.cfg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes json escaping for track names.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ClipService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes Azure text detection to put clips in 1 track.
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/vision.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates the User Admin page to show the Active status in the list display.
  applications/scrounger/api/registration/admin.py
  applications/scrounger/api/scrounger/settings.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removing pytest dependency and changing the test format to use the built in django test runner.
  applications/scrounger/Pipfile
  applications/scrounger/Pipfile.lock
  applications/scrounger/README.md
  applications/scrounger/api/conftest.py
  applications/scrounger/api/registration/tests.py
  applications/scrounger/setup.cfg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Delete clips when a asset is deleted
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/logging/EventLog.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ClipService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ClipServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Use same list of langs for cloud speech
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_speech.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes issue with google predictions not showing up
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests
