Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

sdk-unit-tests-all-stable-branches:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

Rearrged some files in common libs.
  lib/jvm-common/zmlp-apikey/pom.xml
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/AuthServerClient.kt
  lib/jvm-common/zmlp-service/pom.xml
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/logging/EventLog.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/security/SecurityUtils.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/AwsSystemStorage.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/GcsSystemStorage.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/SystemStorageService.kt
  lib/jvm-common/zmlp-util/pom.xml
  lib/jvm-common/zmlp-util/src/main/kotlin/com/zorroa/zmlp/util/Json.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/util/Json.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Moved auth-server onto common libs, utils and apikey.
  services/auth-server/auth-server/pom.xml
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/ApiKeyController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/AuthController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/PermissionController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/SecurityUtil.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/AbstractTest.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/ApiKeyControllerTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/AuthControllerTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/JwtAuthenticationTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Added jvm common to compose build.
  buildx
  docker-compose.yml
  lib/jvm-common/Dockerfile
  services/auth-server/pom.xml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/AwsSystemStorageService.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/GcsSystemStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting.
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ApiKey.kt
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/AuthServerClient.kt
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/Permission.kt
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ZmlpActor.kt
  lib/jvm-common/zmlp-apikey/src/test/kotlin/com/zorroa/zmlp/apikey/AuthServerClientTests.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/logging/EventLog.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/security/SecurityUtils.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/AwsSystemStorageService.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/GcsSystemStorageService.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/SystemStorageService.kt
  lib/jvm-common/zmlp-util/src/main/kotlin/com/zorroa/zmlp/util/Json.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added Encrypted fields and System Storage to zmlp-service.
  lib/jvm-common/zmlp-service/pom.xml
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/jpa/Encrypted.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/jpa/EncryptionListener.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/jpa/FieldEncryption.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/AwsSystemStorageService.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/StorageClients.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/SystemStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: Update styling form design QA and change layout spacing
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/index.js
  applications/wallet/frontend/src/NoProject/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
  applications/wallet/frontend/src/PageTitle/index.js
  applications/wallet/frontend/src/Table/Exception.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/error.svg
  applications/wallet/frontend/src/Table/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Moved all field crypt stuff into single class.
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/jpa/EncryptionListener.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/jpa/FieldEncryption.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/security/EncryptionService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Encypted APIkeys.
  services/auth-server/auth-server/pom.xml
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/Application.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/conf/DatabaseConfiguration.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaConverters.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/ApiKeyController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/main/resources/application.yml
  services/auth-server/auth-server/src/main/resources/db/migration/V1__init.sql
  services/auth-server/auth-server/src/main/resources/db/migration/V2__access_key.sql
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/AbstractTest.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/AuthControllerTests.kt
  services/auth-server/auth-server/src/test/resources/application-test.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-89 Adds the permissions api to the project context endpoints and adds the ZMLP_ONLY flag for single platform use endpoints.
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/permissions/README.md
  applications/wallet/app/permissions/__init__.py
  applications/wallet/app/permissions/admin.py
  applications/wallet/app/permissions/apps.py
  applications/wallet/app/permissions/migrations/__init__.py
  applications/wallet/app/permissions/serializers.py
  applications/wallet/app/permissions/tests/test_integration.py
  applications/wallet/app/permissions/tests/test_unit.py
  applications/wallet/app/permissions/views.py
  applications/wallet/app/projects/serializers.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

hide pagination on error
  applications/wallet/frontend/src/Table/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

delete comments
  applications/wallet/frontend/src/Table/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

expand table to screen height when displaying exception
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Table/Exception.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: add No Projects and Error illustrations
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/index.js
  applications/wallet/frontend/src/NoProject/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
  applications/wallet/frontend/src/NoProject/noProject.svg
  applications/wallet/frontend/src/PageTitle/index.js
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Table/Exception.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/error.svg
  applications/wallet/frontend/src/Table/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added unittests for EncryptionService.kt
  lib/jvm-common/zmlp-service/pom.xml
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/security/EncryptionService.kt
  lib/jvm-common/zmlp-service/src/test/kotlin/com/zorroa/zmlp/service/security/EncryptionServiceTests.kt
  lib/jvm-common/zmlp-service/src/test/kotlin/com/zorroa/zmlp/service/security/TestConfiguration.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed up docker-compose.
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated the apikey client with a method to get the signing key.
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ApiKey.kt
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/AuthServerClient.kt
  lib/jvm-common/zmlp-apikey/src/test/kotlin/com/zorroa/zmlp/apikey/AuthServerClientTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated Archivist dispatcher service to call new Authserver endpoint.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Implemented tests for new methods.
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/ApiKeyRepository.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaConverters.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/ApiKeyController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/main/resources/application.yml
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/AbstractTest.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/repository/ApiKeyCustomRepositoryTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/ApiKeyControllerTests.kt
  services/auth-server/auth-server/src/test/resources/application-test.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes missing import.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/TaskErrorDaoTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Added lib to ci/cd build.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix broken mock.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/AbstractTest.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Updated auth-server to respect system override key perm.
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/JwtAuthenticationTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Clean up and more docs on apikey client.
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ApiKey.kt
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ZmlpActor.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting.
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/conf/DatabaseConfiguration.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/conf/SwaggerConfig.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/ApiKeyRepository.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaConverters.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaQuery.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/ApiKeyController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/SecurityUtil.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/AbstractTest.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/repository/ApiKeyCustomRepositoryTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/ApiKeyControllerTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/JwtAuthenticationTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ApiKey.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/jpa/Encrypted.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/jpa/EncryptionListener.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/security/EncryptionService.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/AwsSystemStorageService.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/StorageClients.kt
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/SystemStorageService.kt
  lib/jvm-common/zmlp-service/src/test/kotlin/com/zorroa/zmlp/service/security/EncryptionServiceTests.kt
  lib/jvm-common/zmlp-service/src/test/kotlin/com/zorroa/zmlp/service/security/TestConfiguration.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed ktlint setup.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Initialize and consume clients from ZmlpApp
  client/java/src/main/java/examples/ZmplUtil.java
  client/java/src/main/java/examples/assets/AssetBase.java
  client/java/src/main/java/examples/assets/GetAssetAttr.java
  client/java/src/main/java/examples/assets/GetAssetById.java
  client/java/src/main/java/examples/assets/ImportAssets.java
  client/java/src/main/java/examples/assets/SearchElement.java
  client/java/src/main/java/examples/assets/UploadAssets.java
  client/java/src/main/java/examples/datasource/CreateDataSource.java
  client/java/src/main/java/examples/datasource/DataSourceBase.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added similarity search back in.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetSearch.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetSearchService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetSearchServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

removed elementQuery
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetSearch.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetSearchService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetSearchServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Removing unnecessary class
  client/java/src/main/java/examples/ZmplUtil.java
  client/java/src/main/java/examples/assets/GetAssetAttr.java
  client/java/src/main/java/examples/assets/GetAssetById.java
  client/java/src/main/java/examples/assets/ImportAssets.java
  client/java/src/main/java/examples/assets/SearchElement.java
  client/java/src/main/java/examples/assets/UploadAssets.java
  client/java/src/main/java/examples/datasource/CreateDataSource.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Removed special element query.
  client/python/pylib/zmlp/asset.py
  client/python/pylib/zmlp/tests/test_asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated Zmlp Constructor Call
  client/java/src/main/java/examples/assets/GetAssetAttr.java
  client/java/src/main/java/examples/assets/GetAssetById.java
  client/java/src/main/java/examples/assets/ImportAssets.java
  client/java/src/main/java/examples/assets/SearchElement.java
  client/java/src/main/java/examples/assets/UploadAssets.java
  client/java/src/main/java/examples/datasource/CreateDataSource.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Rename current update stuff to index.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update dependency @sentry/browser to v5.11.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency eslint-plugin-react to v7.18.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*
