Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)

aws transcribe + integration + unit tests
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/mock-data/job_response.pk
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/mock-data/transcribe.dat
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/mock-data/transcribe.pk
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/mock-data/transcribe_job.pk
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

uncomment has_audio
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/transcribe.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

skip unit tests without credentials
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_transcribe.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updated Azure stuff to use different key env vars.
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/tests/test_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/util.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-833: add TimelineRuler click to time
  applications/wallet/frontend/src/Timeline/Ruler.js
  applications/wallet/frontend/src/Timeline/__tests__/Ruler.spec.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Ruler.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a silly typo in the task_env.json deployment.
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds tests for timelines with queries, corrects clip queries and combination method for LabelConfidence and Text search
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixed tests, update docstrings, add write to timeline
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/.gitignore
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/__init__.py
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/mock-data/mocked_requests_get.pk
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/utils/audio.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

normalize confidence values for aws rekog processors
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/celebs.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_text.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/text.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added classes which allow us to use image based APIs on videos.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_timeline.py
  sdk/pylib/zmlpsdk/clips.py
  sdk/pylib/zmlpsdk/tests/test_clips.py
  sdk/pylib/zmlpsdk/tests/test_video.py
  sdk/pylib/zmlpsdk/video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Azure terraform
  deployment/terraform/main.tf
  deployment/terraform/modules/azure-ml/main.tf
  deployment/terraform/modules/azure-ml/outputs.tf
  deployment/terraform/modules/azure-ml/variables.tf
  deployment/terraform/modules/azure-ml/versions.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes bad naming in the azure terraform module.
  deployment/terraform/modules/azure-ml/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds scrounger application directory, pipenv, and readme
  applications/scrounger/Pipfile
  applications/scrounger/Pipfile.lock
  applications/scrounger/README.md
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-909: add CreateAccountSuccess page
  applications/wallet/frontend/pages/create-account-success.js
  applications/wallet/frontend/src/Authentication/index.js
  applications/wallet/frontend/src/CreateAccount/Success.js
  applications/wallet/frontend/src/CreateAccount/__tests__/Success.spec.js
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/Success.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/index.spec.js
  applications/wallet/frontend/src/CreateAccount/helpers.js
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/FlashMessage/index.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/envelope.svg
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/index.spec.js
  applications/wallet/frontend/src/Login/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add SingleLabelConfidenceQuery function
  client/python/pylib/zmlp/search.py
  client/python/pylib/zmlp/tests/test_search.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixed an error I just introduced
  client/python/pylib/zmlp/tests/test_search.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds the required aws bucket to terraform.
  deployment/terraform/main.tf
  deployment/terraform/modules/aws-ml/main.tf
  deployment/terraform/modules/aws-ml/outputs.tf
  deployment/terraform/modules/aws-ml/variables.tf
  deployment/terraform/modules/aws-ml/versions.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

changed boost mode to sum
  client/python/pylib/zmlp/search.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency cypress to v5.4.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-config-prettier to v6.13.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency http-proxy-middleware to v1.0.6
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency lint-staged to v10.4.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update jest monorepo
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update react monorepo to v16.14.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency swr to v0.3.6
  applications/wallet/frontend/__mocks__/swr.js
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates urls endpoint to agg for the timelines.
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/assets/views.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-910: underline FlashMessage links
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Notice.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/index.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetDelete/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSources/index.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/Message.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FlashMessage/Errors.js
  applications/wallet/frontend/src/FlashMessage/__tests__/__snapshots__/Errors.spec.js.snap
  applications/wallet/frontend/src/FlashMessage/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/index.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added some audio util functions.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/mock-data/transcribe.json
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/utils/audio.py
  sdk/pylib/zmlpsdk/audio.py
  sdk/pylib/zmlpsdk/tests/test_audio.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes issue with audio extract method.
  sdk/pylib/zmlpsdk/audio.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Throw if getting project ID is None
  sdk/pylib/zmlpsdk/base.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added extra functios to proxy module.
  sdk/pylib/zmlpsdk/proxy.py
  sdk/pylib/zmlpsdk/tests/test_proxy.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updated google cloud speech to use new audio methods.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_speech.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Refactored AWS client support.
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/celebs.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_celebs.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_faces.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_text.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/text.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removed need for prroject id
  sdk/pylib/zmlpsdk/base.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

azure video wip init commit
  containers/zmlp-plugins-analysis/integration_tests/azure_integration_tests/test_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/azure/video.py
  sdk/pylib/zmlpsdk/audio.py
  sdk/pylib/zmlpsdk/proxy.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Moved all the extra timeline storage method into own module.
  containers/zmlp-plugins-analysis/integration_tests/aws_integration_tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/mock-data/transcribe.vtt
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_timeline.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/timeline.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/transcribe.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_timeline.py
  sdk/pylib/zmlpsdk/video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fix building the content string for analysis namespace.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/transcribe.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests
