Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

lint
  lib/jvm-common/zmlp-service/src/test/kotlin/com/zorroa/zmlp/service/jpa/ConvertersTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix comments
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-224: add Project Usage Plan
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated ApiKey to use the standard StringSetConverter
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/jpa/Converters.kt
  lib/jvm-common/zmlp-service/src/test/kotlin/com/zorroa/zmlp/service/jpa/ConvertersTests.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaConverters.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

call dat API
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/Project/UsageBar.js
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/UsagePlan.spec.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Project/__tests__/index.spec.js
  applications/wallet/frontend/src/Project/index.js
  applications/wallet/frontend/src/Styles/colors.js
  applications/wallet/frontend/src/Subscriptions/__mocks__/subscriptions.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update package.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/Project/UsageBar.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/UsagePlan.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/UsagePlan.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

unrelated change
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds user tracking to sentry error logs in teh wallet django app.
  applications/wallet/app/wallet/settings/__init__.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-157: add link to Job Error Stack Trace
  applications/wallet/frontend/src/JobErrors/Row.js
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix comments 2
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/index.spec.js
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/index.js
  applications/wallet/frontend/src/JobErrorStackTrace/index.js
  applications/wallet/frontend/src/JsonDisplay/index.js
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Visualizer/Metadata.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Create Row.spec.js
  applications/wallet/frontend/src/JobErrors/__tests__/Row.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-210: add metadata
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/index.spec.js
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/index.js
  applications/wallet/frontend/src/JobErrorStackTrace/index.js
  applications/wallet/frontend/src/JsonDisplay/index.js
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Visualizer/Content.js
  applications/wallet/frontend/src/Visualizer/Metadata.js
  applications/wallet/frontend/src/Visualizer/PaginationLink.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/Pagination.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-224: add Project Usage Plan
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/UsageBar.js
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/UsagePlan.spec.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Project/__tests__/index.spec.js
  applications/wallet/frontend/src/Project/index.js
  applications/wallet/frontend/src/Styles/colors.js
  applications/wallet/frontend/src/Subscriptions/__mocks__/subscriptions.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-157: add link to Job Error Stack Trace
  applications/wallet/frontend/src/JobErrors/Row.js
  applications/wallet/frontend/src/JobErrors/__tests__/Row.spec.js
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issue with job counters incrementing wrong on errors and doubles incrementing.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/JobDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskErrorDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V11__job_counters.sql
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/JobDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/TaskDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/TaskErrorDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DispatcherServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/JobServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

lint
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/JpaConverters.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Updates structure of subscrition limits and insert dummy usage
  applications/wallet/app/subscriptions/models.py
  applications/wallet/app/subscriptions/serializers.py
  applications/wallet/app/subscriptions/tests/test_integration.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes missed test
  applications/wallet/app/subscriptions/tests/test_integration.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

build asset accordion
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/Accordion.js
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/index.js
  applications/wallet/frontend/src/JobErrorStackTrace/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix tests
  applications/wallet/frontend/src/JobErrorAsset/__tests__/Accordion.spec.js
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/Accordion.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix tests
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add bottom padding
  applications/wallet/frontend/src/JobErrorAsset/Accordion.js
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/Accordion.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

consolidate asset code
  applications/wallet/frontend/src/JobErrorAsset/Accordion.js
  applications/wallet/frontend/src/JobErrorAsset/__tests__/Accordion.spec.js
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/Accordion.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/__tests__/index.spec.js
  applications/wallet/frontend/src/JobErrorAsset/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix padding, rebase
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/index.js
  applications/wallet/frontend/src/JobErrorStackTrace/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix asset thumbnail
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes mxnet keywords to cast score to a float.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/tests/test_processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

lint
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

lower min conf score for mxnet keywords to 0.1
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed the kwconf plugin and added python client support.
  client/python/examples/kwconf_search.py
  client/python/pylib/zmlp/search.py
  client/python/pylib/zmlp/tests/test_search.py
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetSearchServiceTests.kt
  services/elasticsearch/es-kwconf/src/main/kotlin/com/zorroa/es/kwconf/KwConfPlugin.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  client/python/examples/kwconf_search.py
  client/python/pylib/zmlp/tests/test_search.py
  services/elasticsearch/es-kwconf/src/main/kotlin/com/zorroa/es/kwconf/KwConfPlugin.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update dependency @sentry/browser to v5.14.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency eslint-config-airbnb to v18.1.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency http-proxy-middleware to v1.0.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency jest-emotion to v10.0.32
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency webpack-bundle-analyzer to v3.6.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches
