Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

plugin-container-tests:
  image: boonai/docker-buildx
  stage: test
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx --plugins
  ...

boonai-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: latest
  retry: 2
  before_script:
  ...

boonai-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: qa
  retry: 2
  before_script:
  ...

boonai-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

boonai-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

Added tugboat to CI/CD.
  gitlab-ci/1.test.gitlab-ci.yml
  gitlab-ci/2.push.gitlab-ci.yml
  gitlab-ci/3.deploy.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updates the tugboat terraform to enable the cloudbuild api and add the correct roles to the cloudbuild service account.
  deployment/terraform/main.tf
  deployment/terraform/modules/tugboat/main.tf
  deployment/terraform/modules/tugboat/variables.tf
  deployment/terraform/variables.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes a bug in the wallet box imager that would cause it to fail on objects that bbox == None.
  applications/wallet/app/assets/utils.py
  applications/wallet/app/datasets/tests/test_integration.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added some tests
  services/tugboat/server.py
  services/tugboat/tests.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes tugboat deploy
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
  services/tugboat/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes bug with pub-subber.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/PublisherService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Python 2.7 fixes
  services/tugboat/server.py
  services/tugboat/tests.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: update ModelMatrixLink
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/MatrixLink.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/__tests__/MatrixLink.spec.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/MatrixLink.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/EmptyMinimap.js
  applications/wallet/frontend/src/ModelMatrix/Minimap.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Assign tugboat it's own permissions.
  client/boonsdk/pylib/boonsdk/app/model_app.py
  deployment/terraform/modules/tugboat/main.tf
  deployment/terraform/modules/tugboat/variables.tf
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update main.tf
  deployment/terraform/modules/tugboat/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

lint
  client/boonsdk/pylib/boonsdk/app/model_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Improve model upload API
  client/boonsdk/pylib/boonsdk/app/model_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
  client/boonsdk/pylib/boonsdk/entity/model.py
  client/boonsdk/pylib/boonsdk/tools/boonctl/model.py
  containers/plugins-train/pylib/boonai_train/automl/labels.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Remove nulls.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/resources/application.properties
  services/jvm-common/boonai-util/src/main/kotlin/boonai/common/util/Json.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Automl fix
  containers/plugins-train/pylib/boonai_train/automl/test/labels_test.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: further replace Models with Datasets
  applications/wallet/frontend/src/DataVisualization/index.js
  applications/wallet/frontend/src/Filters/MenuSection.js
  applications/wallet/frontend/src/Filters/__tests__/MenuSection.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/MenuSection.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/Labels.js
  applications/wallet/frontend/src/MetadataPretty/LabelsContent.js
  applications/wallet/frontend/src/MetadataPretty/LabelsMenu.js
  applications/wallet/frontend/src/MetadataPretty/__mocks__/labels.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Labels.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/LabelsContent.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/LabelsMenu.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Labels.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsContent.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsMenu.spec.js.snap
  applications/wallet/frontend/src/Model/shape.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/Visualizer/Content.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added pubsub perms
  deployment/terraform/modules/tugboat/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixed secret location
  deployment/terraform/modules/tugboat/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Random tugboat change
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Perms and logging
  deployment/terraform/modules/tugboat/main.tf
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixed permissions issue
  deployment/terraform/modules/tugboat/main.tf
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added more perms
  deployment/terraform/modules/tugboat/main.tf
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates the tugboat deploy to use a service account with a custom node pool.
  deployment/terraform/main.tf
  deployment/terraform/modules/tugboat/main.tf
  deployment/terraform/modules/tugboat/variables.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

removes unused entries.
  deployment/terraform/modules/tugboat/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes the service account email address for tugboat deploy.
  deployment/terraform/modules/tugboat/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes a tugboat deploy bug.
  deployment/terraform/modules/tugboat/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added stackdriver logging.
  deployment/terraform/modules/tugboat/main.tf
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added more perms.
  deployment/terraform/modules/tugboat/main.tf
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Changed servicee name to be mod-modeId.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Allow unauthenticated.
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added cloud run view to Archivist
  deployment/terraform/modules/archivist/main.tf
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes issue where getModel call needs to be project authed
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added internal thread auth to model deploy
  services/archivist/archivist/src/main/kotlin/boonai/archivist/security/AuthServer.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adding logging of model deploy
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes model endpoint in processor.
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes endpoint perms for apply modules.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/PipelineController.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update reach-ui monorepo to v0.15.3
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency cypress to v7.7.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
