Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

sdk-unit-tests-all-stable-branches:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

WAl-88: Update test to use mock
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/helpers.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-88: update Add Project User
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/FormError/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/FormResponse.js
  applications/wallet/frontend/src/ProjectUsersAdd/__mocks__/helpers.js
  applications/wallet/frontend/src/ProjectUsersAdd/__mocks__/projectUsersAdd.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/Form.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-162: add DataSourcesEdit form
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/pages/[projectId]/data-sources/[dataSourceId]/edit.js
  applications/wallet/frontend/src/DataSource/__mocks__/dataSource.js
  applications/wallet/frontend/src/DataSources/Menu.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/Form.js
  applications/wallet/frontend/src/DataSourcesEdit/Modules.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency husky to v4.2.3
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency swr to v0.1.17
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Load Files. Check files and batch size.
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchUploadFileCrawler.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Test search by FileType
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchUploadFileCrawler.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Search by mimetype
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchUploadFileCrawler.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Upload Files with BatchUploadFileCrawler
  client/java/src/main/java/com/zorroa/zmlp/client/app/AssetApp.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchUploadFileCrawler.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-88: Add copy link input for add project user form
  applications/wallet/frontend/src/ProjectUsersAdd/CopyLink.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/FormResponse.js
  applications/wallet/frontend/src/ProjectUsersAdd/__mocks__/helpers.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/Form.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add callback function after batch upload
  client/java/src/main/java/com/zorroa/zmlp/client/app/AssetApp.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchUploadFileCrawler.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Crawler bug fix. Example. BatchUpload class description
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchUploadFileCrawler.java
  client/java/src/main/java/examples/assets/BatchUploadFileCrawlerExample.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
  client/java/src/test/resources/test-file.json1
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-88: Remove incorrect test function
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/helpers.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-88: add Copy Link
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/CopyLink.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/FormResponse.js
  applications/wallet/frontend/src/ProjectUsersAdd/__mocks__/helpers.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/Form.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

checkpoint -- create tristate and tristate icon
  applications/wallet/frontend/src/Checkbox/TriState.js
  applications/wallet/frontend/src/Checkbox/TriStateIcon.js
  applications/wallet/frontend/src/Checkbox/__tests__/TriState.spec.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/TriState.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix tests
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

checkpoint
  applications/wallet/frontend/src/Checkbox/TriState.js
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/checkboxpartial.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

rename icon
  applications/wallet/frontend/src/Checkbox/TriStateIcon.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/TriState.spec.js.snap
  applications/wallet/frontend/src/Icons/checkboxdash.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

remove superfluous event listener
  applications/wallet/frontend/src/Checkbox/TriState.js
  applications/wallet/frontend/src/Checkbox/__tests__/TriState.spec.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/TriState.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

use variants for tristate states
  applications/wallet/frontend/src/Checkbox/TriState.js
  applications/wallet/frontend/src/Checkbox/TriStateIcon.js
  applications/wallet/frontend/src/Checkbox/__tests__/TriState.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update checkbox name
  applications/wallet/frontend/src/Checkbox/TriState.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

rename component
  applications/wallet/frontend/src/Checkbox/TriState.js
  applications/wallet/frontend/src/Checkbox/TriStateIcon.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update dash icon
  applications/wallet/frontend/src/Checkbox/TriStateIcon.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/TriState.spec.js.snap
  applications/wallet/frontend/src/Icons/checkboxdash.svg
  applications/wallet/frontend/src/Icons/dash.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

save Damien from the margin monster
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-135: update password reset email template
  applications/wallet/app/wallet/templates/registration/password_reset_email.html
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-162: remove DataSourcesEdit link
  applications/wallet/frontend/src/DataSources/Menu.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/Menu.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/ResetPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/ResetPassword/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-211. Updates the docker compose fields to use the docker hub images by default.
  buildx
  docker-compose.local-build-all.yml
  docker-compose.local-build-wallet.yml
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update design, remove use of tristate button
  applications/wallet/frontend/src/DataSourcesAdd/AutomaticAnalysis.js
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/googleCloud.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Modifies backend password reset confirmation test to pass with new template.
  applications/wallet/app/wallet/tests/test_views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

address comments
  applications/wallet/frontend/src/DataSourcesAdd/AutomaticAnalysis.js
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/Icons/googleCloud.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes wallet password reset email sending to include an html body. Breaks the wallet password reset email template out into a base email template and inherited template.
  applications/wallet/app/registration/serializers.py
  applications/wallet/app/registration/templates/registration/logged_out.html
  applications/wallet/app/registration/templates/registration/login.html
  applications/wallet/app/registration/templates/registration/password_reset_email.html
  applications/wallet/app/registration/templates/registration/password_reset_subject.txt
  applications/wallet/app/registration/tests/test_integration.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/templates/email/base-email.html
  applications/wallet/app/wallet/templates/registration/password_reset_email.html
  applications/wallet/app/wallet/tests/test_views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds a default email to the wallet settings.
  applications/wallet/app/wallet/settings/__init__.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-162: build tristate checkbox; design update
  applications/wallet/frontend/src/Checkbox/TriState.js
  applications/wallet/frontend/src/Checkbox/TriStateIcon.js
  applications/wallet/frontend/src/Checkbox/__tests__/TriState.spec.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/TriState.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/AutomaticAnalysis.js
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/dash.svg
  applications/wallet/frontend/src/Icons/googleCloud.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates documentation for running the docker-compose env.
  README.md
  applications/wallet/README.md
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates documentation for running the docker-compose env.
  applications/wallet/README.md
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update
  applications/wallet/app/wallet/templates/email/base-email.html
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/AccountPassword/FormSuccess.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSources/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/index.spec.js
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/FormResponse.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/ResetPassword/helpers.js
  applications/wallet/frontend/src/ResetPassword/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes wallet password reset email sending to include an html body. Breaks the wallet password reset email template out into a base email template and inherited template.
  applications/wallet/app/registration/serializers.py
  applications/wallet/app/registration/templates/registration/logged_out.html
  applications/wallet/app/registration/templates/registration/login.html
  applications/wallet/app/registration/templates/registration/password_reset_email.html
  applications/wallet/app/registration/templates/registration/password_reset_subject.txt
  applications/wallet/app/registration/tests/test_integration.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/templates/email/base-email.html
  applications/wallet/app/wallet/templates/registration/password_reset_email.html
  applications/wallet/app/wallet/tests/test_views.py
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/AccountPassword/FormSuccess.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSources/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/index.spec.js
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/FormResponse.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/ResetPassword/helpers.js
  applications/wallet/frontend/src/ResetPassword/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Automatically migrate and create project Zero in wallet and zmlp. Adds the inception key to terraform.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/wallet/migrations/0002_auto_20200219_0052.py
  deployment/terraform/main.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/variables.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Catches more errors when attempting to sync with zmlp
  applications/wallet/app/wallet/migrations/0002_auto_20200219_0052.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*
