Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*

Update aws-java-sdk monorepo to v1.12.11
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes issue where analyst was checking wrong host for open port.
  services/analyst/pylib/analyst/executor.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added endpoint for more direct file uploads.
  client/boonsdk/pylib/boonsdk/client.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added function to Dataset to provide an asset search
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/AssetPayloads.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Dataset.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updating mappings to store boonLibId on assets.
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v8-20210623.json
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v9-20210623.json
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added basic concept of a BoonLib
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/BoonLib.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/BoonLibDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/BoonLibController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/BoonLibService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V18__boonlib.sql
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/BoonLibControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/BoonLibServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Addd concept of boonlib storage.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/AwsBoonLibStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/BoonLibStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsBoonLibStorageService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/storage/AwsBoonLibStorageServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Implemented integtation of boonlibs into file serving and datasets
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/ProjectStorage.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/DatasetController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/FileStorageController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/JobLaunchService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/DatasetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/DatasetServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Crreated processor for importing datasets into boonlib
  containers/plugins-core/pylib/boonai_core/boonlib/__init__.py
  containers/plugins-core/pylib/boonai_core/boonlib/dataset.py
  containers/plugins-core/pylib/boonai_core/boonlib/tests/test_dataset.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes isse where timeline analysis is launched even though its disabled. x
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Find One- DAO, Service, Enpoint, Tests
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/BoonLib.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/BoonLibDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/BoonLibController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/BoonLibService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/BoonLibDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/BoonLibControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/BoonLibServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

ktlint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/BoonLib.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/BoonLibDaoTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

boonlib search
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/BoonLibDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/BoonLibController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/BoonLibService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/BoonLibDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/BoonLibControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/BoonLibServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Boonlib Update
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/BoonLib.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/BoonLibController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/BoonLibService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/BoonLibControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/BoonLibServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Rollback lib updates
  services/archivist/archivist/pom.xml
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/BoonLibService.kt
  services/archivist/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds new tier info of new clarifai processors to metrics service.
  services/metrics/app/metrics/records/models.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-115: update Cypress test
  applications/wallet/cypress/integration/frontend/Users/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency prettier to v2.3.2
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update jest monorepo to v27.0.5
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency cypress to v7.6.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency @sentry/browser to v6.8.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update nextjs monorepo to v11.0.1
  applications/wallet/frontend/next.config.js
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Exit boondocks if the port can't be bound.
  containers/boondocks/pylib/boondocks/daemon.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added filename to TestAsset
  containers/boonflow/pylib/boonflow/testing.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Removed object inheritance
  client/boonsdk/pylib/boonsdk/app/asset_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: update ModelsAdd
  applications/wallet/frontend/src/AllProjects/Card.js
  applications/wallet/frontend/src/AllProjects/Content.js
  applications/wallet/frontend/src/AllProjects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DatasetModels/__tests__/Table.spec.js
  applications/wallet/frontend/src/DatasetModels/__tests__/__snapshots__/Table.spec.js.snap
  applications/wallet/frontend/src/DatasetModels/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Datasets/__tests__/index.spec.js
  applications/wallet/frontend/src/Datasets/index.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Labels.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelTypes/__mocks__/modelTypes.js
  applications/wallet/frontend/src/Models/__mocks__/models.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/Table.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/index.spec.js
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/ModelsAdd/Form.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelsAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelsAdd/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Exposed BoonLibs in SDK and BZ
  client/boonczar/pylib/boonczar/app/admin_app.py
  client/boonczar/pylib/boonczar/app/boonlib_app.py
  client/boonczar/pylib/boonczar/app/test/test_boonlib_app.py
  client/boonczar/pylib/boonczar/tools/bz/boonlib.py
  client/boonczar/pylib/boonczar/tools/bz/main.py
  client/boonsdk/pylib/boonsdk/app/__init__.py
  client/boonsdk/pylib/boonsdk/app/boon_app.py
  client/boonsdk/pylib/boonsdk/app/boonlib_app.py
  client/boonsdk/pylib/boonsdk/entity/boonlib.py
  client/boonsdk/pylib/boonsdk/tools/boonctl/boonlib.py
  client/boonsdk/pylib/boonsdk/tools/boonctl/main.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Combine train/test upload tasks.
  client/boonsdk/pylib/boonsdk/tools/boonctl/dataset.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Minor fixes to dataset conversion for boonlibs
  containers/plugins-core/pylib/boonai_core/boonlib/dataset.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Implemented boonlib importing and exporting.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/BoonLib.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Dataset.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/BoonLibDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/BoonLibController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/DatasetController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/BoonLibService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/JobLaunchService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/AwsBoonLibStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/BoonLibStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsBoonLibStorageService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V18__boonlib.sql
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/BoonLibDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/BoonLibControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/DatasetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/BoonLibServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/storage/AwsBoonLibStorageServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/storage/BoonLibAssetImporterTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-117: update Metadata styles
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/Icon.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/Group.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/TableRow.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/MenuOption.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/MenuSection.spec.js.snap
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/MetadataCues/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/Content.js
  applications/wallet/frontend/src/MetadataPretty/NoResults.js
  applications/wallet/frontend/src/MetadataPretty/Predictions.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsContent.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Aggregate.spec.js.snap
  applications/wallet/frontend/src/WebhooksAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksEdit/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

fix count
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/BoonLibStorageService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Have to add additional migration.
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V18__boonlib.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V19__boonlib2.sql
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

No need to check for null when creating boon lib.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/BoonLibService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes two potential 500 responses on the label_info_tool endpoint.
  applications/wallet/app/datasets/tests/test_integration.py
  applications/wallet/app/datasets/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes comment in a test.
  applications/wallet/app/datasets/tests/test_integration.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency io.micrometer:micrometer-core to v1.7.1
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency django-axes to v5.20.0
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update kotlin.version to v1.5.20
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
  services/auth-server/pom.xml
  services/elasticsearch/pom.xml
  services/jvm-common/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa
