Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*

Resolves WAL-1084. Converts the metrics service to listen to the metrics...
  deployment/terraform/main.tf
  deployment/terraform/modules/archivist/outputs.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/metrics/variables.tf
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
  services/metrics/README.md
  services/metrics/app/metrics/management/__init__.py
  services/metrics/app/metrics/management/commands/__init__.py
  services/metrics/app/metrics/management/commands/pubsublistener.py
  services/metrics/app/metrics/records/migrations/0007_alter_apicall_unique_together.py
  services/metrics/app/metrics/records/models.py
  services/metrics/app/metrics/records/tasks.py
  services/metrics/app/metrics/records/tests/test_management.py
  services/metrics/app/metrics/records/tests/test_views.py
  services/metrics/app/metrics/records/views.py
  services/metrics/app/metrics/settings/__init__.py
  services/metrics/start-servers.sh
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added debug loogging in boonfunc
  containers/boonflow/pylib/boonflow/env.py
  containers/boonfunction/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Removed bad labels arg
  client/boonsdk/pylib/boonsdk/tools/boonctl/model.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

add ebv var to tugboat deploy
  services/tugboat/server.py
  services/tugboat/tmpl/boonfunction/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added timeout of 30m
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds state filtering for jobs list.
  applications/wallet/app/jobs/tests/test_integration.py
  applications/wallet/app/jobs/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

add region to service delete call.
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes bugs in the metrics pubsub listener.
  services/metrics/app/metrics/management/commands/pubsublistener.py
  services/metrics/app/metrics/records/tests/test_management.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1089: filter Jobs by states
  applications/wallet/frontend/src/Checkbox/index.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/index.spec.js
  applications/wallet/frontend/src/Jobs/index.js
  applications/wallet/frontend/src/Menu/Button.js
  applications/wallet/frontend/src/Pagination/Jump.js
  applications/wallet/frontend/src/Pagination/Link.js
  applications/wallet/frontend/src/Pagination/Next.js
  applications/wallet/frontend/src/Pagination/Page.js
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Table/Head.js
  applications/wallet/frontend/src/Table/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added quiet flag to gcloud commands
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Give boonfuctions an empty service account.
  deployment/terraform/modules/tugboat/main.tf
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

adding proxy image to the created segmented image
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Lowered memory for boon functions,
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added new model props and a model state.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/ModelDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V22__model_props2.sql
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added additional model props for files and dependencies.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/ModelDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V22__model_props2.sql
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/ModelControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update server.py
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Unit tests, reference in archivist, pylint
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/StandardMods.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates the model id for the clarifai label detection processor.
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/images/labels.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates to fit video
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

pylint
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

minor client fixes
  client/boonsdk/pylib/boonsdk/app/asset_app.py
  client/boonsdk/pylib/boonsdk/tools/boonctl/dataset.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

additional tugboat perms
  deployment/terraform/modules/tugboat/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

mlbbq/boonfunc fixes
  containers/boonfunction/Dockerfile
  containers/boonfunction/requirements.txt
  containers/boonfunction/server.py
  services/mlbbq/Dockerfile
  services/mlbbq/bin/server.py
  services/mlbbq/pylib/mlbbq/main.py
  services/mlbbq/requirements.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

sset 30 second timeout on boonfunc for now
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes broken mlbbq ci testing.
  gitlab-ci/1.test.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixed MLBBQ tests
  services/mlbbq/pylib/mlbbq/main.py
  services/mlbbq/pylib/mlbbq/tests/test_face.py
  services/mlbbq/pylib/mlbbq/tests/test_modules.py
  services/mlbbq/pylib/mlbbq/tests/test_similarity.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes issue where efficientnet has rescaling built in.
  containers/plugins-train/pylib/boonai_train/tf2/train.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Allow dataset import to filter labels.
  client/boonsdk/pylib/boonsdk/tools/boonctl/dataset.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Renamed the TF files.
  containers/plugins-analysis/pylib/boonai_analysis/custom/__init__.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/labels.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_labels.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_tf2.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tf2.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added more logging around deleting images
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added model deletion.
  client/boonsdk/pylib/boonsdk/app/model_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes broken model depends.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes issue with face training using wrong faces
  containers/plugins-train/pylib/boonai_train/face_rec/train.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Republish modules if the depends change.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds new model attrs and updates unappliedChanges calculation.
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Implementation #2 for boonfunc
  client/boonsdk/docs/source/conf.py
  client/boonsdk/docs/source/func.rst
  client/boonsdk/docs/source/index.rst
  client/boonsdk/pylib/boonsdk/func/__init__.py
  client/boonsdk/pylib/boonsdk/func/env.py
  client/boonsdk/pylib/boonsdk/func/proxy.py
  client/boonsdk/pylib/boonsdk/func/response.py
  client/boonsdk/pylib/boonsdk/func/tests/test_env.py
  client/boonsdk/pylib/boonsdk/func/tests/test_proxy.py
  client/boonsdk/pylib/boonsdk/func/tests/test_response.py
  client/boonsdk/setup.py
  containers/boonfunction/Dockerfile
  containers/boonfunction/function/function.py
  containers/boonfunction/requirements.txt
  containers/boonfunction/server.py
  containers/boonfunction/tests.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixed function env to have 1 min timeout
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Base boonfunc off our base image not boonflow
  containers/boonflow/Dockerfile
  containers/py3-base/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Make sure boonfunc containers are built off correct version.
  containers/boonfunction/Dockerfile
  containers/boonfunction/requirements.txt
  services/tugboat/server.py
  services/tugboat/tmpl/boonfunction/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa
