Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

sdk-unit-tests-all-stable-branches:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

Rebuilt the integration tests.
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/README.md
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/__init__.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/gcp-creds.json
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_language.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_speech.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_videointelligence.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_lang.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  sdk/pylib/zmlpsdk/testing.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting.
  client/python/examples/ds_import.py
  client/python/examples/file_import.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

removed creds.
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/.gitignore
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/gcp-creds.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/automl.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_lang.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/Permission.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/automl.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated readme.
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/README.md
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Renamed cloud vision test file.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Everything broken apart but faces needs to be fixed up.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Used new classes for integration tests.
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: MR changes based on comments
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Change placement of account and account password pages
  applications/wallet/frontend/pages/[projectId]/account/index.js
  applications/wallet/frontend/pages/[projectId]/account/password.js
  applications/wallet/frontend/pages/account/index.js
  applications/wallet/frontend/pages/account/password.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update tests and snapshots
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/index.js
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/index.spec.js
  applications/wallet/frontend/src/Projects/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Upload with BatchAssetSpec or List of Asset Spec
  client/java/src/main/java/com/zorroa/zmlp/client/app/AssetApp.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchAssetSpec.java
  client/java/src/main/java/examples/assets/UploadAssets.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes a silly terraform syntax error.
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update google faces to add elements.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v1.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Allow integration tests to run in IDEA.
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_language.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_speech.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_videointelligence.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Make the concept of a processor namespace consistent with the google face stuff.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/detection.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/recognition.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/test_detection.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/test_recognition.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: Fix padding and add section title
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/Info.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: Add mock authentication helpers
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

mock user
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issue in ES mapping.
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v1.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

fix coverage
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixes label detection tests.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds support for batch creation of Project Users
  applications/wallet/app/projectusers/tests/test_integration.py
  applications/wallet/app/projectusers/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

build pw reset
  applications/wallet/frontend/src/JobDetails/Status.js
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ResetPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/ResetPassword/helpers.js
  applications/wallet/frontend/src/ResetPassword/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issue with projectId header was not being passed to auth server. Adds some actual unit tests.
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/AuthServerClient.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/ApiKeyAuthorizationFilter.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/MockMvcTest.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/security/ApiKeyAuthorizationFilterTests.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/JwtAuthenticationTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

tests
  applications/wallet/frontend/src/JobDetails/Status.js
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ResetPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/ResetPassword/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removing logs and Rethrowing exception to final client
  client/java/src/main/java/com/zorroa/zmlp/client/app/AssetApp.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: fix update profile
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__mocks__/helpers.js
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/index.spec.js
  applications/wallet/frontend/src/AccountProfile/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add button group component
  applications/wallet/frontend/src/Button/Group.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add button group to account password
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/FormSuccess.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update account password snapshot
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add new button group
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/FormSuccess.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/Button/Group.js
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Refactor sidebar link and fix account url
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/index.js
  applications/wallet/frontend/src/Sidebar/Link.js
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/Tabs/Link.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Remove debugger statement
  applications/wallet/frontend/src/Tabs/Link.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*
