Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

sdk-unit-tests-all-stable-branches:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

Resolves WAL-295. Adds the ability to edit data sources to the data source api.
  applications/wallet/app/datasources/serializers.py
  applications/wallet/app/datasources/tests/test_integration.py
  applications/wallet/app/datasources/views.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes container tests.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added an "id" property to FileStorage objects which makes them easier to fetch.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/ProjectStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/FileStorageController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/FileStorageControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Refactored the file_storage instance to utilize a new ID property.
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/asset.py
  client/python/pylib/zmlp/client.py
  client/python/pylib/zmlp/tests/test_asset.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/tests/test_processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/tests/test_processors.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/tests/test_shot_clipifier.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/tests/test_time_clipifier.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/processors.py
  containers/zmlp-plugins-core/pylib/zmlp_core/image/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/oclient.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/tests/test_importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/tests/test_oclient.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/video.py
  containers/zmlp-plugins-core/pylib/zmlp_core/video/importers.py
  sdk/pylib/zmlpsdk/__init__.py
  sdk/pylib/zmlpsdk/base.py
  sdk/pylib/zmlpsdk/proxy.py
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/tests/test_proxy.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Project Creation
  applications/zvi-cloud-proxy/pylib/properties.yaml
  applications/zvi-cloud-proxy/pylib/requirements.txt
  applications/zvi-cloud-proxy/pylib/zvi-cloud-proxy/__init__.py
  applications/zvi-cloud-proxy/pylib/zvi-cloud-proxy/crawler.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Batch upload
  applications/zvi-cloud-proxy/pylib/zvi-cloud-proxy/crawler.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removes unused serializer.
  applications/wallet/app/datasources/serializers.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add Input isRequired, CheckboxGroup description, and global error
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/Group.js
  applications/wallet/frontend/src/Checkbox/__tests__/Group.spec.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/Group.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/Input/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Create Assets 'search' endpoint in order to be able to search ZMLP using any standard ES query.
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/assets/views.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed elements from python client code.
  client/python/pylib/zmlp/asset.py
  client/python/pylib/zmlp/tests/test_asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated the storage net_native_url methods to take a stored file object.
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added function to normalize an array of points against an image width/height.
  sdk/pylib/zmlpsdk/proxy.py
  sdk/pylib/zmlpsdk/tests/test_proxy.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Some convinience methods for testing.
  sdk/pylib/zmlpsdk/testing.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated clarifai to new structure.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated google processors to new structure.
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated struct for object detection.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/tests/test_processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated mxnet module to new structure.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/tests/test_processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated OCR processor
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/ocr/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/ocr/tests/processors_tests.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds the migration for Agreements
  applications/wallet/app/agreements/migrations/0002_auto_20200331_0131.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added new GCP mods.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Updated kwconf plugin to handle new field schema.
  services/elasticsearch/es-kwconf/src/main/kotlin/com/zorroa/es/kwconf/KwConfPlugin.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update ES mapping to remove elements and merge them into analysis.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Element.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/FileStorageController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v1.json
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/FileStorageControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetSearchServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

lint
  client/python/pylib/zmlp/app/asset_app.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated similiary and kwconf search.
  client/python/pylib/zmlp/search.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

lint
  sdk/pylib/zmlpsdk/base.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

lint
  client/python/pylib/zmlp/asset.py
  client/python/pylib/zmlp/search.py
  sdk/pylib/zmlpsdk/proxy.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/FileStorageController.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update wallet zmlp update function to use raw data instead of the validated data. This fixes a bug where UUID objects were being passed to the zmlp client.
  applications/wallet/app/datasources/serializers.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  client/python/pylib/zmlp/asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes missing dependency for client lib.
  client/python/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixes SDK test.
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Created Dockerfile and docker-compose structure
  applications/zvi-cloud-proxy/Dockerfile
  applications/zvi-cloud-proxy/docker-compose.yml
  applications/zvi-cloud-proxy/pylib/properties.yaml
  applications/zvi-cloud-proxy/pylib/zvi-cloud-proxy/__init__.py
  applications/zvi-cloud-proxy/pylib/zvi-cloud-proxy/crawler.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed pathlib depend.
  client/python/pylib/zmlp/app/asset_app.py
  client/python/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed pathlib2 occurences.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/processors.py
  containers/zmlp-plugins-core/pylib/zmlp_core/image/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/tests/test_importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/tests/test_oclient.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/util/media.py
  containers/zmlp-plugins-core/pylib/zmlp_core/video/importers.py
  sdk/pylib/zmlpsdk/storage.py
  sdk/setup.py
  services/analyst/requirements.txt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Wallet: Fixes a bug in the batch project user adding api.
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes linting issue.
  applications/wallet/app/projects/tests/test_integration.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Consolidate FormAlert and FlashMessage
  applications/wallet/frontend/src/Account/UsagePlan.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/Card.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/Notice.js
  applications/wallet/frontend/src/AccountPassword/__tests__/Notice.spec.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Notice.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/index.js
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/index.spec.js
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FlashMessage/index.js
  applications/wallet/frontend/src/FormAlert/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FormAlert/__tests__/index.spec.js
  applications/wallet/frontend/src/FormAlert/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/ResetPassword/Request.js
  applications/wallet/frontend/src/ResetPassword/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add proper conditional in front of all FlashMessage usages
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/Request.js
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add missing background hex
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/colors.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Remove space hogging
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FlashMessage/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix Login
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*
