Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-latest, metrics-dockerhub-build-push-qa, metrics-deploy-development, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

wallet-integration-test-suite:
  stage: test
  image: cypress/browsers:node14.7.0-chrome84
  before_script:
  - cd applications/wallet/cypress
  - npm ci
  script:
  - npm run cli -- --browser chrome --headless --record --group Backend --spec 'integration/backend/**/*'
  ...

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

metrics-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    DJANGO_SETTINGS_MODULE: metrics.settings.testing
    DEBUG: 'true'
    PG_DB_HOST: postgres
    PG_DB_USER: metrics
    PG_DB_PASSWORD: 2mAPDWhuiYdIW69u
    POSTGRES_DB: metrics
    POSTGRES_USER: metrics
  ...

metrics-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

Fixes issue with painless script.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/IndexTaskService.kt
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v6.painless
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/ModelControllerTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Adds Provider sort_index
  applications/wallet/app/modules/migrations/0006_provider_sort_index_ordering.py
  applications/wallet/app/modules/migrations/0007_set_provider_order.py
  applications/wallet/app/modules/models.py
  applications/wallet/app/modules/serializers.py
  applications/wallet/app/modules/tests/test_integration.py
  applications/wallet/app/modules/views.py
  applications/wallet/app/wallet/settings/dev-server-template.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Adds sort index to list display for Providers.
  applications/wallet/app/modules/admin.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Updating data migration name
  applications/wallet/app/modules/migrations/0007_data_migration_set_provider_order.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Removing more ZMLP references
  applications/wallet/app/wallet/settings/dev-server-template.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Resolves WAL-993. Adds a sort order field to the provider model.
  applications/wallet/app/modules/admin.py
  applications/wallet/app/modules/migrations/0006_provider_sort_index_ordering.py
  applications/wallet/app/modules/migrations/0007_data_migration_set_provider_order.py
  applications/wallet/app/modules/models.py
  applications/wallet/app/modules/serializers.py
  applications/wallet/app/modules/tests/test_integration.py
  applications/wallet/app/modules/views.py
  applications/wallet/app/wallet/settings/dev-server-template.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Add the metrics env var to the gcp marketplace deployment.
  deployment/terraform/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/variables.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

wip
  applications/workbench/Dockerfile
  applications/workbench/README.md
  applications/workbench/docker-compose.yml
  applications/workbench/requirements.txt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency @sentry/browser to v6.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency next to v10.0.7
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency eslint-config-prettier to v8
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Lock file maintenance
  applications/wallet/Pipfile.lock
  services/metrics/Pipfile.lock
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-latest, metrics-dockerhub-build-push-qa, metrics-deploy-development, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Added bz command for admin stuff.
  client/boonczar/bin/bz
  client/boonczar/pylib/boonczar/app/index_app.py
  client/boonczar/pylib/boonczar/entity/index.py
  client/boonczar/pylib/boonczar/tools/__init__.py
  client/boonczar/pylib/boonczar/tools/bz/__init__.py
  client/boonczar/pylib/boonczar/tools/bz/index.py
  client/boonczar/pylib/boonczar/tools/bz/main.py
  client/boonczar/pylib/boonczar/tools/bz/project.py
  client/boonczar/setup.py
  client/boonsdk/examples/env.sh
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/IndexRoute.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/IndexRouteDao.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

WAL-994: update Cypress to Boon AI
  applications/wallet/cypress/README.md
  applications/wallet/cypress/cypress.env.json.template
  applications/wallet/cypress/integration/frontend/Models/index.js
  applications/wallet/cypress/integration/frontend/Visualizer/AssetLabeling.js
  applications/wallet/cypress/integration/frontend/Visualizer/Assets.js
  applications/wallet/cypress/integration/frontend/Visualizer/Filters.js
Due: wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update .eslintrc
  applications/wallet/frontend/.eslintrc
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency eslint-config-prettier to v8
  applications/wallet/frontend/.eslintrc
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Added endpoints for open/close
  client/boonczar/pylib/boonczar/app/index_app.py
  client/boonczar/pylib/boonczar/tools/bz/index.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/IndexRoutingController.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/IndexRoutingControllerTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

update cypress
  applications/wallet/cypress/README.md
  applications/wallet/cypress/integration/frontend/Visualizer/Filters.js
Due: wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

zorroa->boonai
  applications/workbench/data/notebooks/COCO Annotations.ipynb
  applications/workbench/data/notebooks/Clustering.ipynb
  applications/workbench/data/notebooks/Face Recognition Confusion Matrix.ipynb
  applications/workbench/data/notebooks/Import Flickr Images.ipynb
  applications/workbench/data/notebooks/Import Imagenet Images.ipynb
  applications/workbench/data/notebooks/Import Pomological Dataset.ipynb
  applications/workbench/data/notebooks/Import Test Images.ipynb
  applications/workbench/data/notebooks/Updating_Labels.ipynb
  applications/workbench/data/notebooks/Video Deep Search.ipynb
  applications/workbench/data/notebooks/ZIFAR Confusion Matrix.ipynb
  applications/workbench/docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

mount points
  applications/workbench/docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

fix minimap empty row
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/MatrixLink.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/Minimap.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Updating respose value to enum value
  containers/plugins-core/pylib/boonai_core/office/oclient.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

update endpoint to fetch confidence score
  applications/wallet/frontend/src/Assets/__mocks__/assets.js
  applications/wallet/frontend/src/ModelMatrix/Preview.js
  applications/wallet/frontend/src/ModelMatrix/PreviewContent.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/Preview.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency cypress to v6.5.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update reach-ui monorepo to v0.13.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

sandbox changes
  applications/sandbox/Dockerfile
  applications/sandbox/requirements.txt
  applications/sandbox/sandbox/sandbox.py
  applications/sandbox/sandbox/scripts/browse.py
  applications/sandbox/sandbox/scripts/hello_world.py
  applications/sandbox/sandbox/scripts/object_detect.py
  applications/sandbox/sandbox/scripts/object_detect_search.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency Django to v3.1.7
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Fixes failing vidint tests
  containers/plugins-analysis/pylib/boonai_analysis/google/tests/mock-data/detect-explicit.dat
  containers/plugins-analysis/pylib/boonai_analysis/google/tests/mock-data/detect-labels.dat
  containers/plugins-analysis/pylib/boonai_analysis/google/tests/mock-data/detect-logos.dat
  containers/plugins-analysis/pylib/boonai_analysis/google/tests/mock-data/detect-objects.dat
  containers/plugins-analysis/pylib/boonai_analysis/google/tests/mock-data/detect-text.dat
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Fixes calls to add higher than 1 predication score
  containers/boonflow/pylib/boonflow/analysis.py
  containers/plugins-analysis/pylib/boonai_analysis/aws/tests/test_video.py
  containers/plugins-analysis/pylib/boonai_analysis/google/cloud_dlp.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Formatting changes to bz
  client/boonczar/pylib/boonczar/entity/index.py
  client/boonczar/pylib/boonczar/tools/bz/index.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Removing ignore anotation
  services/officer/src/test/kotlin/com/zorroa/TestServer.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update aws-java-sdk monorepo to v1.11.961
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency com.aspose:aspose-pdf to v21.2
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency com.aspose:aspose-slides to v21.2
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency com.google.cloud:google-cloud-automl to v1.3.5
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency com.google.cloud:google-cloud-pubsub to v1.111.1
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency com.google.cloud:google-cloud-storage to v1.113.11
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency org.postgresql:postgresql to v42.2.19
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update elasticsearch.version to v7.11.1
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
  services/elasticsearch/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Path conditions:
  wallet-integration-test-suite: any of: applications/wallet/cypress/**/*
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*, applications/wallet/Pipfile*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  metrics-backend-test-suite: (any of: services/metrics/app/**/*) or ((any of: **/*) or ((any of: services/metrics/app/**/*) or (any of: **/*)))
  metrics-dockerhub-build-push-latest: any of: services/metrics/**/*
  metrics-dockerhub-build-push-qa: any of: **/*
  metrics-deploy-development: any of: services/metrics/**/*
  metrics-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/boonsdk/**/*.py, client/boonlab/**/*.py, containers/**/*.py, services/analyst/**/*.py, services/mlbbq/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/boonsdk/**/*, client/boonlab/**/*, containers/boonflow/**/*, containers/boondocks/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
  boonai-services-build-artifacts: (any of: services/analyst/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*, services/jvm-common/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/analyst/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*) or (any of: **/*)
  boonai-services-unit-tests: (any of: services/analyst/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*, services/jvm-common/**/*) or (any of: **/*)
