Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

plugin-container-tests:
  image: boonai/docker-buildx
  stage: test
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx --plugins
  ...

boonai-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: latest
  retry: 2
  before_script:
  ...

boonai-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: qa
  retry: 2
  before_script:
  ...

boonai-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

boonai-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

Adds deployment configuration for connecting metrics service to redis.
  deployment/terraform/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/metrics/variables.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

WAL-1025: make TimelineScrollbar resizable
  applications/wallet/frontend/src/Timeline/Playhead.js
  applications/wallet/frontend/src/Timeline/Resize.js
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/ScrollbarRightHandle.js
  applications/wallet/frontend/src/Timeline/ScrollbarThumb.js
  applications/wallet/frontend/src/Timeline/__tests__/Playhead.spec.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Playhead.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Timeline/helpers.js
  applications/wallet/frontend/src/Timeline/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Resolves WAL-1058. Changes the metrics service create view to do an upsert.
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
  services/metrics/app/metrics/records/apps.py
  services/metrics/app/metrics/records/migrations/0004_alter_apicall_managers.py
  services/metrics/app/metrics/records/models.py
  services/metrics/app/metrics/records/serializers.py
  services/metrics/app/metrics/records/tests/test_views.py
  services/metrics/app/metrics/records/views.py
  services/metrics/app/metrics/settings/__init__.py
  services/metrics/app/metrics/settings/testing.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes the pipenv lock file.
  services/metrics/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes tests to use celery tasks correctly.
  services/metrics/app/metrics/records/tasks.py
  services/metrics/app/metrics/records/tests/test_views.py
  services/metrics/app/metrics/records/views.py
  services/metrics/app/metrics/settings/testing.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes a bug in the settings.
  services/metrics/app/metrics/settings/__init__.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes linter.
  services/metrics/app/metrics/records/tasks.py
  services/metrics/app/metrics/records/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-52: add WebhooksEdit
  applications/wallet/frontend/pages/[projectId]/webhooks/[webhookId]/edit/index.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/webhooks.svg
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/Webhooks/Row.js
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Webhooks/__tests__/index.spec.js
  applications/wallet/frontend/src/Webhooks/index.js
  applications/wallet/frontend/src/WebhooksEdit/Form.js
  applications/wallet/frontend/src/WebhooksEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/WebhooksEdit/helpers.js
  applications/wallet/frontend/src/WebhooksEdit/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update index.js
  applications/wallet/frontend/src/WebhooksAdd/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes issue with empty trigger array. Renames enum members for webhooks
  client/boonsdk/pylib/boonsdk/entity/webhook.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/WebHook.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/WebHookDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/WebHookService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/WebhookControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/WebHookServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

updated docs
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/WebHook.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Resolves MAIN-58. Makes metrics record inserts async to speed up processing.
  deployment/terraform/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/metrics/variables.tf
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
  services/metrics/app/metrics/__init__.py
  services/metrics/app/metrics/records/tasks.py
  services/metrics/app/metrics/records/tests/test_views.py
  services/metrics/app/metrics/records/views.py
  services/metrics/app/metrics/settings/__init__.py
  services/metrics/app/metrics/settings/testing.py
  services/metrics/start-servers.sh
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Renamed test files.
  services/archivist/archivist/src/main/resources/webhooks/AssetAnalyzed.json
  services/archivist/archivist/src/main/resources/webhooks/AssetModified.json
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-52: add Webhooks QuickLink
  applications/wallet/frontend/src/Account/Card.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataVisualization/reducer.js
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/Timeline/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

adds archivist health check to wallet startup
  applications/wallet/start-servers.sh
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds an env var to the metrics service so the celery worker can pick up the django settings.
  deployment/terraform/modules/metrics/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updates the names of the webhook triggers stored in the wallet db.
  applications/wallet/app/webhooks/migrations/0001_initial.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adding a flag: aux.delete-after-processing, and deleting after analyzing
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Makes the start-server scripts for wallet and metrics a little safer.
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
  applications/wallet/start-servers.sh
  services/metrics/Dockerfile
  services/metrics/start-servers.sh
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1067: Organizations design review
  applications/wallet/frontend/src/Modal/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Modal/index.js
  applications/wallet/frontend/src/Organization/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Organization/index.js
  applications/wallet/frontend/src/OrganizationProjects/Aggregate.js
  applications/wallet/frontend/src/OrganizationProjects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/OrganizationProjects/index.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/Metrics.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Webhooks/Row.js
  applications/wallet/frontend/src/Webhooks/__mocks__/webhooks.js
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksAdd/Form.js
  applications/wallet/frontend/src/WebhooksAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksEdit/Form.js
  applications/wallet/frontend/src/WebhooksEdit/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

fix docs url
  applications/wallet/frontend/src/DataSourcesAdd/Copy.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

fix typo
  applications/wallet/frontend/src/Webhooks/__mocks__/webhooks.js
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

WAL-1067: Organizations design review
  applications/wallet/frontend/src/DataSourcesAdd/Copy.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Modal/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Modal/index.js
  applications/wallet/frontend/src/Organization/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Organization/index.js
  applications/wallet/frontend/src/OrganizationProjects/Aggregate.js
  applications/wallet/frontend/src/OrganizationProjects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/OrganizationProjects/index.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/Metrics.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Webhooks/Row.js
  applications/wallet/frontend/src/Webhooks/__mocks__/webhooks.js
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksAdd/Form.js
  applications/wallet/frontend/src/WebhooksAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksEdit/Form.js
  applications/wallet/frontend/src/WebhooksEdit/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updating es variable
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adding aux.transient to FileUpload
  client/boonsdk/pylib/boonsdk/entity/asset.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency cypress to v7.1.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency eslint-config-prettier to v8.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency http-proxy-middleware to v1.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency webpack-bundle-analyzer to v4.4.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Lock file maintenance
  applications/wallet/Pipfile.lock
  services/metrics/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

ktlint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

updating build aux dict method call
  client/boonsdk/pylib/boonsdk/entity/asset.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update 1.test.gitlab-ci.yml
  gitlab-ci/1.test.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

fix user
  applications/wallet/cypress/README.md
  applications/wallet/cypress/integration/frontend/ProjectUsers/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency cypress to v7.1.0
  applications/wallet/cypress/README.md
  applications/wallet/cypress/integration/frontend/ProjectUsers/index.js
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  gitlab-ci/1.test.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-52: remove Webhooks feature flag
  applications/wallet/frontend/src/Account/Card.js
  applications/wallet/frontend/src/Sidebar/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Changed payload for webhook
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/ProjectDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/WebHookPublisherService.kt
  services/archivist/archivist/src/main/resources/webhooks/ASSET_ANALYZED.json
  services/archivist/archivist/src/main/resources/webhooks/ASSET_MODIFIED.json
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ProjectDaoTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added additional headers for hook
  services/swivel/server.py
  services/swivel/tests.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
