Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

plugin-container-tests:
  image: boonai/docker-buildx
  stage: test
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx --plugins
  ...

boonai-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: latest
  retry: 2
  before_script:
  ...

boonai-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: qa
  retry: 2
  before_script:
  ...

boonai-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

boonai-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

lint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/WebHookPublisherService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ProjectDaoTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

faster Archivist startup
  docker-compose.yml
  services/archivist/docker/jvm.options
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-52: remove dangling feature flags
  applications/wallet/frontend/src/DataVisualization/reducer.js
  applications/wallet/frontend/src/Model/Details.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updates webhook descriptions.
  applications/wallet/app/webhooks/migrations/0001_initial.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixing transient assets tests
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/AssetPayloads.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Ktlint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1072: add Menu maxHeight overflow
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Job/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Menu/index.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsMenu.spec.js.snap
  applications/wallet/frontend/src/ModelLabels/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/OrganizationOwners/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/OrganizationProjects/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/OrganizationUserProjects/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/OrganizationUsers/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Task/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/TaskError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskErrors/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Aggregate.spec.js.snap
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/Menu.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

resize from center
  applications/wallet/frontend/src/Timeline/ScrollbarRightHandle.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

address edge cases
  applications/wallet/frontend/src/Timeline/ScrollbarRightHandle.js
  applications/wallet/frontend/src/Timeline/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updated Archivist for storing training args.
  services/archivist/archivist/pom.xml
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/SwaggerConfig.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Argument.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Zps.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/ModelDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/security/MultipleWebSecurityConfig.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ArgValidationService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/WebHookService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/util/StaticUtils.kt
  services/archivist/archivist/src/main/resources/application.properties
  services/archivist/archivist/src/main/resources/args/models/KNN_CLASSIFIER.json
  services/archivist/archivist/src/main/resources/args/models/TF_CLASSIFIER.json
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V15__model_args.sql
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/ModelControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ArgValidationServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
  services/archivist/pom.xml
  services/jvm-common/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added missing webhook app tests
  client/boonsdk/pylib/boonsdk/app/tests/test_webhook_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added support for model args to client.
  client/boonsdk/pylib/boonsdk/app/model_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
  client/boonsdk/pylib/boonsdk/client.py
  client/boonsdk/pylib/boonsdk/entity/model.py
  client/boonsdk/pylib/boonsdk/util.py
  containers/boondocks/pylib/boondocks/daemon.py
  containers/plugins-core/pylib/boonai_core/office/oclient.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update aws-java-sdk monorepo to v1.11.1001
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-cells to v21.4
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-pdf to v21.4
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-slides to v21.4
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency org.pitest:pitest-maven to v1.6.5
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency org.redisson:redisson to v3.15.4
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

removed from std
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/PipelineResolverService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Disable endpoint logging.
  services/swivel/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added swivel endpoint to see size of queue.
  docker-compose.yml
  services/swivel/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Renamed queue functioin
  services/swivel/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updated MLBBQ to use SimEngine
  containers/plugins-analysis/pylib/boonai_analysis/boonai/clips.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/similarity.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/knn.py
  containers/plugins-analysis/pylib/boonai_analysis/utils/simengine.py
  containers/plugins-analysis/pylib/boonai_analysis/utils/tests/test_simengine.py
  docker-compose.yml
  services/mlbbq/Dockerfile
  services/mlbbq/pylib/mlbbq/main.py
  services/mlbbq/pylib/mlbbq/simhash.py
  services/mlbbq/pylib/mlbbq/tests/test_main.py
  services/mlbbq/pylib/mlbbq/tests/test_simhash.py
  services/mlbbq/requirements.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1073: Webhooks design review
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/OrganizationOwnersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/OrganizationProjectsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/SectionTitle/index.js
  applications/wallet/frontend/src/TaskError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Webhooks/Row.js
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksAdd/Form.js
  applications/wallet/frontend/src/WebhooksAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/WebhooksEdit/Form.js
  applications/wallet/frontend/src/WebhooksEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksEdit/__tests__/index.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Handling async long redis tasks
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/RedisConfiguration.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/IdleMessagesVerifier.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/listener/MessageListener.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1040: remove autocomplete on all Text Input
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Notice.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartForm/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartHistogram/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Charts/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/Input/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Input/index.js
  applications/wallet/frontend/src/LabelEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/OrganizationOwnersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/OrganizationProjectsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/Confirm.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksEdit/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-52: add Webhooks Cypress coverage
  applications/wallet/cypress/integration/frontend/DataSources/index.js
  applications/wallet/cypress/integration/frontend/Webhooks/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

make left handle draggable
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/ScrollbarLeftHandle.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

consolidate handle code
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/ScrollbarHandle.js
  applications/wallet/frontend/src/Timeline/ScrollbarRightHandle.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

rename variables
  applications/wallet/frontend/src/Timeline/ScrollbarHandle.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Resolves WAL-1070. Fixes some confusion matrix bugs.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/models/utils.py
  client/boonsdk/pylib/boonsdk/entity/model.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1025: make TimelineScrollbarLeftHandle draggable
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/ScrollbarHandle.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes failing tests.
  client/boonsdk/pylib/boonsdk/entity/tests/test_model.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Resolves WAL-1070. Fixes some confusion matrix bugs.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/models/utils.py
  client/boonsdk/pylib/boonsdk/entity/model.py
  client/boonsdk/pylib/boonsdk/entity/tests/test_model.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1074: improve high density ModelMatrix
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/MatrixLink.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/Label.js
  applications/wallet/frontend/src/ModelMatrix/Row.js
  applications/wallet/frontend/src/ModelMatrix/__mocks__/matrix.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/Preview.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/__tests__/index.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

updating transient variable location to temp
  client/boonsdk/pylib/boonsdk/entity/asset.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

downgrade netty from 4.1.63 to 53
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1077: fix AssetVideo resize
  applications/wallet/frontend/src/Asset/Video.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/Asset.spec.js.snap
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

updating tmp dic
  client/boonsdk/pylib/boonsdk/entity/asset.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

removing aux var from json
  client/boonsdk/pylib/boonsdk/entity/asset.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
