Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

plugin-container-tests:
  image: boonai/docker-buildx
  stage: test
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx --plugins
  ...

boonai-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: latest
  retry: 2
  before_script:
  ...

boonai-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: qa
  retry: 2
  before_script:
  ...

boonai-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

boonai-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

Disabling redis repositories
  services/archivist/archivist/src/main/resources/application.properties
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  services/archivist/archivist/src/main/resources/application.properties
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes some pagination issues.
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/projects/viewsets.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixing broken metrics tests.
  gitlab-ci/1.test.gitlab-ci.yml
  services/metrics/__init__.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Finishes tests for webhooks crud.
  applications/wallet/app/assets/views.py
  applications/wallet/app/datasources/serializers.py
  applications/wallet/app/datasources/tests/test_integration.py
  applications/wallet/app/datasources/views.py
  applications/wallet/app/jobs/views.py
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
  applications/wallet/app/modules/views.py
  applications/wallet/app/permissions/views.py
  applications/wallet/app/projects/viewsets.py
  applications/wallet/app/registration/tests/test_integration.py
  applications/wallet/app/roles/tests/test_integration.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/webhooks/serializers.py
  applications/wallet/app/webhooks/tests/test_integration.py
  applications/wallet/app/webhooks/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fully implements the webhook test endpoint.
  applications/wallet/app/assets/views.py
  applications/wallet/app/datasources/views.py
  applications/wallet/app/models/views.py
  applications/wallet/app/permissions/views.py
  applications/wallet/app/webhooks/migrations/0001_initial.py
  applications/wallet/app/webhooks/serializers.py
  applications/wallet/app/webhooks/tests/test_integration.py
  applications/wallet/app/webhooks/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Makes the api more browsable.
  applications/wallet/app/projects/serializers.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/viewsets.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/webhooks/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes migrations.
  applications/wallet/app/projects/migrations/0011_auto_20210410_0146.py
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Validate hook url
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/WebHookPublisherService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/WebHookService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency @emotion/jest to v11.3.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency Django to v3.2
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency cypress to v6.9.1
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency eslint to v7.24.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency eslint-plugin-react to v7.23.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency http-proxy-middleware to v1.1.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update reach-ui monorepo to v0.15.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Lock file maintenance
  applications/wallet/Pipfile.lock
  services/metrics/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

worbench WIP
  applications/workbench/Dockerfile
  applications/workbench/data/notebooks/Clustering_GENERIC.ipynb
  applications/workbench/data/notebooks/Import Test Images.ipynb
  applications/workbench/data/notebooks/Search and Display.ipynb
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Gcs recursive delete splited into 10k batches
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/ProjectStorageService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes a typo.
  applications/wallet/app/projects/viewsets.py
  applications/wallet/app/webhooks/tests/test_integration.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

updating index for logs
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsProjectStorageService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Changes the metrics service create view to do an upsert.
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
  services/metrics/app/metrics/records/models.py
  services/metrics/app/metrics/records/views.py
  services/metrics/app/metrics/settings/__init__.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1061: hide Pagination when server sends all results
  applications/wallet/frontend/src/Table/Content.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency cypress to v7
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

WAL-1022: hide ProjectUsersRow menu for owners
  applications/wallet/frontend/src/ProjectUsers/Row.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

changed automatic label names to "auto group N"
  containers/plugins-train/pylib/boonai_train/knn/train.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Resolves MAIN-51. Creates the wallet Webhooks API.
  applications/wallet/Pipfile.lock
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/assets/views.py
  applications/wallet/app/conftest.py
  applications/wallet/app/datasources/serializers.py
  applications/wallet/app/datasources/tests/test_integration.py
  applications/wallet/app/datasources/views.py
  applications/wallet/app/jobs/views.py
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
  applications/wallet/app/modules/views.py
  applications/wallet/app/permissions/views.py
  applications/wallet/app/projects/migrations/0011_auto_20210410_0146.py
  applications/wallet/app/projects/serializers.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/viewsets.py
  applications/wallet/app/registration/tests/test_integration.py
  applications/wallet/app/roles/tests/test_integration.py
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/urls.py
  applications/wallet/app/webhooks/__init__.py
  applications/wallet/app/webhooks/admin.py
  applications/wallet/app/webhooks/apps.py
  applications/wallet/app/webhooks/migrations/0001_initial.py
  applications/wallet/app/webhooks/migrations/__init__.py
  applications/wallet/app/webhooks/models.py
  applications/wallet/app/webhooks/serializers.py
  applications/wallet/app/webhooks/tests/__init__.py
  applications/wallet/app/webhooks/tests/test_integration.py
  applications/wallet/app/webhooks/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes linging errors.
  applications/wallet/app/projects/models.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updates org owners admin to display owners. Fixes bad data migration when...
  applications/wallet/app/organizations/admin.py
  applications/wallet/app/projects/migrations/0010_auto_20210406_0028.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/setup.cfg
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
  applications/wallet/app/wallet/tests/test_utils.py
  applications/wallet/app/wallet/utils.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency azure-cognitiveservices-vision-computervision to v0.8.0
  applications/workbench/requirements.txt
  containers/plugins-analysis/requirements.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency django-axes to v5.14.0
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency pandas to v1.2.4
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes another migration bug.
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds missing lib for flake8.
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds another missing lib for flake8.
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

updating records app name now that the inits are properly configured
  services/metrics/app/metrics/records/apps.py
  services/metrics/app/metrics/settings/testing.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes a migration issue in Wallet.
  applications/wallet/app/wallet/utils.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes a migration issue in Wallet.
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
  applications/wallet/app/wallet/utils.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes a bug where Triggers were being added to the wallet superadmin.
  applications/wallet/app/webhooks/admin.py
  applications/wallet/app/webhooks/models.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds the postgres extra model manager and a migration.
  services/metrics/app/metrics/records/migrations/0004_alter_apicall_managers.py
  services/metrics/app/metrics/records/models.py
  services/metrics/app/metrics/records/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
