Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

sdk-unit-tests-all-stable-branches:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

WAL-365: reset all pages when switching project
  applications/wallet/frontend/src/ProjectUsersAdd/index.js
  applications/wallet/frontend/src/SuspenseBoundary/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added ocr support.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/ocr/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/ocr/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/ocr/tests/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/ocr/tests/processors_tests.py
  containers/zmlp-plugins-analysis/requirements.txt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes tests
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/PipelineControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineResolverServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Resolves WAL-378. Fixes a bug where 500 errors were returned instead 403s.
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/exceptions.py
  applications/wallet/app/wallet/settings/__init__.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds tests and support for more ZMLP exceptions.
  applications/wallet/app/wallet/exceptions.py
  applications/wallet/app/wallet/tests/test_exceptions.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds roles onto the login response for the user.
  applications/wallet/app/conftest.py
  applications/wallet/app/wallet/serializers.py
  applications/wallet/app/wallet/tests/test_views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-323: load modules from API
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/Checkbox/Table.js
  applications/wallet/frontend/src/Checkbox/TableRow.js
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/Form.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesAdd/index.js
  applications/wallet/frontend/src/Modules/__mocks__/modules.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added search by name prefix
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/ApiKeyController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/ApiKeyControllerTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

cicd fix
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/ApiKeyControllerTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Resolves WAL-378. Fixes a bug where 500 errors were returned instead 403s.
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/exceptions.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/tests/test_exceptions.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Api Key Service Test Search By Prefix
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

cicd fix
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

fix it up!
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Bouncer/index.js
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__mocks__/projects.js
  applications/wallet/frontend/src/User/__mocks__/user.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update index.js
  applications/wallet/frontend/src/Bouncer/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-307: add Bouncer
  applications/wallet/frontend/.eslintrc
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Bouncer/index.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__mocks__/projects.js
  applications/wallet/frontend/src/Sidebar/__tests__/index.spec.js
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/User/__mocks__/user.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

wip
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/Debounce/helpers.js
  applications/wallet/frontend/src/Resizeable/index.js
  applications/wallet/frontend/src/Visualizer/Metadata.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add Overview
  applications/wallet/frontend/src/Overview/Cards.js
  applications/wallet/frontend/src/Overview/UsagePlan.js
  applications/wallet/frontend/src/Overview/__tests__/UsagePlan.spec.js
  applications/wallet/frontend/src/Overview/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/Overview/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Overview/__tests__/index.spec.js
  applications/wallet/frontend/src/Overview/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Increase commons size (hitting 10.22KB)
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update Prettier styling
  applications/wallet/frontend/src/Account/Cards.js
  applications/wallet/frontend/src/Account/Usage.js
  applications/wallet/frontend/src/Account/UsagePlan.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Clean up code spacing
  applications/wallet/frontend/src/Account/Cards.js
  applications/wallet/frontend/src/Account/Usage.js
  applications/wallet/frontend/src/Account/UsagePlan.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Format Usage specifically for Account Overview
  applications/wallet/frontend/src/Overview/Cards.js
  applications/wallet/frontend/src/Overview/Usage.js
  applications/wallet/frontend/src/Overview/UsagePlan.js
  applications/wallet/frontend/src/Overview/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/Overview/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update index.js
  applications/wallet/frontend/src/Account/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Remove Card usage
  applications/wallet/frontend/src/Account/Cards.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Rename Overview to Account
  applications/wallet/frontend/src/Account/Cards.js
  applications/wallet/frontend/src/Account/Usage.js
  applications/wallet/frontend/src/Account/UsagePlan.js
  applications/wallet/frontend/src/Account/__tests__/UsagePlan.spec.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/index.spec.js
  applications/wallet/frontend/src/Account/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add routing
  applications/wallet/frontend/pages/index.js
  applications/wallet/frontend/src/Projects/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add coverage for Account Overview routing
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Move NoProject logic to Account
  applications/wallet/frontend/src/Account/Cards.js
  applications/wallet/frontend/src/Account/Content.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/index.spec.js
  applications/wallet/frontend/src/Account/index.js
  applications/wallet/frontend/src/Project/shape.js
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/index.spec.js
  applications/wallet/frontend/src/Projects/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Modify Card and use
  applications/wallet/frontend/src/Account/Cards.js
  applications/wallet/frontend/src/Account/UsagePlan.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Card/index.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/GettingStarted.js
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix tests
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/index.spec.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/shape.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-380. Adds the provider model.
  applications/wallet/app/modules/admin.py
  applications/wallet/app/modules/migrations/0001_initial.py
  applications/wallet/app/modules/migrations/0002_auto_20200325_2339.py
  applications/wallet/app/modules/models.py
  applications/wallet/app/wallet/settings/__init__.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix Card
  applications/wallet/frontend/src/Account/Card.js
  applications/wallet/frontend/src/Account/Cards.js
  applications/wallet/frontend/src/Account/Content.js
  applications/wallet/frontend/src/Account/UsagePlan.js
  applications/wallet/frontend/src/Account/__tests__/Card.spec.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/Card.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/index.spec.js
  applications/wallet/frontend/src/Card/index.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/GettingStarted.js
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Project/shape.js
  applications/wallet/frontend/src/Subscription/shape.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Wrap in h3
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adding name prefix as attribute and removing SearchByNamePrefix Endpoint, Service and class
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/ApiKeyController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/ApiKeyControllerTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-357: add Account dashboard
  applications/wallet/frontend/package.json
  applications/wallet/frontend/pages/index.js
  applications/wallet/frontend/src/Account/Card.js
  applications/wallet/frontend/src/Account/Content.js
  applications/wallet/frontend/src/Account/Usage.js
  applications/wallet/frontend/src/Account/UsagePlan.js
  applications/wallet/frontend/src/Account/__tests__/Card.spec.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/Card.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/index.spec.js
  applications/wallet/frontend/src/Account/index.js
  applications/wallet/frontend/src/Card/index.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/GettingStarted.js
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/index.spec.js
  applications/wallet/frontend/src/Projects/index.js
  applications/wallet/frontend/src/Subscription/shape.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Pipeline fixing
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Removing OpenClass from ApiKey
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

update api endpoint; handle fallback
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/__tests__/index.spec.js
  applications/wallet/frontend/src/JobErrorAsset/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add fallback icons
  applications/wallet/frontend/public/icons/fallback_1024.png
  applications/wallet/frontend/public/icons/fallback_256.png
  applications/wallet/frontend/public/icons/fallback_26.png
  applications/wallet/frontend/public/icons/fallback_512.png
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrorAsset/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update with fixed image
  applications/wallet/frontend/public/icons/fallback_2x.png
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*
