Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

Renamed get_proxy_level to get_proxy_level_path and added a get_proxy_level method which just returns the proxy record.
  sdk/pylib/zmlpsdk/proxy.py
  sdk/pylib/zmlpsdk/tests/test_proxy.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated containers to deal with api changes.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/tests/test_processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/automl.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/tests/test_processors.py
  containers/zmlp-plugins-analysis/requirements.txt
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/shot_clipify.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/util.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_image.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-170: use User.projectId instead of Router.projectId
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/helpers.js
  applications/wallet/frontend/src/Authentication/index.js
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/__tests__/index.spec.js
  applications/wallet/frontend/src/Layout/index.js
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/NoProject/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectSwitcher/index.js
  applications/wallet/frontend/src/ProjectUser/__mocks__/projectUser.js
  applications/wallet/frontend/src/ProjectUsers/Menu.js
  applications/wallet/frontend/src/ProjectUsers/Row.js
  applications/wallet/frontend/src/ProjectUsers/__mocks__/projectUsers.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/Menu.spec.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/index.spec.js
  applications/wallet/frontend/src/Projects/index.js
  applications/wallet/frontend/src/Sidebar/Link.js
  applications/wallet/frontend/src/Sidebar/__tests__/index.spec.js
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/User/__mocks__/user.js
  applications/wallet/frontend/src/User/index.js
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added the simhash property to elements.
  client/python/pylib/zmlp/asset.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/tests/test_processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Asset Upload, Response and callback domain creation
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/AssetUploadCallback.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/AssetUploadStatus.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchCreateAssetsResponse.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchUploadAssetsRequest.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

FileUpload Method updated. JWT creation fixed. HTTP Method capitalized
  client/java/src/main/java/com/zorroa/zmlp/client/ZmlpClient.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Assets, Datasource methods updated. Tests updated.
  client/java/src/main/java/com/zorroa/zmlp/client/app/AssetApp.java
  client/java/src/main/java/com/zorroa/zmlp/client/app/DataSourceApp.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchAssetSpec.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchCreateAssetResponse.java
  client/java/src/main/java/examples/assets/ImportAssets.java
  client/java/src/main/java/examples/assets/UploadAssets.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/DataSourceAppTests.java
  client/java/src/test/resources/mock-import-files.json
  client/java/src/test/resources/mock-upload-assets.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Crawler call back strategy changed
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchUploadFileCrawler.java
  client/java/src/main/java/examples/assets/BatchUploadFileCrawlerExample.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

removed uneeded stuff for analysis container.
  containers/zmlp-plugins-analysis/Dockerfile
  containers/zmlp-plugins-analysis/get_models.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed regions and proxy from elements, renamed vector to simhash.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Element.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Cleaned up sim plugin code using kotlin foo
  services/elasticsearch/es-similarity/src/main/kotlin/com/zorroa/zmlp/similarity/SimilarityPlugin.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Handle renamed fields and data types.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v1.json
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetSearchServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DataSourceServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/JobLauncherServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineModServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineResolverServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  sdk/pylib/zmlpsdk/proxy.py
  sdk/pylib/zmlpsdk/tests/test_proxy.py
  services/elasticsearch/es-similarity/src/main/kotlin/com/zorroa/zmlp/similarity/SimilarityPlugin.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-analysis/get_models.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/tests/test_processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_vision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Don't log exception for exist check.
  services/officer/src/main/kotlin/com/zorroa/Storage.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-162: disable Google Cloud modules in DataSourcesAdd
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/Checkbox/Group.js
  applications/wallet/frontend/src/Checkbox/Icon.js
  applications/wallet/frontend/src/Checkbox/Table.js
  applications/wallet/frontend/src/Checkbox/TableRow.js
  applications/wallet/frontend/src/Checkbox/__tests__/Group.spec.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/Group.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/index.spec.js
  applications/wallet/frontend/src/Checkbox/index.js
  applications/wallet/frontend/src/Checkbox/optionShape.js
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/Form.js
  applications/wallet/frontend/src/DataSourcesEdit/Modules.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Undoing DataSource changes
  client/java/src/main/java/com/zorroa/zmlp/client/app/DataSourceApp.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/datasource/DataSource.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update coverage
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/Form.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/Checkbox/Group.js
  applications/wallet/frontend/src/Checkbox/__tests__/Group.spec.js
  applications/wallet/frontend/src/Checkbox/optionShape.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

make fetching dependent
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

MR comments
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/Type.js
  applications/wallet/frontend/src/JobError/__tests__/Type.spec.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Type.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrors/Content.js
  applications/wallet/frontend/src/MessageDisplay/index.js
  applications/wallet/frontend/src/Value/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add error type section
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/Type.js
  applications/wallet/frontend/src/JobError/__tests__/Content.spec.js
  applications/wallet/frontend/src/JobError/__tests__/Type.spec.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Type.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

checkpoint -- MR comments, update tests
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/__tests__/Content.spec.js
  applications/wallet/frontend/src/JobError/__tests__/Type.spec.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Type.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update endpoint for job error
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/__mocks__/jobError.js
  applications/wallet/frontend/src/JobError/__tests__/Content.spec.js
  applications/wallet/frontend/src/JobError/__tests__/Type.spec.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Type.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

checkppoint - MR comments
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/Type.js
  applications/wallet/frontend/src/JobError/__tests__/Content.spec.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/MessageDisplay/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Put some locking around emitting events so threads don't blow up using the zmq socket.
  containers/zmlp-plugins-base/pylib/zmlpcd/daemon.py
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
  containers/zmlp-plugins-base/pylib/zmlpcd/reactor.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

MR comments
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/Type.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Type.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Value/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

MR comments
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/Type.js
  applications/wallet/frontend/src/JobError/__tests__/Content.spec.js
  applications/wallet/frontend/src/JobError/__tests__/Type.spec.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/Type.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/index.spec.js
  applications/wallet/frontend/src/Value/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

MR comments
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/index.spec.js
  applications/wallet/frontend/src/Value/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/DataSourcesEdit/Modules.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-162: disable Google Cloud modules in DataSourcesAdd
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/Checkbox/Group.js
  applications/wallet/frontend/src/Checkbox/Icon.js
  applications/wallet/frontend/src/Checkbox/Table.js
  applications/wallet/frontend/src/Checkbox/TableRow.js
  applications/wallet/frontend/src/Checkbox/__tests__/Group.spec.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/Group.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/index.spec.js
  applications/wallet/frontend/src/Checkbox/index.js
  applications/wallet/frontend/src/Checkbox/optionShape.js
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesAdd/Modules.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/Form.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/Form.js
  applications/wallet/frontend/src/DataSourcesEdit/Modules.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Remove console.error in tests
  applications/wallet/frontend/src/ErrorBoundary/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Remove console.error
  applications/wallet/frontend/src/ErrorBoundary/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-257. Adds support for getting a job's tasks to Wallet api.
  applications/wallet/app/jobs/views.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds tests for wallet rest api.
  applications/wallet/app/jobs/tests/test_integration.py
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add route and layout
  applications/wallet/frontend/pages/[projectId]/assets/index.js
  applications/wallet/frontend/src/Assets/InfoBar.js
  applications/wallet/frontend/src/Assets/Metadata.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.js
  applications/wallet/frontend/src/Assets/circleMinus.svg
  applications/wallet/frontend/src/Assets/circlePlus.svg
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Assets/information.svg
  applications/wallet/frontend/src/Navbar/Wrapper.js
  applications/wallet/frontend/src/Navbar/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix comments
  applications/wallet/frontend/src/Assets/InfoBar.js
  applications/wallet/frontend/src/Assets/Metadata.js
  applications/wallet/frontend/src/Assets/Visualizer.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.js.snap
  applications/wallet/frontend/src/Assets/circleMinus.svg
  applications/wallet/frontend/src/Assets/circlePlus.svg
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Assets/information.svg
  applications/wallet/frontend/src/Navbar/Wrapper.js
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/yarn.lock
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update to Condensed font
  applications/wallet/frontend/src/Assets/InfoBar.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Shift italic to css
  applications/wallet/frontend/src/Assets/Metadata.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix styling
  applications/wallet/frontend/src/Assets/InfoBar.js
  applications/wallet/frontend/src/Assets/Metadata.js
  applications/wallet/frontend/src/Assets/Visualizer.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.js.snap
  applications/wallet/frontend/src/Assets/circleMinus.svg
  applications/wallet/frontend/src/Assets/circlePlus.svg
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Assets/information.svg
  applications/wallet/frontend/src/Button/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/index.js
  applications/wallet/frontend/src/Styles/constants.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches
