Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

sdk-unit-tests-all-stable-branches:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

WAL-114: Add account password form success
  applications/wallet/frontend/src/AccountPassword/FormSuccess.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-114: Update snapshots and write tests to show account password form success
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountPassword/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  sdk/pylib/zmlpsdk/cloud.py
  sdk/pylib/zmlpsdk/tests/test_base.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-87: update Job Errors page
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrors/Content.js
  applications/wallet/frontend/src/JobErrors/JobMenu.js
  applications/wallet/frontend/src/JobErrors/Row.js
  applications/wallet/frontend/src/JobErrors/Table.js
  applications/wallet/frontend/src/JobErrors/__tests__/Content.spec.js
  applications/wallet/frontend/src/JobErrors/__tests__/JobMenu.spec.js
  applications/wallet/frontend/src/JobErrors/__tests__/Table.spec.js
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/JobMenu.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/Table.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/index.spec.js
  applications/wallet/frontend/src/JobErrors/index.js
  applications/wallet/frontend/src/Menu/index.js
  applications/wallet/frontend/src/ProjectUsers/Menu.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/index.js
  applications/wallet/frontend/src/Value/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/JobErrors/Content.js
  applications/wallet/frontend/src/Loading/index.js
  applications/wallet/frontend/src/Projects/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update icons
  applications/wallet/frontend/src/Icons/errorFatal.svg
  applications/wallet/frontend/src/Icons/errorWarning.svg
  applications/wallet/frontend/src/JobErrors/Row.js
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/Table.spec.js.snap
  applications/wallet/frontend/src/Styles/colors.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-166: fix TextInput icon
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/Input/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Input/index.js
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-87: update Job Errors page
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/errorFatal.svg
  applications/wallet/frontend/src/Icons/errorWarning.svg
  applications/wallet/frontend/src/JobErrors/Content.js
  applications/wallet/frontend/src/JobErrors/JobMenu.js
  applications/wallet/frontend/src/JobErrors/Row.js
  applications/wallet/frontend/src/JobErrors/Table.js
  applications/wallet/frontend/src/JobErrors/__tests__/Content.spec.js
  applications/wallet/frontend/src/JobErrors/__tests__/JobMenu.spec.js
  applications/wallet/frontend/src/JobErrors/__tests__/Table.spec.js
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/JobMenu.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/Table.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/index.spec.js
  applications/wallet/frontend/src/JobErrors/index.js
  applications/wallet/frontend/src/Loading/index.js
  applications/wallet/frontend/src/Menu/index.js
  applications/wallet/frontend/src/ProjectUsers/Menu.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/index.js
  applications/wallet/frontend/src/Styles/colors.js
  applications/wallet/frontend/src/Value/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-114: fix Update Password
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/FormSuccess.js
  applications/wallet/frontend/src/AccountPassword/__mocks__/helpers.js
  applications/wallet/frontend/src/AccountPassword/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountPassword/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-88: fix User Permissions endpoint
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: fix Update Name
  applications/wallet/frontend/src/AccountPassword/__mocks__/helpers.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__mocks__/helpers.js
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountProfile/helpers.js
  applications/wallet/frontend/src/AccountProfile/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/Form.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates the deployment ci script to work with the new es services.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates terraform and ci scripts to fix various deployment issues.
  .gitlab-ci.yml
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/api-gateway/outputs.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/archivist/variables.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/auth-server/variables.tf
  deployment/terraform/modules/elasticsearch/main.tf
  deployment/terraform/modules/elasticsearch/outputs.tf
  deployment/terraform/modules/elasticsearch/variables.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-12: fix Job drop createdUser
  applications/wallet/frontend/src/Job/__mocks__/job.js
  applications/wallet/frontend/src/JobErrors/Content.js
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__mocks__/jobs.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-88: add Project Users menu
  applications/wallet/frontend/src/Icons/key.svg
  applications/wallet/frontend/src/Icons/queue.svg
  applications/wallet/frontend/src/Icons/users.svg
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: Add update user mock endpoint
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/AccountProfile/__mocks__/accountprofile.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: Add singleton to update user with passing tests
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountProfile/helpers.js
  applications/wallet/frontend/src/Authentication/__mocks__/helpers.js
  applications/wallet/frontend/src/Authentication/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/helpers.js
  applications/wallet/frontend/src/Authentication/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed mock import for python3
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_googlevision.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency @sentry/browser to v5.11.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds support for validation of credentials files.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Credentials.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/CredentialsService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/AbstractTest.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/CredentialsCustomDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/DataSourceDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/JobDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/CredentialsControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/JobControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/CredentialsServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DataSourceServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/JobServiceTests.kt
  services/archivist/archivist/src/test/resources/inception-key.json
  services/archivist/archivist/src/test/resources/jwt.properties
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Credentials.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/CredentialsService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update dependency eslint-config-prettier to v6.10.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency eslint-plugin-import to v2.20.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update renovate.json
  renovate.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency lint-staged to v10.0.7
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency eslint-plugin-import to v2.20.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  renovate.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: Update MR based on comments
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/jest.setup.js
  applications/wallet/frontend/src/AccountProfile/__mocks__/accountprofile.js
  applications/wallet/frontend/src/Authentication/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/index.js
  applications/wallet/frontend/src/Fetch/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Fetch/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-94: add Edit User page
  applications/wallet/frontend/pages/[projectId]/users/[userId]/edit.js
  applications/wallet/frontend/src/ProjectUsers/Menu.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add tests
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds options for enabling Sentry. Default is that Sentry is only enabled in production. Also cleans up some wallet env vars and documents them.
  applications/wallet/README.md
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/frontend/pages/_app.js
  deployment/terraform/main.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/variables.tf
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds project user delete
  applications/wallet/app/apikeys/utils.py
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/conftest.py
  applications/wallet/app/projectusers/serializers.py
  applications/wallet/app/projectusers/tests/test_integration.py
  applications/wallet/app/projectusers/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-94: add Edit User page
  applications/wallet/frontend/pages/[projectId]/users/[userId]/edit.js
  applications/wallet/frontend/src/ProjectUsers/Menu.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectUsersEdit/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-153: fix Update Avatar
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/jest.setup.js
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountProfile/helpers.js
  applications/wallet/frontend/src/Authentication/__mocks__/helpers.js
  applications/wallet/frontend/src/Authentication/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/helpers.js
  applications/wallet/frontend/src/Authentication/index.js
  applications/wallet/frontend/src/Fetch/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Fetch/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds testing for failure cases
  applications/wallet/app/apikeys/utils.py
  applications/wallet/app/projectusers/serializers.py
  applications/wallet/app/projectusers/tests/test_integration.py
  applications/wallet/app/projectusers/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes linting from updates
  applications/wallet/app/projectusers/serializers.py
  applications/wallet/app/projectusers/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*
