Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

Add env variable to ci-cd
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added support for AWS S3.
  client/python/examples/ds_import.py
  client/python/pylib/zmlp/app/datasource_app.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/generators.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/tests/test_generator.py
  sdk/pylib/zmlpsdk/cloud.py
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/tests/test_cloud.py
  sdk/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

lint
  sdk/pylib/zmlpsdk/storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Azure support.
  containers/zmlp-plugins-core/pylib/zmlp_core/core/generators.py
  sdk/pylib/zmlpsdk/cloud.py
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/tests/test_cloud.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Credentials.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update dependency @sentry/browser to v5.15.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency body-scroll-lock to v2.7.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency http-proxy-middleware to v1.0.3
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency morgan to v1.10.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added test for azure gen.
  containers/zmlp-plugins-core/pylib/zmlp_core/core/tests/test_generator.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-314: add ApiKeys copy
  applications/wallet/frontend/src/ApiKeys/Copy.js
  applications/wallet/frontend/src/ApiKeys/Menu.js
  applications/wallet/frontend/src/ApiKeys/__tests__/Menu.spec.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/index.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency next to v9.3.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update package.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency eslint-config-prettier to v6.10.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update react monorepo
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency body-scroll-lock to v3
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency prettier to v2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Combined image, video, etc into a single processor.
  containers/zmlp-plugins-core/pylib/zmlp_core/core/__init__.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/tests/test_importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/image/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/util/media.py
  containers/zmlp-plugins-core/pylib/zmlp_core/video/importers.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
  services/officer/src/main/kotlin/com/zorroa/PdfDocument.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Adds Pipeline Modules api for projects
  applications/wallet/app/modules/__init__.py
  applications/wallet/app/modules/admin.py
  applications/wallet/app/modules/apps.py
  applications/wallet/app/modules/migrations/__init__.py
  applications/wallet/app/modules/models.py
  applications/wallet/app/modules/serializers.py
  applications/wallet/app/modules/tests/__init__.py
  applications/wallet/app/modules/tests/test_integration.py
  applications/wallet/app/modules/tests/test_unit.py
  applications/wallet/app/modules/views.py
  applications/wallet/app/projects/serializers.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates the permissions to handle a little more granularity. Allows Wallet to support 3 separate roles - User Admin, API Keys, and ML Tools.
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/settings/__init__.py
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/Permission.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/DataSourceController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/JobController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/TaskController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/TaskErrorController.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes a linting error.
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/Permission.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes some various bugs in the Wallet permission system.
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/migrations/0001_initial.py
  applications/wallet/app/wallet/migrations/0002_auto_20200219_0052.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes some bugs in wallet migrations.
  applications/wallet/app/wallet/migrations/0002_auto_20200219_0052.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-346. Fixes a bug that wouldn't allow wallet to pause running jobs.
  applications/wallet/app/jobs/tests/test_integration.py
  applications/wallet/app/jobs/views.py
  applications/wallet/app/projects/admin.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-307: add Bouncer
  applications/wallet/frontend/.eslintrc
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Bouncer/index.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/__tests__/index.spec.js
  applications/wallet/frontend/src/Sidebar/__tests__/index.spec.js
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/User/__mocks__/user.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes FilterSerializer for Modules.
  applications/wallet/app/modules/serializers.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-365: reset Project Users Add form when switching project
  applications/wallet/frontend/src/ProjectUsersAdd/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-374: add Task Details routing
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/tasks/[taskId]/assets.js
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/tasks/[taskId]/details.js
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/tasks/[taskId]/errors.js
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/tasks/[taskId]/index.js
  applications/wallet/frontend/src/JobTasks/Row.js
  applications/wallet/frontend/src/JobTasks/__mocks__/jobTasks.js
  applications/wallet/frontend/src/JobTasks/__tests__/Row.spec.js
  applications/wallet/frontend/src/JobTasks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobTasks/index.js
  applications/wallet/frontend/src/Task/__mocks__/task.js
  applications/wallet/frontend/src/Task/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Task/__tests__/index.spec.js
  applications/wallet/frontend/src/Task/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-358. Hides wallet api keys when returning list of API keys to frontend.
  applications/wallet/app/apikeys/tests/test_integration.py
  applications/wallet/app/apikeys/utils.py
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/jobs/views.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Addresses notes from code review.
  applications/wallet/app/projects/permissions.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/migrations/0001_initial.py
  applications/wallet/app/wallet/migrations/0002_auto_20200219_0052.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates the permissions to handle a little more granularity. Allows Wallet to support 3 separate roles - User Admin, API Keys, and ML Tools.
  applications/wallet/app/projects/permissions.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/migrations/0001_initial.py
  applications/wallet/app/wallet/migrations/0002_auto_20200219_0052.py
  applications/wallet/app/wallet/settings/__init__.py
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/Permission.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/DataSourceController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/JobController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/TaskController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/TaskErrorController.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Removes unused import.
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-358: Hides wallet generated api keys.
  applications/wallet/app/apikeys/tests/test_integration.py
  applications/wallet/app/apikeys/utils.py
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/jobs/views.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Moved file types to sdk.
  containers/zmlp-plugins-core/pylib/zmlp_core/core/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/image/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/util/media.py
  containers/zmlp-plugins-core/pylib/zmlp_core/video/importers.py
  sdk/pylib/zmlpsdk/base.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added ability to store text blobs in cloud storage.
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added endpoint to pull the native URI from a stored file.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetSearchService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/ProjectStorageService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  sdk/pylib/zmlpsdk/base.py
  services/officer/src/main/kotlin/com/zorroa/PdfDocument.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-core/pylib/zmlp_core/core/importers.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches
