Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

plugin-container-tests:
  image: boonai/docker-buildx
  stage: test
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx --plugins
  ...

boonai-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: latest
  retry: 2
  before_script:
  ...

boonai-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: qa
  retry: 2
  before_script:
  ...

boonai-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

boonai-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

Fixes dataset type issues from bad migration.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V21__migrate_ds.sql
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-131: fix AllProjectsContent undefined projects
  applications/wallet/frontend/src/AllProjects/Content.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added install deps script.
  containers/boonfunction/install-deps.sh
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Change name of webhooks topic
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/PublisherService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/WebHookPublisherService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Pytorch Text classification, creation of base pytorch model
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
  test-data/models/test/sample_text.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Totally disable deep analysis.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Ended endpoints to upload and deploy uploaded models.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/ModelControllerTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixed model endpoint security
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ModelController.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

validate simhash is beeing added to label
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Dataset.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/AssetController.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/AssetControllerTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Throw a valid exception of a label is missing a property in face knn.
  containers/plugins-train/pylib/boonai_train/face_rec/tests/test_train.py
  containers/plugins-train/pylib/boonai_train/face_rec/train.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: fix AssetLabeling pass more simhash
  applications/wallet/frontend/src/AssetLabeling/Label.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AssetLabeling/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

wip commit
  containers/plugins-analysis/pylib/boonai_analysis/disney/__init__.py
  containers/plugins-analysis/pylib/boonai_analysis/disney/genome.py
  containers/plugins-analysis/pylib/boonai_analysis/disney/test.py
  containers/plugins-analysis/pylib/boonai_analysis/disney/tests/__init__.py
  containers/plugins-analysis/pylib/boonai_analysis/disney/tests/mock_data.py
  containers/plugins-analysis/pylib/boonai_analysis/disney/tests/test_genome.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: rename Labeled Assets
  applications/wallet/frontend/src/Dataset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Dataset/index.js
  applications/wallet/frontend/src/ModelsAdd/Form.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: carry over DatasetLabelsSelection to Visualizer
  applications/wallet/frontend/src/DatasetLabels/Selection.js
  applications/wallet/frontend/src/DatasetLabels/__tests__/Content.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Allow network in tugboat
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

predicting text from asset attribute
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
  test-data/models/test/sample_text.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

updating process reference in archivist
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

updating model types in tests
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Log model upload and deploy
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
  services/jvm-common/boonai-service/src/main/kotlin/boonai/common/service/logging/EventLog.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added backup to boon functions.
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Model upload
  client/boonsdk/pylib/boonsdk/app/model_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
  containers/boonfunction/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Add job runner to models access.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ModelController.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

base tugboat on boonflow
  docker-compose.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Removes Detection Dataset Type from the dataset_types endpoint
  applications/wallet/app/datasets/tests/test_integration.py
  applications/wallet/app/datasets/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Renamed enum
  client/boonsdk/pylib/boonsdk/entity/model.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_function.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixed name of boon function processorr
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Processor name
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1095: update Filter title font styles
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/MenuSection.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/MenuSection.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency com.aspose:aspose-slides to v21.7
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes None reference if processor dies.
  services/mlbbq/pylib/mlbbq/modules.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Set the boonflow in flask env var
  containers/boonfunction/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Resolves MAIN-65. Adds the model upload api.
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update boonflow file storage to have unique caches per request.
  containers/boonflow/pylib/boonflow/storage.py
  containers/boonflow/pylib/boonflow/tests/test_storage.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adde test to boon function.
  containers/boonfunction/function.py
  containers/boonfunction/server.py
  containers/boonfunction/tests.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added MLBBQ teests
  gitlab-ci/1.test.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added bbq to ci/cd
  gitlab-ci/1.test.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixed all mlbbq tests.
  services/mlbbq/pylib/mlbbq/main.py
  services/mlbbq/pylib/mlbbq/modules.py
  services/mlbbq/pylib/mlbbq/similarity.py
  services/mlbbq/pylib/mlbbq/tests/test_modules.py
  services/mlbbq/pylib/mlbbq/tests/test_similarity.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

added convinience return value for boon functions.
  containers/boonflow/pylib/boonflow/base.py
  containers/boonfunction/function.py
  containers/boonfunction/tests.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_function.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates fields endpoint to return dataset ids instead of model ids.
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/tests/test_utils.py
  applications/wallet/app/searches/utils.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
