Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)

Panel Header padding left
  applications/wallet/frontend/src/Panel/Content.js
  applications/wallet/frontend/src/Panel/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update combobox border
  applications/wallet/frontend/src/Combobox/Input.js
  applications/wallet/frontend/src/Combobox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Input/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/Confirm.spec.js.snap
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Textarea/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update FaceLabelingButton infobox border
  applications/wallet/frontend/src/FaceLabeling/Button.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

don't override my fonts you lib
  applications/wallet/frontend/src/Styles/Reset.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Testing new k8s executor feature.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add coverage
  applications/wallet/frontend/src/Filters/__tests__/Icon.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Icon.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update index.js
  applications/wallet/frontend/src/Card/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-704. Fixes issues with intermittent failures when building and pushing containers.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Wal 704 unreliable qa builds
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

using analysis object, split recognition from detection
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/face_rec.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_face_rec.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-654. Adds the superuser option to the user admin in wallet.
  applications/wallet/app/supportadmin/admin.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds face sim search
  client/python/pylib/zmlp/entity/asset.py
  client/python/pylib/zmlp/entity/tests/test_asset.py
  client/python/pylib/zmlp/search.py
  client/python/pylib/zmlp/tests/test_search.py
  client/python/pylib/zmlp/util.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixing Exception class on Aws Storage tests
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsSystemStorageServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-512: design review
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Card/index.js
  applications/wallet/frontend/src/Chart/Header.js
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartForm/Content.js
  applications/wallet/frontend/src/ChartForm/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Combobox/Input.js
  applications/wallet/frontend/src/Combobox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/Button.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/Icon.js
  applications/wallet/frontend/src/Filters/__tests__/Icon.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Icon.spec.js.snap
  applications/wallet/frontend/src/Input/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/Panel/Content.js
  applications/wallet/frontend/src/Panel/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/Confirm.spec.js.snap
  applications/wallet/frontend/src/Styles/Reset.js
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Textarea/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add Tooltip
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/Group.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/Group.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/Form.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/Button.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/TrainApply.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Tooltip/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Tooltip/__tests__/index.spec.js
  applications/wallet/frontend/src/Tooltip/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update color to match design review
  applications/wallet/frontend/src/Tooltip/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Tooltip/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Create TrainApply.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Changed the retrn type of batch index.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetPayloads.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DispatcherServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove unused import.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixed unit test
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/face_rec.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_face_rec.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-654. Adds the superuser option to the user admin in wallet.
  .dockerignore
  Pipfile
  Pipfile.lock
  applications/wallet/Dockerfile
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add a class for exporting a search to a csv
  client/python/pylib/zmlp/search.py
  client/python/pylib/zmlp/tests/test_search.py
  client/python/setup.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds first round of CRUD-related endpoints for models and labels
  applications/wallet/app/faces/serializers.py
  applications/wallet/app/faces/views.py
  applications/wallet/app/models/admin.py
  applications/wallet/app/models/models.py
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Rework BUTTON_VARIANT.ICON and remove some usage of BUTTON_VARIANT.NEUTRAL
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/Asset/Navigation.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/Resize.js
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/Copy.js
  applications/wallet/frontend/src/Button/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/index.js
  applications/wallet/frontend/src/Chart/Header.js
  applications/wallet/frontend/src/ChartFacet/Content.js
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/Content.js
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/DataVisualization/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filter/Actions.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Actions.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/FilterText/Search.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/Panel/Content.js
  applications/wallet/frontend/src/Panel/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Panel/index.js
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates the wallet ingress timeout to be 300 seconds.
  applications/wallet/app/wallet/urls.py
  applications/wallet/app/wallet/views.py
  deployment/terraform/modules/wallet/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes syntax error in terraform.
  deployment/terraform/modules/wallet/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates gitlab ci yaml to try to fix a failing job.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add page
  applications/wallet/frontend/pages/[projectId]/models/index.js
  applications/wallet/frontend/src/Models/Copy.js
  applications/wallet/frontend/src/Models/Empty.js
  applications/wallet/frontend/src/Models/Row.js
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

coverage
  applications/wallet/frontend/src/JobTasks/Row.js
  applications/wallet/frontend/src/JobTasks/__tests__/Row.spec.js
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__tests__/Row.spec.js
  applications/wallet/frontend/src/Models/Row.js
  applications/wallet/frontend/src/Models/__mocks__/models.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/index.spec.js
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/Table/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Table/helpers.js
  applications/wallet/frontend/src/TaskErrors/Row.js
  applications/wallet/frontend/src/TaskErrors/__tests__/Row.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Changes for code review
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

checkmarks
  applications/wallet/frontend/src/Models/Row.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

coverage
  applications/wallet/frontend/src/Models/__mocks__/models.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

real data
  applications/wallet/frontend/src/Models/Row.js
  applications/wallet/frontend/src/Models/__mocks__/models.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

row height
  applications/wallet/frontend/src/Models/Row.js
  applications/wallet/frontend/src/Models/__mocks__/models.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update Empty
  applications/wallet/frontend/src/Models/Empty.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests
