Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)

lint
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixup
  applications/wallet/frontend/src/Task/__tests__/index.spec.js
  applications/wallet/frontend/src/Task/index.js
  applications/wallet/frontend/src/TaskError/Details.js
  applications/wallet/frontend/src/TaskError/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-611: add Sentry APM Tracing
  applications/wallet/frontend/.env.template
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  applications/wallet/frontend/pages/_app.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Invalidate Cache. Return op status
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

lint
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update Controller Tests
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes Face list endpoint item modifier to return the url correctly.
  applications/wallet/app/faces/serializers.py
  applications/wallet/app/faces/tests/test_integration.py
  applications/wallet/app/faces/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-602: fix TaskErrors typo
  applications/wallet/frontend/src/TaskErrors/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

default search, number of asset results, and attribute list
  client/zvi/pylib/zvi/pandas.py
  client/zvi/pylib/zvi/tests/test_pandas.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

zvi lib readme
  client/zvi/README.md
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

zmlp-plugins-train readme
  containers/zmlp-plugins-train/README.md
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

zmlp-plugins-analysis readme
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/README.md
  containers/zmlp-plugins-train/README.md
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-608: add Script tab to Task page
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/tasks/[taskId]/script.js
  applications/wallet/frontend/src/JobTasks/Row.js
  applications/wallet/frontend/src/JobTasks/__tests__/Row.spec.js
  applications/wallet/frontend/src/JobTasks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JsonDisplay/index.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Task/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Task/__tests__/index.spec.js
  applications/wallet/frontend/src/Task/index.js
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskError/index.js
  applications/wallet/frontend/src/TaskErrorAsset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskErrorAsset/index.js
  applications/wallet/frontend/src/TaskErrorStackTrace/index.js
  applications/wallet/frontend/src/TaskScript/__mocks__/taskScript.js
  applications/wallet/frontend/src/TaskScript/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskScript/__tests__/index.spec.js
  applications/wallet/frontend/src/TaskScript/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add SuspenseBoundary back in
  applications/wallet/frontend/src/Task/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

swap icons
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/assets.svg
  applications/wallet/frontend/src/Icons/dashboard.svg
  applications/wallet/frontend/src/Panel/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Panel/__tests__/index.spec.js
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

extract VisualizerNavigation
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Visualizer/Navigation.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update FaceDetection icon
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/faceDetection.svg
  applications/wallet/frontend/src/Visualizer/Content.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

all the stuff
  applications/wallet/frontend/pages/[projectId]/visualizer/data-visualization.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Checkbox/Table.js
  applications/wallet/frontend/src/Checkbox/index.js
  applications/wallet/frontend/src/DataVisualization/Content.js
  applications/wallet/frontend/src/DataVisualization/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataVisualization/__tests__/index.spec.js
  applications/wallet/frontend/src/DataVisualization/index.js
  applications/wallet/frontend/src/Filter/Reset.js
  applications/wallet/frontend/src/Filter/Title.js
  applications/wallet/frontend/src/FilterFacet/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/Slider.js
  applications/wallet/frontend/src/FilterRange/Content.js
  applications/wallet/frontend/src/FilterSimilarity/Content.js
  applications/wallet/frontend/src/FilterText/Search.js
  applications/wallet/frontend/src/Filters/MenuSection.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/charts.svg
  applications/wallet/frontend/src/Jobs/Status.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/MetadataPretty/Content.js
  applications/wallet/frontend/src/MetadataPretty/LabelsContent.js
  applications/wallet/frontend/src/MetadataPretty/Metrics.js
  applications/wallet/frontend/src/MetadataPretty/MetricsBar.js
  applications/wallet/frontend/src/MetadataPretty/NoResults.js
  applications/wallet/frontend/src/MetadataPretty/Row.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/Pills/index.js
  applications/wallet/frontend/src/ProgressBar/Legend.js
  applications/wallet/frontend/src/Styles/typography.js
  applications/wallet/frontend/src/TaskErrorAsset/index.js
  applications/wallet/frontend/src/Visualizer/Navigation.js
  applications/wallet/frontend/src/Visualizer/__tests__/Navigation.spec.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/Navigation.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds permission needed for Face Training to ML Tools role.
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/wallet/settings/__init__.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes linting issue.
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-usage-report.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-519: add Create Data Visualization screen
  applications/wallet/frontend/src/DataVisualization/Content.js
  applications/wallet/frontend/src/DataVisualization/Create.js
  applications/wallet/frontend/src/DataVisualization/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataVisualization/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-609. Changes the similarity filter to accept IDs instead of simhashes.
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
  applications/wallet/app/searches/tests/test_utils.py
  applications/wallet/app/searches/utils.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Linting.
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Linting.
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
  applications/wallet/app/searches/tests/test_utils.py
  applications/wallet/app/searches/utils.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-492. Hides the job-runner key from the api-key view.
  applications/wallet/app/apikeys/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-615. Adds the jobId to the datasource create view.
  applications/wallet/app/datasources/serializers.py
  applications/wallet/app/datasources/tests/test_integration.py
  applications/wallet/app/datasources/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes tests and adds docs.
  applications/wallet/app/apikeys/tests/test_integration.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-492. Hides the job-runner key from the api-key view.
  applications/wallet/app/apikeys/tests/test_integration.py
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixup
  applications/wallet/frontend/src/DataVisualization/Create.js
  applications/wallet/frontend/src/DataVisualization/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Testing gitlab sast
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates tests and signatures on similiarity filter
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/tests/test_utils.py
  applications/wallet/app/searches/utils.py
  applications/wallet/app/searches/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-609. Changes the similarity filter to accept IDs instead of simhashes.
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/tests/test_utils.py
  applications/wallet/app/searches/utils.py
  applications/wallet/app/searches/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests
