Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)

WAL-519: add Listbox search
  applications/wallet/frontend/src/Listbox/Options.js
  applications/wallet/frontend/src/Listbox/__tests__/__snapshots__/Options.spec.js.snap
  applications/wallet/frontend/src/Listbox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Listbox/__tests__/index.spec.js
  applications/wallet/frontend/src/Listbox/helpers.js
  applications/wallet/frontend/src/Listbox/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Up size
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Implements Google AutoML training.
  containers/zmlp-plugins-train/__init__.py
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/__init__.py
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/labels.py
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/test/labels_test.py
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/train.py
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/logging/EventLog.kt
  services/archivist/archivist/pom.xml
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AutomlSession.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/AutomlDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/AuthServer.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AutomlService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V6__automl.sql
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/TestBeanConf.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/AutomlDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ModelControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AutomlServiceTests.kt
  services/archivist/archivist/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes arg style.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AutomlService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

linting.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AutomlService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added auto-ml module.
  containers/zmlp-plugins-train/requirements.txt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-515: add FaceLabeling help info
  applications/wallet/frontend/src/FaceLabeling/Button.js
  applications/wallet/frontend/src/FaceLabeling/TrainApply.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/TrainApply.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/help.svg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-675: an attempt to auto-scroll less often
  applications/wallet/frontend/src/Assets/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes issue where routes were not being migrated.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexRouteDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexClusterService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexRoutingService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/IndexRouteDaoTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes bug with sync breadcrumb
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexClusterService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fix onBlur bug
  applications/wallet/frontend/src/Combobox/__tests__/index.spec.js
  applications/wallet/frontend/src/Combobox/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

whitespace
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexClusterService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes double route sync.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexClusterService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add minWidth to Menu and truncate ProjectCard titles
  applications/wallet/frontend/src/Account/Card.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/Card.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Job/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Menu/index.js
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Task/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/TaskError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskErrors/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

readability
  applications/wallet/frontend/src/Combobox/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-515: fix bug on Combobox selection
  applications/wallet/frontend/src/Combobox/__tests__/index.spec.js
  applications/wallet/frontend/src/Combobox/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Change input search X color
  applications/wallet/frontend/src/Styles/Reset.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Change background color to transparent
  applications/wallet/frontend/src/Styles/Reset.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-679. Updates server configuration for Wallet to get better performance.
  applications/wallet/gunicornconfig.py
  applications/wallet/nginx/local.conf
  applications/wallet/start-servers.sh
  deployment/terraform/modules/wallet/main.tf
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Performance tuning for the nginx servers.
  applications/wallet/nginx/local.conf
  services/api-gateway/default.conf.template
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add csv search result conversion, change pandas.py to convert_search.py more generally
  client/zvi/pylib/zvi/convert_search.py
  client/zvi/pylib/zvi/pandas.py
  client/zvi/pylib/zvi/tests/test_pandas.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

cleanup
  client/zvi/pylib/zvi/convert_search.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

cleanup
  client/zvi/pylib/zvi/tests/test_convert_search.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-plugin-react-hooks to v4.0.7
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency http-proxy-middleware to v1.0.5
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update sentry monorepo to v5.19.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Moving code into try bloc. Turn variables into values.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-679. Updates server configuration for Wallet's gunicorn and nginx as well as the zmlp api-gateway nginx to get better performance.
  applications/wallet/gunicornconfig.py
  applications/wallet/nginx/local.conf
  applications/wallet/start-servers.sh
  deployment/terraform/modules/wallet/main.tf
  docker-compose.yml
  services/api-gateway/default.conf.template
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Changing uint8 to big int. Adding a maximum batch size for assets delete
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/resources/application.properties
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V6__deleted_counter.sql
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V7__deleted_counter.sql
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Max batch size test.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

linting
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Throwing IllegalArgumentException instead of archivist exception
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-687: use real jobId when calling Train
  applications/wallet/frontend/src/FaceLabeling/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fix Safari input
  applications/wallet/frontend/src/Styles/Reset.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

tweak copy
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/helpers.spec.js
  applications/wallet/frontend/src/FaceLabeling/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

always show info button, update help info copy
  applications/wallet/frontend/src/FaceLabeling/Button.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/helpers.spec.js
  applications/wallet/frontend/src/FaceLabeling/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

change panel name
  applications/wallet/frontend/src/Visualizer/Content.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

copy tweak
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

tweak copy
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests
