Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*

MAIN-52: add Webhooks and WebhooksAdd
  applications/wallet/frontend/pages/[projectId]/webhooks/add.js
  applications/wallet/frontend/pages/[projectId]/webhooks/index.js
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/MenuOption.js
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Roles/helpers.js
  applications/wallet/frontend/src/Triggers/__mocks__/triggers.js
  applications/wallet/frontend/src/User/__mocks__/user.js
  applications/wallet/frontend/src/Webhooks/Menu.js
  applications/wallet/frontend/src/Webhooks/Row.js
  applications/wallet/frontend/src/Webhooks/__mocks__/webhooks.js
  applications/wallet/frontend/src/Webhooks/__tests__/Menu.spec.js
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Webhooks/__tests__/index.spec.js
  applications/wallet/frontend/src/Webhooks/index.js
  applications/wallet/frontend/src/WebhooksAdd/Form.js
  applications/wallet/frontend/src/WebhooksAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/WebhooksAdd/helpers.js
  applications/wallet/frontend/src/WebhooksAdd/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

fixup
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Webhooks/__tests__/index.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes some bugs in the upserting.
  services/metrics/app/metrics/records/migrations/0004_alter_apicall_managers.py
  services/metrics/app/metrics/records/models.py
  services/metrics/app/metrics/records/serializers.py
  services/metrics/app/metrics/records/tests/test_views.py
  services/metrics/app/metrics/records/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes linting issue.
  services/metrics/app/metrics/records/serializers.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes an issue with type mismatches in django query.
  services/metrics/app/metrics/records/tests/test_views.py
  services/metrics/app/metrics/records/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Makes the tests a little stronger.
  services/metrics/app/metrics/records/tests/test_views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes an edge case where a membership would not save after the roles being updated if the underlying permissions stayed the same.
  applications/wallet/app/projects/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency com.aspose:aspose-diagram to v21.4
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-words to v21.4
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.fasterxml.jackson.core:jackson-databind to v2.12.3
  services/elasticsearch/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.fasterxml.jackson.dataformat:jackson-dataformat-yaml to v2.12.3
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.fasterxml.jackson.module:jackson-module-kotlin to v2.12.3
  services/elasticsearch/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.google.cloud:google-cloud-automl to v1.4.1
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.google.cloud:google-cloud-pubsub to v1.112.1
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.google.cloud:google-cloud-storage to v1.113.15
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency io.micrometer:micrometer-core to v1.6.6
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixing Recursive delete. And implementing reattempt if it fails
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsProjectStorageService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsProjectStorageService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixing gcs tests
  services/archivist/archivist/src/test/kotlin/boonai/archivist/storage/GcsProjectStorageServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-52: add Webhooks tests
  applications/wallet/frontend/src/WebhooksAdd/Form.js
  applications/wallet/frontend/src/WebhooksAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/WebhooksAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/WebhooksAdd/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-52: add Webhooks active toggle
  applications/wallet/frontend/src/Webhooks/Menu.js
  applications/wallet/frontend/src/Webhooks/Row.js
  applications/wallet/frontend/src/Webhooks/__tests__/Menu.spec.js
  applications/wallet/frontend/src/Webhooks/__tests__/__snapshots__/Menu.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

cleanup
  applications/wallet/frontend/src/Timeline/Resize.js
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/reducer.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MR comments
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/ScrollbarRightHandle.js
  applications/wallet/frontend/src/Timeline/ScrollbarThumb.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Timeline/helpers.js
  applications/wallet/frontend/src/Timeline/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

rename functions
  applications/wallet/frontend/src/Timeline/ScrollbarRightHandle.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

refactor
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/ScrollbarThumb.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

resize scrollbar imperatively
  applications/wallet/frontend/src/Timeline/Resize.js
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Timeline/helpers.js
  applications/wallet/frontend/src/Timeline/index.js
  applications/wallet/frontend/src/Timeline/reducer.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

checkpoint
  applications/wallet/frontend/src/Timeline/Resize.js
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/index.js
  applications/wallet/frontend/src/Timeline/reducer.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

update test description
  applications/wallet/frontend/src/Timeline/__tests__/helpers.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

reorder params
  applications/wallet/frontend/src/Timeline/ScrollbarThumb.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

checkpoint
  applications/wallet/frontend/src/Timeline/Resize.js
  applications/wallet/frontend/src/Timeline/Scrollbar.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

cleanup
  applications/wallet/frontend/src/Timeline/ScrollbarThumb.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

extend playhead to bottom in non-dev env
  applications/wallet/frontend/src/Timeline/Playhead.js
  applications/wallet/frontend/src/Timeline/__tests__/Playhead.spec.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Playhead.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

cleanup
  applications/wallet/frontend/src/Timeline/Playhead.js
  applications/wallet/frontend/src/Timeline/Scrollbar.js
  applications/wallet/frontend/src/Timeline/ScrollbarRightHandle.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Apply 1 suggestion(s) to 1 file(s)
  applications/wallet/frontend/src/Webhooks/__tests__/Menu.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Pin dependency PyJWT to ==2.0.1
  client/boonhook/requirements.txt
  services/swivel/requirements.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update aws-java-sdk monorepo to v1.11.999
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Ignoring gitlab failing test
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/MetricsServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Resolves MAIN-58. Makes metrics record inserts async to speed up processing.
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
  services/metrics/app/metrics/__init__.py
  services/metrics/app/metrics/records/apps.py
  services/metrics/app/metrics/records/tasks.py
  services/metrics/app/metrics/records/views.py
  services/metrics/app/metrics/settings/__init__.py
  services/metrics/start-servers.sh
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa
