Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

plugin-container-tests:
  image: boonai/docker-buildx
  stage: test
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx --plugins
  ...

boonai-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: latest
  retry: 2
  before_script:
  ...

boonai-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: qa
  retry: 2
  before_script:
  ...

boonai-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

boonai-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

MAIN-88: add Cypress coverage of Datasets and Models
  applications/wallet/cypress/integration/frontend/Datasets/index.js
  applications/wallet/cypress/integration/frontend/Models/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

consuming and testing object detection service from pytorch
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds a missing dependency to the metrics service.
  gitlab-ci/1.test.gitlab-ci.yml
  services/metrics/Pipfile
  services/metrics/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added app_from_file
  client/boonsdk/pylib/boonsdk/__init__.py
  client/boonsdk/pylib/boonsdk/app/boon_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Inital commit of processor metrics by asset.
  containers/boondocks/pylib/boondocks/process.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/AssetMetrics.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/PublisherService.kt
  services/jvm-common/boonai-util/src/main/kotlin/boonai/common/util/Json.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adding tests with video file and refactoring method override
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-130: fix non-finite Playhead current time
  applications/wallet/frontend/src/Timeline/Playhead.js
  applications/wallet/frontend/src/Timeline/Ruler.js
  applications/wallet/frontend/src/Timeline/__tests__/Ruler.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: reset AssetLabeling state when switching asset
  applications/wallet/frontend/src/AssetLabeling/Content.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Pins google lib in the reporter service.
  services/metrics/Pipfile.lock
  services/reporter/Pipfile
  services/reporter/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates the ci config to not run cypress tests so often.
  gitlab-ci/1.test.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: revalidate AssetLabeling post save
  applications/wallet/frontend/src/AssetLabeling/helpers.js
  applications/wallet/frontend/src/AssetLabeling/index.js
  applications/wallet/frontend/src/Fetch/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixed length calculation.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Renamed the video length to length.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/AssetMetrics.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added metrics topic
  deployment/terraform/modules/archivist/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added input reader class to the client for handling urls.
  client/boonsdk/pylib/boonsdk/__init__.py
  client/boonsdk/pylib/boonsdk/app/asset_app.py
  client/boonsdk/pylib/boonsdk/app/boon_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_app.py
  client/boonsdk/pylib/boonsdk/client.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  client/boonsdk/pylib/boonsdk/client.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes all forms of reader.
  client/boonsdk/pylib/boonsdk/client.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Remove unused tests
  containers/boondocks/pylib/boondocks/tests/test_process.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Check to see modules are being recorded.
  containers/boondocks/pylib/boondocks/process.py
  containers/boondocks/pylib/boondocks/tests/test_process.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  containers/boondocks/pylib/boondocks/tests/test_process.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Handle error on boonscript server.
  containers/boonscript/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Send metrics as as list
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added new models to enum
  client/boonsdk/pylib/boonsdk/entity/model.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

boonscript is based on boonsdk
  services/swivel/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

renaming class to match with archivist
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added test that checks face on frame.image.
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_faces.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Use the BoonSDK jsonizer for assets in mlbbq
  services/mlbbq/pylib/mlbbq/modules.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Removed supprot for requirements.txt from boonscrpt for now.
  services/tugboat/tmpl/boonscript/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

some more comments in functions
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1092: ModelsAdd styles updates
  applications/wallet/frontend/src/AssetDelete/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/Label.spec.js.snap
  applications/wallet/frontend/src/DatasetLabels/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/DatasetsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelLink/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/Controls.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelsAdd/Form.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Radio/Icon.js
  applications/wallet/frontend/src/Radio/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: fix AssetLabeling last value on faces
  applications/wallet/frontend/src/AssetLabeling/Content.js
  applications/wallet/frontend/src/AssetLabeling/Form.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/Form.spec.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AssetLabeling/helpers.js
  applications/wallet/frontend/src/DatasetLabels/__tests__/Content.spec.js
  applications/wallet/frontend/src/Datasets/__tests__/index.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Renamed boonscript to boon function
  client/boonsdk/pylib/boonsdk/app/model_app.py
  client/boonsdk/pylib/boonsdk/entity/model.py
  containers/boonfunction/Dockerfile
  containers/boonfunction/requirements.txt
  containers/boonfunction/script.py
  containers/boonfunction/server.py
  containers/boonfunction/test/boonscript.zip
  containers/boonfunction/test/endpoint.py
  containers/boonfunction/test/requirements.txt
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_function.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/mlbbq/pylib/mlbbq/modules.py
  services/tugboat/server.py
  services/tugboat/tests.py
  services/tugboat/tmpl/boonfunction/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

removed last reference to boonscript.
  services/tugboat/tests.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

remove unused file.
  containers/boonfunction/test/boonscript.zip
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

More renames
  containers/boonfunction/script.py
  containers/boonfunction/server.py
  containers/boonfunction/test/endpoint.py
  containers/boonfunction/test/requirements.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency lint-staged to v11.0.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency eslint to v7.31.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

CICD for boonfunction.
  docker-compose.yml
  gitlab-ci/2.push.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: fix AssetLabeling pass simhash
  applications/wallet/frontend/src/AssetLabeling/Label.js
  applications/wallet/frontend/src/AssetLabeling/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Puts videos into their own task for reprocessing
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/DispatcherServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
