Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

sdk-unit-tests-all-stable-branches:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

Updated python SDK to take into account storage changes.
  sdk/python/pylib/zmlp/analysis/cloud.py
  sdk/python/pylib/zmlp/analysis/proxy.py
  sdk/python/pylib/zmlp/analysis/storage.py
  sdk/python/pylib/zmlp/analysis/tests/fake_model.dat
  sdk/python/pylib/zmlp/analysis/tests/test_cloud.py
  sdk/python/pylib/zmlp/analysis/tests/test_proxy.py
  sdk/python/pylib/zmlp/analysis/tests/test_storage.py
  sdk/python/pylib/zmlp/elements.py
  sdk/python/pylib/zmlp/tests/test_elements.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Handle SDK renames.
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/tests/test_shot_clipifier.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/tests/test_time_clipifier.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_video.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/video.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

DataSource and Project Builder Pattern for queries, update, upload...
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/app/DataSourceApp.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/app/ProjectApp.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/DataSourceSpec.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/ProjectFilter.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/datasource/DataSource.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/datasource/DataSourceCredentials.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/datasource/DataSourceSpec.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/project/Project.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/project/ProjectFilter.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/project/ProjectSpec.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/DataSourceAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/ProjectAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

DataSource id is mandatory for credentials update
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/app/DataSourceApp.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/datasource/DataSourceCredentials.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/DataSourceAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Addd new face test data.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/README.md
  test-data/images/face-recognition/face1.jpg
  test-data/images/face-recognition/face2.jpg
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added support for adding element proxies, with drawing boxes.
  sdk/python/pylib/zmlp/analysis/proxy.py
  sdk/python/pylib/zmlp/analysis/storage.py
  sdk/python/pylib/zmlp/analysis/tests/test_proxy.py
  sdk/python/pylib/zmlp/elements.py
  sdk/python/pylib/zmlp/tests/test_elements.py
  sdk/python/pylib/zmlp/util.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Refactord face recognition and face model building.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/detection.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/recognition.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/encodings.dat
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/test_detection.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/test_processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/test_recognition.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Put the zmlp object detection on new element API.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/tests/test_processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_automl_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_googlevision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/tests/test_processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated processors to take into account renamed SDK methods.
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/tests/test_shot_clipifier.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/tests/test_time_clipifier.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_video.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/video.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed bug in storage that only showed up when running integration tests.
  sdk/python/pylib/zmlp/analysis/storage.py
  sdk/python/pylib/zmlp/analysis/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes archivist config so buckets get made.
  dev/config/archivist/application.properties
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  sdk/python/pylib/zmlp/analysis/storage.py
  sdk/python/pylib/zmlp/analysis/tests/test_proxy.py
  sdk/python/pylib/zmlp/analysis/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Simplified element proxy drawing for objects.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/processors.py
  sdk/python/pylib/zmlp/analysis/proxy.py
  test-data/images/detect/dogbike.jpg
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Renamed test
  sdk/python/pylib/zmlp/analysis/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed test that broke from resized test file.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/tests/test_processors.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/recognition.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added cv2 to dependencies.
  sdk/python/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed dependency name.
  sdk/python/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed officer test from bucket rename.
  services/officer/src/test/kotlin/com/zorroa/TestServer.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

lock to tf 2.0
  containers/zmlp-plugins-analysis/requirements.txt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency @sentry/browser to v5.11.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency eslint-plugin-import to v2.20.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency husky to v4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-44: move Sentry DSN to ENV var
  applications/wallet/frontend/.env.template
  applications/wallet/frontend/next.config.js
  applications/wallet/frontend/pages/_app.js
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Asset search requires only a map
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/app/AssetApp.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/AssetSearch.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Access Key fixing after merge
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed opencv depend for now, it kills wallet build.
  sdk/python/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated element object to use new mapping.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Element.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v1.json
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Add opencv lib back in.
  sdk/python/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Lower test coverage check for now.
  sdk/java/pom.xml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes test failure in CI/CD
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
  sdk/java/src/test/resources/toucan.jpg
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

refactoring gets and sets to builder pattern. Removing with*
  client/java/src/main/java/com/zorroa/zmlp/client/ApiKey.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/Clip.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/AssetCreateBuilder.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/AssetFilesFilter.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/AssetSpec.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/AssetUploadBuilder.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchAssetOpStatus.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/asset/BatchCreateAssetResponse.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/datasource/DataSource.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/datasource/DataSourceCredentials.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/datasource/DataSourceSpec.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/project/Project.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/project/ProjectFilter.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/project/ProjectSpec.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/AssetAppTests.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/DataSourceAppTests.java
  client/java/src/test/java/com/zorroa/zmlp/client/app/ProjectAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update reference on gitlab-ci to SDK path
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed up ci/cd
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

More chnages to gitlab ci/cd
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed pytest locations.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed unused analysis lib.
  client/python/pylib/zmlp/analysis/__init__.py
  client/python/pylib/zmlp/analysis/base.py
  client/python/pylib/zmlp/analysis/cloud.py
  client/python/pylib/zmlp/analysis/helpers.py
  client/python/pylib/zmlp/analysis/proxy.py
  client/python/pylib/zmlp/analysis/storage.py
  client/python/pylib/zmlp/analysis/testing.py
  client/python/pylib/zmlp/analysis/tests/__init__.py
  client/python/pylib/zmlp/analysis/tests/fake_gcs_account.json
  client/python/pylib/zmlp/analysis/tests/fake_model.dat
  client/python/pylib/zmlp/analysis/tests/test_cloud.py
  client/python/pylib/zmlp/analysis/tests/test_proxy.py
  client/python/pylib/zmlp/analysis/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*
