Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-all-stable-branches:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-all-stable-branches:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-py-lint-all-stable-branches:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  - flake8 --config .flake8.cfg sdk/python containers/zmlp-py3-base services/analyst
  - flake8 --config .flake8.cfg containers/zmlp-plugins-base containers/zmlp-plugins-core containers/zmlp-plugins-analysis

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

backend-kotlin-lint-all-stable-branches:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/archivist/src/**/*.kt
  - ktlint services/auth-server/src/**/*.kt
  - ktlint services/elasticsearch/es-kwconf/src/main/kotlin/**/*.kt
  - ktlint services/officer/src/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

sdk-unit-tests-all-stable-branches:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd sdk/python
  - python setup.py install
  - pytest
  - cd ../../containers/zmlp-plugins-base
  - pip install -r requirements.txt
  - pytest

Resolves WAL-403. Adds support for aws, azure and gcp credentials when creating a datasource.
  applications/wallet/app/datasources/serializers.py
  applications/wallet/app/datasources/tests/test_integration.py
  applications/wallet/app/datasources/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds Saved Search API, full CRUD.
  applications/wallet/app/searches/admin.py
  applications/wallet/app/searches/migrations/0001_initial.py
  applications/wallet/app/searches/models.py
  applications/wallet/app/searches/serializers.py
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/views.py
  applications/wallet/app/setup.cfg
  applications/wallet/app/wallet/fields.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/tests/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds Saved Search API, full CRUD.
  applications/wallet/app/searches/models.py
  applications/wallet/app/wallet/fields.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Shorten api keys.
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update dependency focus-visible to v5.1.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency next to v9.3.4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency swr to v0.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Raising ZMPL Exception
  applications/zvi-cloud-proxy/pylib/proxy/app/crawler.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issue where creds IDs were not showing up in DS creation requests.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/DataSourceController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSourceService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DataSourceServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

unused import
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DataSourceServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update dependency @svgr/webpack to v5.3.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency lint-staged to v10.1.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update jest monorepo
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issues with datasource creation and updating.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSourceService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DataSourceServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update to upload asynchronously
  applications/zvi-cloud-proxy/pylib/proxy/app/crawler.py
  applications/zvi-cloud-proxy/pylib/proxy/tests/properties-test.yaml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Unit Testing Extension
  applications/zvi-cloud-proxy/pylib/proxy/tests/test_crawler.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-361: add T&C and PP to create account
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/Form.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add the thing
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/Policies/Form.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update helpers.js
  applications/wallet/frontend/src/Policies/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Wallet: Makes the credential type needed to create a datasource in the api to be case-insensitive.
  applications/wallet/app/datasources/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

send the thing
  applications/wallet/frontend/src/CreateAccount/helpers.js
  applications/wallet/frontend/src/Policies/__tests__/index.spec.js
  applications/wallet/frontend/src/Policies/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update helpers.server.spec.js
  applications/wallet/frontend/src/User/__tests__/helpers.server.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-361: switch from localStorage to /me
  applications/wallet/frontend/__mocks__/swr.js
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/jest.setup.js
  applications/wallet/frontend/src/AccountPassword/Notice.js
  applications/wallet/frontend/src/AccountPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountPassword/helpers.js
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountProfile/helpers.js
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/__tests__/index.spec.js
  applications/wallet/frontend/src/Authentication/helpers.js
  applications/wallet/frontend/src/Authentication/index.js
  applications/wallet/frontend/src/CreateAccount/__tests__/helpers.spec.js
  applications/wallet/frontend/src/CreateAccount/helpers.js
  applications/wallet/frontend/src/Fetch/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Fetch/helpers.js
  applications/wallet/frontend/src/Policies/__tests__/index.spec.js
  applications/wallet/frontend/src/Policies/helpers.js
  applications/wallet/frontend/src/Policies/index.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/index.spec.js
  applications/wallet/frontend/src/Projects/__tests__/index.spec.js
  applications/wallet/frontend/src/Projects/index.js
  applications/wallet/frontend/src/User/__mocks__/index.js
  applications/wallet/frontend/src/User/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/User/__tests__/helpers.server.spec.js
  applications/wallet/frontend/src/User/__tests__/helpers.spec.js
  applications/wallet/frontend/src/User/__tests__/index.spec.js
  applications/wallet/frontend/src/User/helpers.js
  applications/wallet/frontend/src/User/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes bug with Agreement creation in the registration endpoint.
  applications/wallet/app/registration/tests/test_integration.py
  applications/wallet/app/registration/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix propTypes warning
  applications/wallet/frontend/src/Visualizer/Metadata.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Moved SqliteUtils to another file. Added paralelism to batch upload
  applications/zvi-cloud-proxy/pylib/proxy/app/crawler.py
  applications/zvi-cloud-proxy/pylib/proxy/app/sqlite_utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Batch Upload test
  applications/zvi-cloud-proxy/pylib/proxy/tests/test_crawler.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issue with app.assets.download file.
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/app/tests/test_asset_app.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-361: add T&C and PP to create account
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/helpers.js
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/Policies/Form.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/__tests__/index.spec.js
  applications/wallet/frontend/src/Policies/helpers.js
  applications/wallet/frontend/src/Policies/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Deploy an image for ml-bbq
  .gitlab-ci.yml
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-377: add Resizeable
  applications/wallet/frontend/src/Assets/Resize.js
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/LocalStorage/__tests__/index.spec.js
  applications/wallet/frontend/src/LocalStorage/index.js
  applications/wallet/frontend/src/Resizeable/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Resizeable/__tests__/index.spec.js
  applications/wallet/frontend/src/Resizeable/index.js
  applications/wallet/frontend/src/Styles/zIndex.js
  applications/wallet/frontend/src/Visualizer/Metadata.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

/* istanbul ignore next */
  applications/wallet/frontend/src/Resizeable/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/Visualizer/Metadata.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adding zvi to cicd file and updating Dockerfile and Docker-compose
  .gitlab-ci.yml
  applications/zvi-cloud-proxy/Dockerfile
  applications/zvi-cloud-proxy/docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-400: make Metadata standalone component
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/Asset/__mocks__/asset.js
  applications/wallet/frontend/src/ErrorBoundary/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ErrorBoundary/index.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/information.svg
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/Select.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metadata/__tests__/index.spec.js
  applications/wallet/frontend/src/Metadata/index.js
  applications/wallet/frontend/src/Visualizer/Content.js
  applications/wallet/frontend/src/Visualizer/Metadata.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/Metadata/index.js
  applications/wallet/frontend/src/Visualizer/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds ML-BBQ to the terraform deployment.
  .gitlab-ci.yml
  deployment/terraform/main.tf
  deployment/terraform/modules/api-gateway/main.tf
  deployment/terraform/modules/api-gateway/variables.tf
  deployment/terraform/modules/ml-bbq/main.tf
  deployment/terraform/modules/ml-bbq/outputs.tf
  deployment/terraform/modules/ml-bbq/variables.tf
  deployment/terraform/modules/ml-bbq/versions.tf
  docker-compose.yml
  services/mlbbq/pylib/mlbbq/main.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Wallet: Makes the crednetials optional in the datasource api.
  applications/wallet/app/datasources/serializers.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

workbench first push
  applications/workbench/Dockerfile
  applications/workbench/README.md
  applications/workbench/data/fruits.json
  applications/workbench/data/notebooks/Import Pomological Dataset.ipynb
  applications/workbench/data/notebooks/Search and Display.ipynb
  applications/workbench/data/zw/__init__.py
  applications/workbench/data/zw/display.py
  applications/workbench/data/zw/proxies.py
  applications/workbench/docker-compose.yml
  applications/workbench/jupyter_custom/custom.css
  applications/workbench/jupyter_custom/custom.js
  applications/workbench/jupyter_custom/zorroa.svg
  applications/workbench/jupyter_notebook_config.py
  applications/workbench/requirements.txt
  applications/workbench/signing-key.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*
