Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

Fixes linting issue
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetPayloads.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetResponse.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

py-linting
  client/python/pylib/zmlp/tests/test_asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Detect python code changes,
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix analyst startup.
  services/analyst/pylib/analyst/main.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Updated all storage env vars.
  .gitlab-ci.yml
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/officer/main.tf
  docker-compose.yml
  sdk/pylib/zmlpsdk/cloud.py
  sdk/pylib/zmlpsdk/tests/test_cloud.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
  services/analyst/pylib/analyst/service.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/MultipleWebSecurityConfig.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/PipelineStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/ProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/SystemStorageService.kt
  services/archivist/archivist/src/main/resources/application.properties
  services/officer/src/main/kotlin/com/zorroa/Config.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Addd GCS storage bean.
  lib/jvm-common/zmlp-service/src/main/kotlin/com/zorroa/zmlp/service/storage/GcsSystemStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated archivist service key variable.
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixe tests configurations.
  dev/config/archivist/application.properties
  services/archivist/archivist/src/test/resources/application-test.properties
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes test properties, again.
  dev/config/archivist/application.properties
  services/archivist/archivist/src/test/resources/application-test.properties
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes officer startup script.
  services/officer/docker/run_server.sh
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update references to zmpl-service. Deleted some classes that has been implemented in the lib
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/Application.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/AbstractRepository.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskErrorDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/MaintenanceService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsSystemStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsSystemStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/SystemStorageService.kt
  services/archivist/archivist/src/main/resources/application.properties
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DispatcherServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/MaintenanceServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsProjectStorageServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsSystemStorageServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fix storage test
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes officer startup.
  services/officer/docker/run_server.sh
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Removing System Storage Service
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/SystemStorageService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

add jobID to details url
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add job id to test
  applications/wallet/frontend/src/JobDetails/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobDetails/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-12: update No Jobs UI
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/noJobs.svg
  applications/wallet/frontend/src/Jobs/Empty.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/noJobs.svg
  applications/wallet/frontend/src/Table/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-23: update API Keys UI
  applications/wallet/frontend/src/ApiKeys/Row.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/constants.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Ignore the validation key function in the ApiKey ase enter the commit message for your changes. Lines starting
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes regex matching.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Added a custom pipeline mod dao.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/PipelineMod.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineModDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/PipelineModController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/PipelineModControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineModServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

add <ApiKeysMenu />
  applications/wallet/frontend/src/ApiKeys/Menu.js
  applications/wallet/frontend/src/ApiKeys/Row.js
  applications/wallet/frontend/src/ApiKeys/__mocks__/apikeys.js
  applications/wallet/frontend/src/ApiKeys/__tests__/Menu.spec.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add breadcrumb title
  applications/wallet/frontend/src/JobDetails/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobDetails/__tests__/index.spec.js
  applications/wallet/frontend/src/JobDetails/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add breadcrumb compoenent files
  applications/wallet/frontend/src/Breadcrumbs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Breadcrumbs/__tests__/index.spec.js
  applications/wallet/frontend/src/Breadcrumbs/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add confirm modal
  applications/wallet/frontend/__mocks__/react-aria-modal.js
  applications/wallet/frontend/src/ApiKeys/Menu.js
  applications/wallet/frontend/src/ApiKeys/__tests__/Menu.spec.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Modal/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Modal/__tests__/index.spec.js
  applications/wallet/frontend/src/Modal/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

make breadcrumbs clickable
  applications/wallet/frontend/src/Breadcrumbs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Breadcrumbs/__tests__/index.spec.js
  applications/wallet/frontend/src/Breadcrumbs/index.js
  applications/wallet/frontend/src/JobDetails/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobDetails/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

address comments
  applications/wallet/frontend/src/Breadcrumbs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Breadcrumbs/__tests__/index.spec.js
  applications/wallet/frontend/src/Breadcrumbs/index.js
  applications/wallet/frontend/src/JobDetails/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobDetails/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fix env vars
  .gitlab-ci.yml
  applications/wallet/Dockerfile
  applications/wallet/frontend/.env.template
  applications/wallet/frontend/next.config.js
  applications/wallet/frontend/pages/_app.js
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add passHref
  applications/wallet/frontend/src/Breadcrumbs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Breadcrumbs/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

replace last crumb with PageTitle for accessibility
  applications/wallet/frontend/src/Breadcrumbs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Breadcrumbs/__tests__/index.spec.js
  applications/wallet/frontend/src/Breadcrumbs/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added logging to figure out why test is failing in CI/CD
  services/officer/src/main/kotlin/com/zorroa/Storage.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Analyst and Asset services logs
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AnalystService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

fix env vars
  .gitlab-ci.yml
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Job, Task, Task Error logs
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Expose git commit SHA to Wallet frontend
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Dispatcher, IndexCluster, IndexRouting, Job, Pipeline, Project logs
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AnalystService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexClusterService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexRoutingService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-23: update API Keys UI
  applications/wallet/frontend/__mocks__/react-aria-modal.js
  applications/wallet/frontend/src/ApiKeys/Menu.js
  applications/wallet/frontend/src/ApiKeys/Row.js
  applications/wallet/frontend/src/ApiKeys/__mocks__/apikeys.js
  applications/wallet/frontend/src/ApiKeys/__tests__/Menu.spec.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/index.js
  applications/wallet/frontend/src/Modal/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Modal/__tests__/index.spec.js
  applications/wallet/frontend/src/Modal/index.js
  applications/wallet/frontend/src/Styles/constants.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches
