Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - pip install .
  - pytest
  - cd ../zvi
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-4.2.1-amd64-static.tar.xz
  - cp ffmpeg-4.2.1-amd64-static/ffmpeg /usr/bin
  ...

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

fixes bug when labeled assets are missing the simhash
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/tests/test_train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

delete debug print
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes archivist test for the pipeline resolve endpoint.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/PipelineControllerTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes doc/image extraction pages.
  containers/zmlp-plugins-core/pylib/zmlp_core/image/tests/test_image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/tests/test_importers.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Labeling Notebook reference
  applications/workbench/data/notebooks/Updating_Labels.ipynb
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added concept of module depends. A applied to face models.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/PipelineMod.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ModelServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineResolverServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-741: add Integration test to frontend create API Keys
  applications/wallet/cypress/integration/backend/apikeys.js
  applications/wallet/cypress/integration/backend/registration.js
  applications/wallet/cypress/integration/frontend/ApiKeys/index.js
  applications/wallet/cypress/integration/frontend/Users/index.js
  applications/wallet/cypress/support/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Reduces django test time from 45 seconds to 9 seconds.
  applications/wallet/app/registration/tests/test_integration.py
  applications/wallet/app/wallet/settings/local-dev.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-763: fix undefined projects
  applications/wallet/frontend/src/Projects/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates models module name retrieval for face UI
  applications/wallet/app/faces/tests/test_integration.py
  applications/wallet/app/faces/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Delete api key test
  applications/wallet/cypress/integration/frontend/ApiKeys/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add Open Index Route method. Close index routes when a project is disabled and open when a project is enabled
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexRoutingService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/IndexRoutingServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

test adding and deleting project users, deleting data source
  applications/wallet/cypress/integration/frontend/ApiKeys/index.js
  applications/wallet/cypress/integration/frontend/DataSources/index.js
  applications/wallet/cypress/integration/frontend/ProjectUsers/index.js
  applications/wallet/cypress/support/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds the stackdriver adapter and a custom stackdriver metric to the deployment.
  .terraformignore
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/stackdriver-adapter/main.tf
  deployment/terraform/modules/stackdriver-adapter/outputs.tf
  deployment/terraform/modules/stackdriver-adapter/variables.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a nug in stackdriver adapter.
  .terraformignore
  deployment/terraform/main.tf
  deployment/terraform/modules/stackdriver-adapter/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixing Index State parameter name
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Changes the custom metric to an external metric.
  deployment/terraform/modules/analyst/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Wal 566 custom metric queued jobs
  deployment/terraform/modules/analyst/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-713: refactor Combobox and add to AssetLabeling
  applications/wallet/frontend/src/AssetLabeling/Add.js
  applications/wallet/frontend/src/AssetLabeling/List.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/index.spec.js
  applications/wallet/frontend/src/AssetLabeling/helpers.js
  applications/wallet/frontend/src/Combobox/Container.js
  applications/wallet/frontend/src/Combobox/Input.js
  applications/wallet/frontend/src/Combobox/Options.js
  applications/wallet/frontend/src/Combobox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Combobox/__tests__/index.spec.js
  applications/wallet/frontend/src/Combobox/index.js
  applications/wallet/frontend/src/FaceLabeling/Form.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/Form.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

converted logo timeline to label detection format
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_timeline.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove trailing whitespace
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_timeline.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-766: fix QuickView zIndex
  applications/wallet/frontend/src/Assets/QuickView.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/QuickView.spec.js.snap
  applications/wallet/frontend/src/Styles/zIndex.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add projectId to localStorage modelId/label
  applications/wallet/frontend/src/AssetLabeling/Add.js
  applications/wallet/frontend/src/AssetLabeling/Menu.js
  applications/wallet/frontend/src/Models/__tests__/index.spec.js
  applications/wallet/frontend/src/Models/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-698: add MetadataPrettyLabels section
  applications/wallet/frontend/src/Metadata/__tests__/index.spec.js
  applications/wallet/frontend/src/MetadataPretty/Labels.js
  applications/wallet/frontend/src/MetadataPretty/LabelsRow.js
  applications/wallet/frontend/src/MetadataPretty/Predictions.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsContent.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsQuery.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Labels.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/LabelsRow.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Labels.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsRow.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/index.js
  applications/wallet/frontend/src/Text/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-698: fix MetadataPrettyLabels
  applications/wallet/frontend/src/MetadataPretty/Labels.js
  applications/wallet/frontend/src/MetadataPretty/LabelsContent.js
  applications/wallet/frontend/src/MetadataPretty/LabelsRow.js
  applications/wallet/frontend/src/MetadataPretty/Predictions.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsContent.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__mocks__/labels.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Labels.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/LabelsContent.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/LabelsRow.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Labels.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsContent.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsRow.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add timeline for object detection
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_timeline.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Temporarily removes the the stackdriver adapter from the deployment.
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adding new Default Index Route to a Project
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexRoutingService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

batch label add/delete
  client/python/examples/label_asset_batch.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

train model by model_name
  client/python/examples/train_model.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-713: fix FaceLabeling
  applications/wallet/frontend/src/AssetLabeling/Add.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/helpers.js
  applications/wallet/frontend/src/Combobox/Options.js
  applications/wallet/frontend/src/Combobox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Combobox/__tests__/index.spec.js
  applications/wallet/frontend/src/Combobox/index.js
  applications/wallet/frontend/src/FaceLabeling/Form.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updating Project Mapping on Project Dao. Adding IndexRouting and default pipeline pk
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/ProjectDao.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updating testSetIndexRoute test case
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-647: style micro buttons
  applications/wallet/frontend/src/Filter/Reset.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Reset.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-698: add MetadataPrettyLabelsMenu
  applications/wallet/frontend/__mocks__/react-use-clipboard.js
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/AssetLabeling/Content.js
  applications/wallet/frontend/src/AssetLabeling/List.js
  applications/wallet/frontend/src/AssetLabeling/Menu.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/index.js
  applications/wallet/frontend/src/Button/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterDateRange/Content.js
  applications/wallet/frontend/src/FilterLabel/Content.js
  applications/wallet/frontend/src/FilterLabel/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterLabel/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/Content.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Filters/helpers.js
  applications/wallet/frontend/src/MetadataPretty/Labels.js
  applications/wallet/frontend/src/MetadataPretty/LabelsContent.js
  applications/wallet/frontend/src/MetadataPretty/LabelsMenu.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsContent.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/LabelsMenu.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Labels.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsContent.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsMenu.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Select/index.js
  applications/wallet/frontend/src/Styles/Reset.js
  applications/wallet/frontend/src/Styles/typography.js
  applications/wallet/frontend/src/TaskErrorStackTrace/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds the CMSA back into the deployment and updates the custom metric for the analysts.
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/gke-cluster/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
