Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - pip install .
  - pytest
  - cd ../zvi
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-4.2.1-amd64-static.tar.xz
  - cp ffmpeg-4.2.1-amd64-static/ffmpeg /usr/bin
  ...

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

Update dependency uuid to v8.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update jest monorepo to v26.1.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add header with edit button and delete button/function
  applications/wallet/frontend/src/Button/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/index.js
  applications/wallet/frontend/src/Card/index.js
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartFacet/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartFacet/index.js
  applications/wallet/frontend/src/ChartForm/Content.js
  applications/wallet/frontend/src/ChartForm/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/index.js
  applications/wallet/frontend/src/Charts/Header.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/edit.svg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update merge snaps
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Remove CARD_ICON and fix some styling
  applications/wallet/frontend/src/Button/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/index.js
  applications/wallet/frontend/src/Charts/Header.js
  applications/wallet/frontend/src/Icons/edit.svg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Rename Svg and add aria-label
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartFacet/__tests__/index.spec.js
  applications/wallet/frontend/src/Charts/Header.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/pen.svg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Remove unnecessary event and add ICON_SIZE
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Charts/Header.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Swap focus to focus-visible:focus
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Charts/Header.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fix snap conflicts
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-519: add Header and delete function
  applications/wallet/frontend/src/Card/index.js
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartFacet/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartFacet/index.js
  applications/wallet/frontend/src/ChartForm/Content.js
  applications/wallet/frontend/src/ChartForm/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/index.js
  applications/wallet/frontend/src/Charts/Header.js
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/pen.svg
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add editing
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartFacet/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartFacet/index.js
  applications/wallet/frontend/src/ChartForm/Content.js
  applications/wallet/frontend/src/ChartForm/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartForm/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartForm/index.js
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartRange/index.js
  applications/wallet/frontend/src/Charts/Header.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update sentry monorepo to v5.18.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove gcp creds arg, using auto-detection
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/tests/test_train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Data set modified state
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/DataSet.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/DataSetDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V5__modified_dataset.sql
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ModelServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates face training to match zmlp changes
  Pipfile
  Pipfile.lock
  applications/wallet/Pipfile.lock
  applications/wallet/app/faces/tests/test_integration.py
  applications/wallet/app/faces/views.py
  applications/wallet/app/wallet/settings/__init__.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixes camelcasing on visualizations response
  applications/wallet/app/visualizations/tests/test_integration.py
  applications/wallet/app/visualizations/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-648. Syncs project tier levels with ZMLP.
  applications/wallet/app/conftest.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/subscriptions/models.py
  applications/wallet/app/wallet/migrations/0003_sync_zmlp_projects.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Changes default for unappliedChanges mocked endpoint so you can actually train in dev
  applications/wallet/app/faces/tests/test_integration.py
  applications/wallet/app/faces/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-519: update ChartForm add Values
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartForm/Content.js
  applications/wallet/frontend/src/ChartForm/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartForm/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Charts/Header.js
  applications/wallet/frontend/src/Charts/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Charts/__tests__/index.spec.js
  applications/wallet/frontend/src/Charts/helpers.js
  applications/wallet/frontend/src/Charts/index.js
  applications/wallet/frontend/src/DataVisualization/Actions.js
  applications/wallet/frontend/src/DataVisualization/Content.js
  applications/wallet/frontend/src/DataVisualization/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Input/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove model_id arg
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/tests/test_train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

cleanup
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

change google dir to google_cloud dir to avoid failures when importing google.cloud lib
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_speech.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_video.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_language.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/automl.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/cloud_lang.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/cloud_timeline.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/gcp_client.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/mock-data/detect-explicit.dat
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/mock-data/detect-labels.dat
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/mock-data/detect-logos.dat
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/mock-data/detect-objects.dat
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/mock-data/detect-text.dat
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/test_automl_nlp.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/test_automl_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/test_cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/test_cloud_timeline.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/test_cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fix google_cloud dir errors
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/test_cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/tests/test_cloud_vision.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

add model_id for app_model instead of gcs model
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/tests/test_train.py
  containers/zmlp-plugins-train/pylib/zmlp_train/automl/train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update for AutoMLModelClassifier
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google_cloud/automl.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

move ChartsHeader to ChartHeader
  applications/wallet/frontend/src/Chart/Header.js
  applications/wallet/frontend/src/ChartFacet/index.js
  applications/wallet/frontend/src/ChartRange/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-643. Refactors the default Wallet admin user to not use the inception key.
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-pubsub.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/management/commands/createproject.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/tests/test_unit.py
  applications/wallet/app/wallet/utils.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-519: update ChartForm add Values
  applications/wallet/frontend/src/Chart/Header.js
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartFacet/index.js
  applications/wallet/frontend/src/ChartForm/Content.js
  applications/wallet/frontend/src/ChartForm/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartForm/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartRange/index.js
  applications/wallet/frontend/src/Charts/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Charts/__tests__/index.spec.js
  applications/wallet/frontend/src/Charts/helpers.js
  applications/wallet/frontend/src/Charts/index.js
  applications/wallet/frontend/src/DataVisualization/Actions.js
  applications/wallet/frontend/src/DataVisualization/Content.js
  applications/wallet/frontend/src/DataVisualization/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Input/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Buildx with 1 thread for the git push.
  .gitlab-ci.yml
  buildx
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removes arg for a client when syncing a project.
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-pubsub.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/management/commands/createproject.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Linting
  applications/wallet/app/projects/tests/test_integration.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes failing tests.
  applications/wallet/app/projects/tests/test_integration.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates face api to frontend requests - adds status endpoint adds filename to retrieve return.
  applications/wallet/app/faces/tests/test_integration.py
  applications/wallet/app/faces/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removes uncommented out code
  applications/wallet/app/faces/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fetch training job; update labeling panel accordingly
  applications/wallet/frontend/src/FaceLabeling/TrainApply.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/TrainApply.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/FlashMessage/index.js
  applications/wallet/frontend/src/Styles/colors.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

tweak test description; remove unused flash message css
  applications/wallet/frontend/src/FaceLabeling/__tests__/TrainApply.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
  applications/wallet/frontend/src/FlashMessage/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

handle when training job finishes
  applications/wallet/frontend/src/FaceLabeling/TrainApply.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

MR comments; refactor; update tests
  applications/wallet/frontend/src/FaceLabeling/Messages.js
  applications/wallet/frontend/src/FaceLabeling/TrainApply.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/Messages.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/TrainApply.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/Messages.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

change component name
  applications/wallet/frontend/src/FaceLabeling/Message.js
  applications/wallet/frontend/src/FaceLabeling/TrainApply.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/Message.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/TrainApply.spec.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/Message.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/TrainApply.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
