Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*

Adds a couple of indexes to the metrics DB.
  services/metrics/app/metrics/records/migrations/0005_auto_20210429_1818.py
  services/metrics/app/metrics/records/models.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes index to match query correctly.
  services/metrics/app/metrics/records/migrations/0005_apicall_records_api_service_88d00c_idx.py
  services/metrics/app/metrics/records/migrations/0005_auto_20210429_1818.py
  services/metrics/app/metrics/records/models.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates the wallet ZMLP syncing code to not create missing projects by default.
  applications/wallet/app/organizations/tests/test_integration.py
  applications/wallet/app/organizations/views.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/management/commands/createproject.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
  applications/wallet/app/wallet/tests/test_utils.py
  applications/wallet/app/wallet/utils.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds a wallet admin command that will cycle out apikeys attached to projects.
  applications/wallet/app/conftest.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

updated BoonFlow so it can utilize a flask auth header.
  client/boonsdk/pylib/boonsdk/client.py
  containers/boondocks/pylib/boondocks/reactor.py
  containers/boonflow/pylib/boonflow/base.py
  containers/boonflow/pylib/boonflow/cloud.py
  containers/boonflow/pylib/boonflow/storage.py
  containers/boonflow/pylib/boonflow/tests/test_base.py
  containers/boonflow/pylib/boonflow/video.py
  containers/boonflow/setup.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Cache face and sim modules.
  containers/plugins-analysis/pylib/boonai_analysis/boonai/faces.py
  containers/plugins-analysis/pylib/boonai_analysis/utils/simengine.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Exposed MLBBQ endpoint for BBQing Assets
  docker-compose.yml
  services/mlbbq/Dockerfile
  services/mlbbq/pylib/mlbbq/auth.py
  services/mlbbq/pylib/mlbbq/face.py
  services/mlbbq/pylib/mlbbq/main.py
  services/mlbbq/pylib/mlbbq/pipeline.py
  services/mlbbq/pylib/mlbbq/similarity.py
  services/mlbbq/pylib/mlbbq/tests/test_face.py
  services/mlbbq/pylib/mlbbq/tests/test_pipeline.py
  services/mlbbq/pylib/mlbbq/tests/test_similarity.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Resolves MAIN-70. Creates a wallet admin command for hard-deleting projects.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/urls.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

WAL-1076: add MetadataPretty Analysis clickies
  applications/wallet/frontend/src/Filters/helpers.js
  applications/wallet/frontend/src/MetadataPretty/NoResults.js
  applications/wallet/frontend/src/MetadataPretty/Predictions.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsContent.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsQuery.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Switch.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

fixup
  applications/wallet/frontend/src/MetadataPretty/Predictions.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsContent.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency @reach/combobox to v0.15.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency swr to v0.5.5
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency @sentry/browser to v6.3.5
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency cypress to v7.2.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency eslint to v7.25.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency eslint-config-prettier to v8.3.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency http-proxy-middleware to v1.3.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added option to immediate flush an index
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ZpsBuilderServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added endpoint to get pipeline
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Zps.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/PipelineController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ZpsBuilderService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/PipelineControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ZpsBuilderServiceTests.kt
  services/mlbbq/pylib/mlbbq/pipeline.py
  services/mlbbq/pylib/mlbbq/tests/test_pipeline.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency next to v10.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  renovate.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Ignore function with the prefix test
  containers/boonflow/pylib/boonflow/testing.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Expose applying module to asset.
  client/boonsdk/pylib/boonsdk/app/asset_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_asset_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds endpoint for manually indexing asset that MLBBQ can call.
  containers/boondocks/pylib/boondocks/process.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/AssetPayloads.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/queue/PubSubAbstractTest.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes issue with flask test
  containers/boonflow/pylib/boonflow/tests/test_base.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  containers/boonflow/pylib/boonflow/tests/test_base.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added env vars for mlbbq
  deployment/terraform/modules/ml-bbq/main.tf
  deployment/terraform/modules/ml-bbq/variables.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes terraform issue
  deployment/terraform/main.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Renamed endpoint
  client/boonsdk/pylib/boonsdk/app/asset_app.py
  services/mlbbq/pylib/mlbbq/pipeline.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Renamed url in test
  services/mlbbq/pylib/mlbbq/tests/test_pipeline.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency PyJWT to v2.1.0
  client/boonhook/requirements.txt
  services/swivel/requirements.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency Django to v3.2.1
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

WAL-1075: add Webhooks generate key blinkies
  applications/wallet/frontend/src/WebhooksAdd/Form.js
  applications/wallet/frontend/src/WebhooksAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/WebhooksAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/WebhooksAdd/helpers.js
  applications/wallet/frontend/src/WebhooksEdit/Form.js
  applications/wallet/frontend/src/WebhooksEdit/__tests__/index.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update aws-java-sdk monorepo to v1.11.1012
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.fasterxml.jackson.core:jackson-databind to v2.12.3
  services/elasticsearch/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.fasterxml.jackson.dataformat:jackson-dataformat-yaml to v2.12.3
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.fasterxml.jackson.module:jackson-module-kotlin to v2.12.3
  services/elasticsearch/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.google.cloud.sql:postgres-socket-factory to v1.2.3
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.google.cloud:google-cloud-automl to v1.4.2
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.google.cloud:google-cloud-pubsub to v1.112.3
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa
