Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests, zmlp-services-unit-tests-master-branch-any-change

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-frontend-test-suite-master-branch-any-change:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-backend-test-suite-master-branch-any-change:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx wallet
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: ./deployment/bin/k8s-redeploy.sh
    PROJECT: zmlp-258901
  stage: deploy
  before_script:
  - echo $SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-py-lint-master-branch-any-change:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

backend-kotlin-lint-master-branch-any-change:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - python setup.py install
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-4.2.1-amd64-static.tar.xz
  - cp ffmpeg-4.2.1-amd64-static/ffmpeg /usr/bin
  ...

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

Updates envs and tagging for docker images
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

remove tristate
  applications/wallet/frontend/src/Checkbox/TriState.js
  applications/wallet/frontend/src/Checkbox/TriStateIcon.js
  applications/wallet/frontend/src/Checkbox/__tests__/TriState.spec.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/TriState.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-554: memorize Asset thumbnails column count
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/LocalStorage/__tests__/helpers.spec.js
  applications/wallet/frontend/src/LocalStorage/__tests__/index.spec.js
  applications/wallet/frontend/src/LocalStorage/helpers.js
  applications/wallet/frontend/src/LocalStorage/index.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Panel/index.js
  applications/wallet/frontend/src/Resizeable/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Resolves WAL-552. Enables ES backups.
  deployment/terraform/main.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/archivist/variables.tf
  deployment/terraform/modules/elasticsearch/main.tf
  deployment/terraform/modules/elasticsearch/outputs.tf
  deployment/terraform/modules/elasticsearch/variables.tf
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

fixing dumb docker tag command
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-541: add Filter Fields search filter
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/Filter/Search.js
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterFacet/Content.js
  applications/wallet/frontend/src/FilterFacet/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/Menu.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/index.spec.js
  applications/wallet/frontend/src/SearchFilter/index.js
  applications/wallet/frontend/src/Styles/constants.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update Menu.js
  applications/wallet/frontend/src/Filters/Menu.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

testing
  applications/wallet/README.md
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Base ZVI library.
  client/python/VERSION
  client/zvi/.gitignore
  client/zvi/Dockerfile
  client/zvi/pylib/zvi/__init__.py
  client/zvi/setup.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Testing deploy to dev
  applications/wallet/README.md
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Testing zmlp deploy
  client/python/pylib/zmlp/client.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Wait will snapshot policy is finsihed.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ClusterBackupServiceTests.kt
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests, zmlp-services-unit-tests-master-branch-any-change

Updates the analysts to mount the hosts /tmp dir.
  deployment/terraform/modules/analyst/main.tf
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-539: clear text filter search
  applications/wallet/frontend/pages/_app.js
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/FilterText/Detection.js
  applications/wallet/frontend/src/FilterText/__tests__/__snapshots__/Detection.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Improves models build speed. x
  containers/zmlp-plugins-models/Dockerfile
  containers/zmlp-plugins-models/fruit.jpg
  containers/zmlp-plugins-models/get_models.py
  containers/zmlp-plugins-models/imagenet_class_index.json
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update Thumbnail.js
  applications/wallet/frontend/src/Assets/Thumbnail.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

linting
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ClusterBackupServiceTests.kt
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests, zmlp-services-unit-tests-master-branch-any-change

returning search result as function + unittest
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/app/tests/test_asset_app.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Updates KNN trainer to use file_storage.models.save_model
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Fixes getattr call.
  client/python/pylib/zmlp/search.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Fixes model saving/zipping tests.
  sdk/pylib/zmlpsdk/tests/extracted_model/.gitignore
  sdk/pylib/zmlpsdk/tests/model.zip
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Fixes face knn model extraction.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/model_knn.zip
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Try to speed up biulds with apt cache.
  containers/zmlp-plugins-analysis/Dockerfile
  containers/zmlp-plugins-models/Dockerfile
  containers/zmlp-plugins-train/Dockerfile
  containers/zmlp-py3-base/Dockerfile
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Removed unused imports.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Converted knn face to use new model loading.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/face_rec.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_face_rec.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-537: make Accordion title clickable
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/Filter/Actions.js
  applications/wallet/frontend/src/Filter/Reset.js
  applications/wallet/frontend/src/Filter/Title.js
  applications/wallet/frontend/src/Filter/__tests__/Actions.spec.js
  applications/wallet/frontend/src/Filter/__tests__/Reset.spec.js
  applications/wallet/frontend/src/Filter/__tests__/Title.spec.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Actions.spec.js.snap
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Reset.spec.js.snap
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Title.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/index.spec.js
  applications/wallet/frontend/src/FilterExists/index.js
  applications/wallet/frontend/src/FilterFacet/Content.js
  applications/wallet/frontend/src/FilterFacet/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterFacet/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterFacet/index.js
  applications/wallet/frontend/src/FilterLabelConfidence/Slider.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/index.js
  applications/wallet/frontend/src/FilterRange/Content.js
  applications/wallet/frontend/src/FilterRange/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterRange/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterRange/index.js
  applications/wallet/frontend/src/FilterText/__tests__/Detection.spec.js
  applications/wallet/frontend/src/FilterText/index.js
  applications/wallet/frontend/src/Filters/__tests__/Content.spec.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update Actions.js
  applications/wallet/frontend/src/Filter/Actions.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Another attempt at face-rec tests.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/face_classifier.pickle
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/model.zip
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_face_rec.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

working with bad ref for Infinite Loader
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Assets/Grid.js
  applications/wallet/frontend/src/Assets/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

cleanup functions
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/app/tests/test_asset_app.py
  client/python/setup.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Maintain selected ID
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Scroll to selected
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Fix jumping when scrolling stops
  applications/wallet/frontend/src/Assets/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-527: add "Processing..." state to all forms
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountPassword/helpers.js
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountProfile/helpers.js
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ApiKeysAdd/helpers.js
  applications/wallet/frontend/src/CreateAccount/helpers.js
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/Content.js
  applications/wallet/frontend/src/DataSourcesEdit/Form.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
  applications/wallet/frontend/src/Policies/helpers.js
  applications/wallet/frontend/src/Policies/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/helpers.js
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/helpers.js
  applications/wallet/frontend/src/ResetPassword/Confirm.js
  applications/wallet/frontend/src/ResetPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ResetPassword/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

coverage
  applications/wallet/frontend/src/AccountPassword/__mocks__/helpers.js
  applications/wallet/frontend/src/AccountPassword/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountPassword/helpers.js
  applications/wallet/frontend/src/AccountProfile/__mocks__/helpers.js
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Resolves WAL-484. Adds final changes to integrate with gcp marketplace.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-pubsub.py
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-usage-report.py
  applications/wallet/app/gcpmarketplace/utils.py
  applications/wallet/app/gcpmarketplace/views.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/utils.py
  applications/wallet/app/subscriptions/models.py
  applications/wallet/app/subscriptions/serializers.py
  applications/wallet/app/subscriptions/tests/test_integration.py
  applications/wallet/frontend/src/Account/Card.js
  applications/wallet/frontend/src/Project/Cards.js
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*, .gitlab-ci.yml
  wallet-frontend-test-suite-master-branch-any-change: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*, .gitlab-ci.yml
  wallet-backend-test-suite-master-branch-any-change: any of: **/*
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-deploy-development: any of: applications/wallet/**/*
  backend-py-lint: any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py, .gitlab-ci.yml
  backend-py-lint-master-branch-any-change: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt, lib/**/*.kt, .gitlab-ci.yml
  backend-kotlin-lint-master-branch-any-change: any of: **/*
  sdk-unit-tests: any of: client/python/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  plugin-container-tests: any of: client/python/**/*, sdk/**/*, containers/**/*, .gitlab-ci.yml
  sdk-java-unit-tests: any of: client/java/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  sdk-unit-tests-master-branch-any-change: any of: **/*
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-services-build-artifacts: any of: services/**/*, lib/**/*, .gitlab-ci.yml
  zmlp-services-build-artifacts-master-branch-any-change: any of: **/*
  elasticsearch-push-to-local-registry: any of: services/**/*, .gitlab-ci.yml
  elasticsearch-push-to-local-registry-master-branch-any-change: any of: **/*
  zmlp-services-unit-tests: any of: services/**/*, lib/**/*, .gitlab-cy.yml
  zmlp-services-unit-tests-master-branch-any-change: any of: **/*
