Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests, zmlp-services-unit-tests-master-branch-any-change

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*, .gitlab-ci.yml
  wallet-frontend-test-suite-master-branch-any-change: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*, .gitlab-ci.yml
  wallet-backend-test-suite-master-branch-any-change: any of: **/*
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-deploy-development: any of: applications/wallet/**/*
  backend-py-lint: any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py, .gitlab-ci.yml
  backend-py-lint-master-branch-any-change: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt, lib/**/*.kt, .gitlab-ci.yml
  backend-kotlin-lint-master-branch-any-change: any of: **/*
  sdk-unit-tests: any of: client/python/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  plugin-container-tests: any of: client/python/**/*, sdk/**/*, containers/**/*, .gitlab-ci.yml
  sdk-java-unit-tests: any of: client/java/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  sdk-unit-tests-master-branch-any-change: any of: **/*
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-services-build-artifacts: any of: services/**/*, lib/**/*, .gitlab-ci.yml
  zmlp-services-build-artifacts-master-branch-any-change: any of: **/*
  elasticsearch-push-to-local-registry: any of: services/**/*, .gitlab-ci.yml
  elasticsearch-push-to-local-registry-master-branch-any-change: any of: **/*
  zmlp-services-unit-tests: any of: services/**/*, lib/**/*, .gitlab-cy.yml
  zmlp-services-unit-tests-master-branch-any-change: any of: **/*

testing backend tests
  applications/wallet/app/wallet/views.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

testing
  applications/wallet/frontend/README.md
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-420: add Asset expansion
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Asset/__mocks__/docAsset.js
  applications/wallet/frontend/src/Asset/__mocks__/videoAsset.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Asset/__tests__/index.spec.js
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__mocks__/assets.js
  applications/wallet/frontend/src/Assets/__tests__/Thumbnail.spec.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/expand.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

tests now passing
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_knn.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Updates all wallet tests and builds to use rules and support qa branch workflow
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

test
  applications/wallet/frontend/README.md
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

test
  applications/wallet/app/assets/views.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

minor update to ci
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-420: fix snapshots
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Makes final changes to gitlab ci to convert all zmlp steps to using rules and handling qa
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Updates ci deployments to be more succinct and include environments on them
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Testing frontend merge flow
  applications/wallet/frontend/README.md
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

testing backend change
  applications/wallet/app/modules/views.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

classifier + test
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/classifiers.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/ClassifierTest.hd5
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/ClassifierTest_labels.txt
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/pets.zip
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_classifiers.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

fix utils import error
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/classifiers.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

fix utils tests
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/ClassifierTest_labels.txt
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/tests/test_utils.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

test_utils imports
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/tests/test_utils.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Resolves WAL-543. Fixes a bug in the terraform where the archivist had the wrong analyst key.
  .terraformignore
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/outputs.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/archivist/variables.tf
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

skip utils tests
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/tests/test_utils.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Handle ElasticSearch DSL search objects.
  client/python/pylib/zmlp/search.py
  client/python/pylib/zmlp/tests/test_search.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

addressing comments
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_knn.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Resolves WAL-551. Adds the option of selecting container tags when doing a terrraform deploy.
  deployment/terraform/main.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Add human readable video time following Youtube time formatting
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Assets/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

add readable timestamps following Youtube format
  applications/wallet/frontend/src/Assets/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Assets/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Use the helper :sweat_smile:
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

adding workbench notebooks
  applications/workbench/data/notebooks/.ipynb_checkpoints/Import Flickr Images-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Import Imagenet Images-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Import Pomological Dataset-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Import Test Images-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Keras_Play-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Objects_COCO-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Search and Display-Copy1-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Search and Display-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/train_yolo_v3-checkpoint.ipynb
  applications/workbench/data/notebooks/Import Flickr Images.ipynb
  applications/workbench/data/notebooks/Import Imagenet Images.ipynb
  applications/workbench/data/notebooks/Import Pomological Dataset.ipynb
  applications/workbench/data/notebooks/Import Test Images.ipynb
  applications/workbench/data/notebooks/Search and Display.ipynb
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

removing checkpoints
  applications/workbench/data/notebooks/.ipynb_checkpoints/Keras_Play-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Objects_COCO-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Search and Display-Copy1-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/train_yolo_v3-checkpoint.ipynb
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

removing checkpoints
  applications/workbench/data/notebooks/.ipynb_checkpoints/Import Flickr Images-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Import Imagenet Images-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Import Pomological Dataset-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Import Test Images-checkpoint.ipynb
  applications/workbench/data/notebooks/.ipynb_checkpoints/Search and Display-checkpoint.ipynb
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency eslint to v7.1.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency http-proxy-middleware to v1.0.4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency lint-staged to v10.2.6
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency next to v9.4.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency swr to v0.2.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency webpack-bundle-analyzer to v3.8.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-548: add readable timestamps
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Assets/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-549: disable video download
  applications/wallet/frontend/src/Asset/Content.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-540: add new filters to the top instead of bottom
  applications/wallet/frontend/src/Filters/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

COCO Annotations Notebook
  applications/workbench/data/notebooks/COCO Annotations.ipynb
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change
