Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

Update dependency husky to v4.0.10
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency next to v9.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixes linting issues
  applications/wallet/app/apikeys/tests/test_integration.py
  applications/wallet/app/apikeys/tests/test_unit.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-107: fix Layout and Table height
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/index.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/index.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/index.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/index.js
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/index.js
  applications/wallet/frontend/src/NoProject/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
  applications/wallet/frontend/src/Table/Exception.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Deleted Event Log file and updated references to com.zorroa.zmlp.service.logging package
  services/archivist/archivist/pom.xml
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/EventLog.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/AnalystDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexClusterDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexRouteDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/JobDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskErrorDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/DataSourceController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AnalystService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSourceService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/EventLogService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsSystemStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsSystemStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/ProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/util/RestUtils.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Implemented all asset update, index, and batch updated methods.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/clients/EsClient.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetRequest.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetResponse.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetSearch.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Clip.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/TaskEvent.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ErrorController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/search/SearchSourceMapper.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/search/SimilarityFilter.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetSearchService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/client/EsRestClientTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/domain/ClipTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetSearchServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsSystemStorageServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-41: update font sizes
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/Group.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/WithGoogle.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Modal/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/Link.js
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/Reset.js
  applications/wallet/frontend/src/Styles/typography.js
  applications/wallet/frontend/src/Table/Exception.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/index.js
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update devServer.js
  applications/wallet/frontend/devServer.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Delete EventLogService and update references to com.zorroa.zmlp.service.logging
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/AnalystDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexClusterDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexRouteDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/JobDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/PipelineDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/TaskErrorDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AnalystService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSourceService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/EventLogService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/JobService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsSystemStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsSystemStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/ProjectStorageService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/MaintenanceServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Added deleting assets by Id and by query.
  lib/jvm-common/zmlp-util/src/main/kotlin/com/zorroa/zmlp/util/Json.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetRequest.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Updated SDK and Analyst to use new asset endpoints.
  sdk/pylib/zmlpsdk/storage.py
  services/analyst/pylib/analyst/executor.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Updated AssetApp to handle new import response objects.
  client/python/pylib/zmlp/asset.py
  client/python/pylib/zmlp/tests/test_asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed asset indexing.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Added python client support for index, batch index, update, batch update.
  client/python/pylib/zmlp/asset.py
  client/python/pylib/zmlp/client.py
  client/python/pylib/zmlp/tests/test_asset.py
  client/python/pylib/zmlp/tests/test_client.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Minor fixes to asset controller.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

linting.
  client/python/pylib/zmlp/tests/test_asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

linting.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetResponse.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/search/SearchSourceMapper.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

env var fixes.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add job details url
  applications/wallet/frontend/pages/[projectId]/jobs.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add job details url
  applications/wallet/frontend/pages/[projectId]/jobs/details.js
  applications/wallet/frontend/pages/[projectId]/jobs/index.js
  applications/wallet/frontend/src/JobDetails/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add test
  applications/wallet/frontend/src/JobDetails/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobDetails/__tests__/index.spec.js
  applications/wallet/frontend/src/JobDetails/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

upgrade pip on sdk image.
  sdk/Dockerfile
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Lock down the mxnet version.
  containers/zmlp-plugins-analysis/requirements.txt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Env var fix.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

removed pip update.
  containers/zmlp-py3-base/Dockerfile
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/Button/index.js
  applications/wallet/frontend/src/Checkbox/index.js
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/PageTitle/index.js
  applications/wallet/frontend/src/Sidebar/Link.js
  applications/wallet/frontend/src/Styles/Reset.js
  applications/wallet/frontend/src/Styles/typography.js
  applications/wallet/frontend/src/Table/Exception.js
  applications/wallet/frontend/src/Table/index.js
  applications/wallet/frontend/src/Tabs/Link.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Remove pip upgrade and mxnet version number
  containers/zmlp-plugins-analysis/requirements.txt
  sdk/Dockerfile
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-41: update font sizes
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/index.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/Group.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/index.js
  applications/wallet/frontend/src/Jobs/Row.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/WithGoogle.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/Modal/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/PageTitle/index.js
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/Link.js
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/Reset.js
  applications/wallet/frontend/src/Styles/typography.js
  applications/wallet/frontend/src/Table/Exception.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/index.js
  applications/wallet/frontend/src/Tabs/Link.js
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes analyst build issue.
  services/analyst/Dockerfile
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

handle DPI option for PDF in officer.
  services/officer/src/main/kotlin/com/zorroa/Application.kt
  services/officer/src/main/kotlin/com/zorroa/PdfDocument.kt
  services/officer/src/test/kotlin/com/zorroa/TestPdfDocument.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-149 - Updates docker-compose to let wallet communicate with api gateway correctly. Updates ZMLP client usage to allow apikey creation again.
  .gitignore
  applications/wallet/app/apikeys/README.md
  applications/wallet/app/apikeys/views.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  docker-compose.override.yml
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-149 - Modifies gitignore to ignore the docker-compose override file regardless of naming
  .gitignore
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-149 - Fixes linting issues
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Hard code pip to 19.3.1
  containers/zmlp-py3-base/Dockerfile
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Exposed python methods to delete assets.
  client/python/pylib/zmlp/asset.py
  client/python/pylib/zmlp/tests/test_asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes issue with pipeline mod double updating.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/PipelineMod.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixed spacing
  services/officer/src/main/kotlin/com/zorroa/Application.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

imports
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/PipelineMod.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

use jobId in url, fix typos
  applications/wallet/frontend/pages/[projectId]/jobs/details.js
  applications/wallet/frontend/src/JobDetails/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobDetails/__tests__/index.spec.js
  applications/wallet/frontend/src/JobDetails/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches
