Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates the cd job to use buildx for creating container images.
  .gitlab-ci.yml
  sdk/python/Dockerfile
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-138: update frontend documentation
  .gitignore
  applications/wallet/.dockerignore
  applications/wallet/Dockerfile
  applications/wallet/README.md
  applications/wallet/app/setup.cfg
  applications/wallet/frontend/README.md
  applications/wallet/frontend/package.json
  applications/wallet/start-servers.sh
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added concept of project settings.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/ProjectDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/Utils.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexRoutingService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V4__project_settings.sql
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Adding methods that handle nested values queries on Assets Documents
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/app/AssetApp.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/Asset/Asset.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/Attr.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated index routes to pull projects's default index ID.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/IndexRoute.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexRouteDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V4__project_settings.sql
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Unit Tests for Attributes Methods
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/ZmlpClient.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/Asset/Asset.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/domain/AssetTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated auth-server to rename keyId to id, also added concept of accessKey, renamed sharedKey to secretKey.
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/ApiKey.kt
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/AuthServerClient.kt
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/ZmlpActor.kt
  services/auth-server/auth-client/src/test/kotlin/com/zorroa/auth/client/AuthServerClientTests.kt
  services/auth-server/auth-client/src/test/resources/signing-key.json
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/domain/ApiKey.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/repository/ApiKeyRepository.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/AuthController.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/JwtAuthentication.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/security/SecurityUtil.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/service/ApiKeyService.kt
  services/auth-server/auth-server/src/main/resources/db/migration/V2__access_key.sql
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/AbstractTest.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/rest/ApiKeyControllerTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/JwtAuthenticationTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/security/SecurityUtilTests.kt
  services/auth-server/auth-server/src/test/kotlin/com/zorroa/auth/server/service/ApiKeyServiceTests.kt
  services/auth-server/auth-server/src/test/resources/application-test.yml
  services/auth-server/auth-server/src/test/resources/key.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixed up Archivist code ot handle new key format.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/TaskController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/AuthServer.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/MultipleWebSecurityConfig.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixed up docker-compose and python to handle new key format.
  dev/config/keys/inception-key.json
  dev/config/keys/signing-key.json
  docker-compose.yml
  sdk/python/pylib/zmlp/client.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixed java client to use new key format.
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/ApiKey.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/ZmlpClient.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adding and Fixing Dependencies import
  sdk/java/pom.xml
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/Asset/Asset.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes compile issue.
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/AbstractTest.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Fixes additional test failures in SDK.
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/ZmlpAppTest.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/DataSourceAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/ProjectAppTests.java
  sdk/java/src/test/resources/testkey.json
  sdk/python/pylib/zmlp/tests/test_app.py
  sdk/python/pylib/zmlp/tests/test_key.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Changed package name to lower case "asset" from "Asset". Removed a bunch of old and uneeded code from Asset class.
  sdk/java/pom.xml
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/app/AssetApp.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/Asset/Asset.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/Attr.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/Asset.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/AssetSearch.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/AssetSpec.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/BatchAssetOpStatus.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/BatchCreateAssetRequest.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/BatchCreateAssetResponse.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/BatchUploadAssetsRequest.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/domain/AssetTests.java
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WAL-104: fix frontend GOOGLE_OAUTH_CLIENT_ID runtime env var
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/frontend/pages/_app.js
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added Surefire back into POM.
  sdk/java/pom.xml
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/UtilsTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/ZmlpAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AbstractAppTests.java
  sdk/java/src/test/resources/mock-get-by-id.json
  sdk/java/src/test/resources/mock-import-files.json
  sdk/java/src/test/resources/mock-search-result.json
  sdk/java/src/test/resources/mock-upload-assets.json
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Cleaned up some tests.
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/Json.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/ZmlpClient.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/PagedList.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/Asset.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/DataSourceAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/ProjectAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added additional comments to private vars.
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/Asset.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added ability to store system files in cloud storage.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/FileStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsFileStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/FileStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsFileStorageService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/FileStorageServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Use the pipeline resolver when jobs are being created.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineResolverServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

add CI_COMMIT_SHA
  applications/wallet/frontend/pages/_app.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Closes zmlp-204 add some stanard pipeline modules.
  services/archivist/archivist/pom.xml
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/PipelineMod.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/AuthServer.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/InternalAuthorization.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/SecurityProperties.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineModService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/PipelineResolverService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineModServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/PipelineResolverServiceTests.kt
  services/archivist/pom.xml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Renamed AssetBuilder to AssetProcessor.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/classifiers/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/detect/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/base.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/mxnet/processors.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/shot_clipify.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/time_clipify.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/processors.py
  containers/zmlp-plugins-core/pylib/zmlp_core/image/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/office/importers.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/video.py
  containers/zmlp-plugins-core/pylib/zmlp_core/video/importers.py
  sdk/python/pylib/zmlp/analysis/base.py
  sdk/python/pylib/zmlp/analysis/testing.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Formatting assertions to: assertEquals(expected, actual)
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/DataSourceAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/ProjectAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/domain/AssetTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixing a missed Assert
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/domain/AssetTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-108: handle Table data fetching errors
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Fetch/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Fetch/helpers.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Table/Exception.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/__tests__/index.spec.js
  applications/wallet/frontend/src/Table/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-139: update colors
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/index.js
  applications/wallet/frontend/src/Checkbox/Icon.js
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/Group.spec.js.snap
  applications/wallet/frontend/src/Checkbox/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FormAlert/index.js
  applications/wallet/frontend/src/Jobs/Menu.js
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/WithGoogle.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/WithGoogle.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/Modal/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Modal/index.js
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/Overlay.js
  applications/wallet/frontend/src/Sidebar/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/Styles/Reset.js
  applications/wallet/frontend/src/Styles/colors.js
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Tabs/Link.js
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Java SDK Unit Test Job Description
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Asset create and upload to builder pattern
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/app/AssetApp.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/AssetCreateBuilder.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/AssetUploadBuilder.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/BatchCreateAssetRequest.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/BatchUploadAssetsRequest.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Builder Patter to Assets Document Filter
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/Asset.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/AssetFilesFilter.java
  sdk/java/src/main/java/com/zorroa/zmlp/sdk/domain/asset/AssetSearch.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/app/AssetAppTests.java
  sdk/java/src/test/java/com/zorroa/zmlp/sdk/domain/AssetTests.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Refactored storage system to add concept of system storage. A lot of changes made to keep things consistent.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/EventLog.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/MetadataServableFile.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/ProjectStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/TaskEvent.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/ProjectController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSourceService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsSystemStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsSystemStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/PipelineStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/ProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/SystemStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/util/Json.kt
  services/archivist/archivist/src/main/resources/application.properties
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ProjectServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsProjectStorageServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsSystemStorageServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/FileStorageServiceTests.kt
  services/archivist/archivist/src/test/resources/application-test.properties
  services/auth-server/auth-client/src/main/kotlin/com/zorroa/auth/client/Permission.kt
  services/auth-server/auth-server/src/main/kotlin/com/zorroa/auth/server/rest/PermissionController.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Updated terraform and compose with new env vars.
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/officer/main.tf
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

updated ci/cd with new env vars.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated officer with new env vars.
  services/officer/src/main/kotlin/com/zorroa/Config.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches
