Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

plugin-container-tests:
  image: boonai/docker-buildx
  stage: test
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx --plugins
  ...

boonai-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: latest
  retry: 2
  before_script:
  ...

boonai-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: qa
  retry: 2
  before_script:
  ...

boonai-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

boonai-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

Update dependency use-resize-observer to v7.0.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency cypress to v8.1.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency eslint to v7.32.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update reach-ui monorepo to v0.16.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-66: add Model upload
  applications/wallet/frontend/src/DatasetModels/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/Train.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/index.spec.js
  applications/wallet/frontend/src/Model/index.js
  applications/wallet/frontend/src/ModelDataset/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelDataset/index.js
  applications/wallet/frontend/src/ModelTypes/__mocks__/modelTypes.js
  applications/wallet/frontend/src/ModelUpload/Progress.js
  applications/wallet/frontend/src/ModelUpload/Selection.js
  applications/wallet/frontend/src/ModelUpload/__tests__/Progress.spec.js
  applications/wallet/frontend/src/ModelUpload/__tests__/__snapshots__/Progress.spec.js.snap
  applications/wallet/frontend/src/ModelUpload/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelUpload/helpers.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/index.spec.js
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/ModelsAdd/Form.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelsAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelsAdd/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-66: add storage.googleapis.com to CSP
  applications/wallet/nginx/local.conf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updates nginx security policy to include google storage apis on connect-src.
  applications/wallet/nginx/local.conf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-138: remove underscore from OrganizationBadge
  applications/wallet/frontend/src/Metadata/helpers.js
  applications/wallet/frontend/src/ModelsAdd/Form.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Organization/Badge.js
  applications/wallet/frontend/src/Pills/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/FormResponse.js
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds description to the model serializer in wallet.
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update ktor.version to v1.6.2
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-diagram to v21.8
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-155: hide ModeDetails messages when runningJobId
  applications/wallet/frontend/src/Model/Train.js
  applications/wallet/frontend/src/Model/__mocks__/model.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/ModelDataset/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added support for error propagation to boon functions.
  client/boonsdk/pylib/boonsdk/client.py
  containers/boonfunction/server.py
  containers/boonfunction/tests.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

make boonfuns 128mb
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Resolves MAIN-150. Fixes a bug where the wallet PUT would fail when removing datasets from models with PATCH.
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/frontend/src/ModelDataset/Header.js
  applications/wallet/frontend/src/ModelDataset/__tests__/Header.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Put boonfunction in ci/cd
  containers/boonfunction/server.py
  containers/boonfunction/tests.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
  gitlab-ci/1.test.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: fix (un)linking Model
  applications/wallet/frontend/src/Model/Content.js
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/Train.js
  applications/wallet/frontend/src/Model/__mocks__/model.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/index.spec.js
  applications/wallet/frontend/src/Model/index.js
  applications/wallet/frontend/src/ModelDataset/Header.js
  applications/wallet/frontend/src/ModelDataset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelDataset/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelDataset/index.js
  applications/wallet/frontend/src/ModelLink/Existing.js
  applications/wallet/frontend/src/ModelLink/Form.js
  applications/wallet/frontend/src/ModelLink/New.js
  applications/wallet/frontend/src/ModelLink/__tests__/Form.spec.js
  applications/wallet/frontend/src/ModelLink/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelLink/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelLink/helpers.js
  applications/wallet/frontend/src/ModelLink/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes a bug that prevented models from being created with blank descriptions.
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update docker Docker tag
  .gitlab-ci.yml
  gitlab-ci/1.test.gitlab-ci.yml
  gitlab-ci/2.push.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: add DatasetsEdit
  applications/wallet/frontend/pages/[projectId]/datasets/[datasetId]/edit.js
  applications/wallet/frontend/pages/[projectId]/models/[modelId]/edit.js
  applications/wallet/frontend/src/Dataset/Details.js
  applications/wallet/frontend/src/Dataset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Dataset/__tests__/index.spec.js
  applications/wallet/frontend/src/Dataset/index.js
  applications/wallet/frontend/src/DatasetsEdit/Form.js
  applications/wallet/frontend/src/DatasetsEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DatasetsEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/DatasetsEdit/helpers.js
  applications/wallet/frontend/src/DatasetsEdit/index.js
  applications/wallet/frontend/src/Item/Separator.js
  applications/wallet/frontend/src/Job/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/index.spec.js
  applications/wallet/frontend/src/Model/index.js
  applications/wallet/frontend/src/ModelDataset/__tests__/Header.spec.js
  applications/wallet/frontend/src/ModelsEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelsEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelsEdit/helpers.js
  applications/wallet/frontend/src/ModelsEdit/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updated dockerfiles to be more secure
  containers/boonflow/Dockerfile
  containers/boonfunction/Dockerfile
  containers/py3-base/Dockerfile
  services/reporter/Dockerfile
  services/tugboat/tmpl/boonfunction/Dockerfile
  services/tugboat/tmpl/torch/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added deploy failure status for models.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: hide Pre-Trained ModelsAdd
  applications/wallet/frontend/src/ModelsAdd/Form.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelsAdd/__tests__/index.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: fix DatasetLabels #All# Add More Labels
  applications/wallet/frontend/src/DatasetLabels/Selection.js
  applications/wallet/frontend/src/DatasetLabels/__tests__/Content.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fix handling of deploy messages.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Model not beting set to ready.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates unappliedChanges attr on confusion matrix endpoint.
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

adding a log handler to send logs to gcloudlogs
  services/analyst/pylib/analyst/logs.py
  services/analyst/pylib/analyst/tests/test_log.py
  services/analyst/requirements.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update model states
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/ModelDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/DatasetService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ModelDaoTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Testing half hour timeout on Boon Functions
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Exposed model states
  client/boonsdk/pylib/boonsdk/entity/model.py
  client/boonsdk/setup.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/ModelDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Set the boon func timeout to an env var
  containers/plugins-analysis/pylib/boonai_analysis/deployed/function.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes model ready test
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes file deletes for model.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added flag to delete tugboat images.
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds the platform flog to run service delete.
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Check for trainable.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/DatasetService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

preparing to retrieve logs from google logs
  services/analyst/pylib/analyst/logs.py
  services/archivist/archivist/pom.xml
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/TaskController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/ProjectStorageService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

testing a 30m timeout for tugboat, so we can evaluate what the results even look like.
  services/tugboat/server.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
