Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*

Add the metrics env var to the gcp marketplace deployment.
  deployment/terraform/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/variables.tf
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Creating project publisher, subscriber, and redis config
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/RedisConfiguration.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/publisher/MessagePubisher.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/publisher/ProjectPublisher.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/MessageListener.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/ProjectListener.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1032: update ModelMatrixLink copy
  applications/wallet/frontend/src/Model/MatrixLink.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/MatrixLink.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updates the default server for the boonsdk client.
  client/boonsdk/pylib/boonsdk/client.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-926: update MetadataCues to display content instead of label
  applications/wallet/frontend/src/MetadataCues/__tests__/helpers.spec.js
  applications/wallet/frontend/src/MetadataCues/helpers.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsContent.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updating redis config
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/RedisConfiguration.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/publisher/ProjectPublisher.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/ProjectListener.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updating message service
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/publisher/MessagePubisher.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/publisher/ProjectPublisher.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/MessageListener.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/ProjectListener.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ProjectService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WIP
  client/boonsdk/pylib/boonsdk/app/model_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

WAL-1033: filter MetadataPretty
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metadata/__tests__/index.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixees a bug in the dockerhub push job.
  gitlab-ci/2.push.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixed .gitignore for google.
  containers/plugins-analysis/integration_tests/google_integration_tests/.gitignore
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Moved the method to get OCR proxy into boonflow.
  containers/boonflow/pylib/boonflow/proxy.py
  containers/boonflow/pylib/boonflow/tests/test_proxy.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/ocr.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_ocr.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Lock file maintenance
  applications/wallet/Pipfile.lock
  services/metrics/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

ktlint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/RedisConfiguration.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency eslint to v7.22.0
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency swr to v0.5.3
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency @sentry/browser to v6.2.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency @tippyjs/react to v4.2.4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency eslint to v7.22.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency react-virtualized-auto-sizer to v1.0.5
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency swr to v0.5.3
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added enabled property to project list.
  client/boonczar/pylib/boonczar/tools/bz/project.py
  client/boonsdk/pylib/boonsdk/entity/project.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Renamed var
  client/boonczar/pylib/boonczar/tools/bz/index.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

filter processors
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updating Redis config do make easier to add a listener to a topic
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/RedisConfiguration.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/ProjectListener.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Revert "Merge branch 'renovate/swr-0.x' into 'development'"
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

WAL-1033: sort MetadataPretty Analysis
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adding index routing listener and publisher
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/RedisConfiguration.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/publisher/IndexRoutingPublisher.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/publisher/ProjectPublisher.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/IndexRoutingListener.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/ProjectListener.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ProjectService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

ktlint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/publisher/IndexRoutingPublisher.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/IndexRoutingListener.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/queue/subscriber/ProjectListener.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

updating project service to only delete objects from database
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ProjectService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates schema match for LabelConfidence/Predictions to account for missing predictions on modules that do not return anything.
  applications/wallet/app/searches/schemas.py
  applications/wallet/app/searches/tests/test_utils.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

upload pytorch models
  client/boonsdk/pylib/boonsdk/app/model_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Remove Single Label Schema, remove outdated test data.
  applications/wallet/app/searches/schemas.py
  applications/wallet/app/searches/tests/test_schemas.py
  applications/wallet/app/searches/utils.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

buh bye single label
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Switch.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

WAL-1033: sort MetadataPretty Analysis
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Switch.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Added a as_json method to base entity.
  client/boonsdk/pylib/boonsdk/entity/base.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds PredictionCountFilter to the group of filters supported for LabelConfidence/Prediction analysis modules
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/schemas.py
  applications/wallet/app/searches/tests/test_filters.py
  applications/wallet/app/searches/tests/test_utils.py
  applications/wallet/app/searches/utils.py
  applications/wallet/app/searches/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa
