Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests, zmlp-services-unit-tests-master-branch-any-change

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*, .gitlab-ci.yml
  wallet-frontend-test-suite-master-branch-any-change: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*, .gitlab-ci.yml
  wallet-backend-test-suite-master-branch-any-change: any of: **/*
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-deploy-development: any of: applications/wallet/**/*
  backend-py-lint: any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py, .gitlab-ci.yml
  backend-py-lint-master-branch-any-change: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt, lib/**/*.kt, .gitlab-ci.yml
  backend-kotlin-lint-master-branch-any-change: any of: **/*
  sdk-unit-tests: any of: client/python/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  plugin-container-tests: any of: client/python/**/*, sdk/**/*, containers/**/*, .gitlab-ci.yml
  sdk-java-unit-tests: any of: client/java/**/*, containers/zmlp-plugins-base/**/*, .gitlab-ci.yml
  sdk-unit-tests-master-branch-any-change: any of: **/*
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-services-build-artifacts: any of: services/**/*, lib/**/*, .gitlab-ci.yml
  zmlp-services-build-artifacts-master-branch-any-change: any of: **/*
  elasticsearch-push-to-local-registry: any of: services/**/*, .gitlab-ci.yml
  elasticsearch-push-to-local-registry-master-branch-any-change: any of: **/*
  zmlp-services-unit-tests: any of: services/**/*, lib/**/*, .gitlab-cy.yml
  zmlp-services-unit-tests-master-branch-any-change: any of: **/*

disable submit button on isLoading
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/CreateAccount/__tests__/index.spec.js
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesEdit/Form.js
  applications/wallet/frontend/src/Policies/index.js
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ResetPassword/Confirm.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

disable button when isLoading
  applications/wallet/frontend/src/AssetDelete/Confirm.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-427: avoid jump around after delete asset
  applications/wallet/frontend/src/Visualizer/Content.js
  applications/wallet/frontend/src/Visualizer/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-527: add "Processing..." state to all forms
  applications/wallet/frontend/src/AccountPassword/Form.js
  applications/wallet/frontend/src/AccountPassword/__mocks__/helpers.js
  applications/wallet/frontend/src/AccountPassword/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountPassword/helpers.js
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__mocks__/helpers.js
  applications/wallet/frontend/src/AccountProfile/__tests__/Form.spec.js
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountProfile/helpers.js
  applications/wallet/frontend/src/ApiKeysAdd/Form.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ApiKeysAdd/helpers.js
  applications/wallet/frontend/src/CreateAccount/__tests__/index.spec.js
  applications/wallet/frontend/src/CreateAccount/helpers.js
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/Content.js
  applications/wallet/frontend/src/DataSourcesEdit/Form.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
  applications/wallet/frontend/src/Policies/helpers.js
  applications/wallet/frontend/src/Policies/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ProjectUsersAdd/helpers.js
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/helpers.js
  applications/wallet/frontend/src/ResetPassword/Confirm.js
  applications/wallet/frontend/src/ResetPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/ResetPassword/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Fixes issue with ds labels being overwritten. Adds server side rounding to bbox.
  client/python/pylib/zmlp/entity/dataset.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/DataSet.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/util/StaticUtils.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/domain/AssetTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests, zmlp-services-unit-tests-master-branch-any-change

lint
  client/python/pylib/zmlp/entity/dataset.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency eslint-plugin-react-hooks to v4.0.4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency lint-staged to v10.2.7
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update dependency next to v9.4.4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Re-add asset count
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Panel/Content.js
  applications/wallet/frontend/src/Panel/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-427: selectively nuke cache keys on asset delete
  applications/wallet/frontend/__mocks__/swr.js
  applications/wallet/frontend/src/AssetDelete/__tests__/index.spec.js
  applications/wallet/frontend/src/AssetDelete/helpers.js
  applications/wallet/frontend/src/Filter/Reset.js
  applications/wallet/frontend/src/Filter/__tests__/Reset.spec.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Reset.spec.js.snap
  applications/wallet/frontend/src/FilterFacet/Content.js
  applications/wallet/frontend/src/FilterFacet/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterFacet/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-538: add Range inputs
  applications/wallet/frontend/src/FilterRange/Content.js
  applications/wallet/frontend/src/FilterRange/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterRange/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterRange/helpers.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/SearchFilter/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

onEnterKeyPress
  applications/wallet/frontend/src/FilterRange/Content.js
  applications/wallet/frontend/src/FilterRange/__tests__/Content.spec.js
  applications/wallet/frontend/src/FilterRange/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Fix spacing and tests
  applications/wallet/frontend/__mocks__/swr.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

add changes to Visualizer
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

update classifier using commong sdk lib
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/classifiers.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/pets.zip
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_classifiers.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/utils/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/utils/tests/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/utils/tests/test_utils.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/utils/utils.py
  containers/zmlp-plugins-train/pylib/zmlp_train/tests/test_trainClassifier.py
  containers/zmlp-plugins-train/pylib/zmlp_train/trainClassifier.py
  containers/zmlp-plugins-train/pylib/zmlp_train/utils/utils.py
  sdk/pylib/zmlpsdk/tests/ClassifierTest_labels.txt
  sdk/pylib/zmlpsdk/tests/test_dsy.jpg
  sdk/pylib/zmlpsdk/tests/test_training.py
  sdk/pylib/zmlpsdk/training.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

flake8 cleanup
  sdk/pylib/zmlpsdk/training.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

add model zip for testing
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/pets.zip
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

add tf to requirements in setup
  sdk/setup.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

fixed training, normalized scores
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/knn.py
  containers/zmlp-plugins-train/pylib/zmlp_train/knn/train.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

fix corrupted model zip file
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/pets.zip
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Signed url detail endpoint and test
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/assets/views.py
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Resolves WAL-484. Adds final changes to integrate with gcp marketplace.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/assets/tests/test_unit.py
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-pubsub.py
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-usage-report.py
  applications/wallet/app/gcpmarketplace/utils.py
  applications/wallet/app/gcpmarketplace/views.py
  applications/wallet/app/projects/migrations/0002_auto_20200528_2041.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/utils.py
  applications/wallet/app/subscriptions/migrations/0002_auto_20200528_2041.py
  applications/wallet/app/subscriptions/models.py
  applications/wallet/app/subscriptions/serializers.py
  applications/wallet/app/subscriptions/tests/test_integration.py
  applications/wallet/frontend/src/Account/Card.js
  applications/wallet/frontend/src/Account/__tests__/UsagePlan.spec.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/Card.spec.js.snap
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  deployment/terraform/main.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Move Count out of Assets
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/AssetsCount/index.js
  applications/wallet/frontend/src/Panel/Content.js
  applications/wallet/frontend/src/Panel/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/Content.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-560: add Similar Images to Metadata
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/LabelsQuery.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/Switch.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Switch.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

fixup
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Update Similarity.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Fixes bugs in the marketplace integration.
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-pubsub.py
  applications/wallet/app/gcpmarketplace/management/commands/gcpmarketplace-reset-account.py
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Move Count in Assets
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/AssetsCount/index.js
  applications/wallet/frontend/src/Visualizer/Content.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

WAL-556: add Asset Count
  applications/wallet/frontend/__mocks__/swr.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/__tests__/index.spec.js
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

Adds marketplace rule to the wallet load balancer.
  applications/wallet/nginx/local.conf
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

perceptron classifier
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/perceptron.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/custom/tests/test_perceptron.py
  test-data/training/pets.zip
  test-data/training/pets/_labels.txt
  test-data/training/pets/saved_model.pb
  test-data/training/pets/variables/variables.data-00000-of-00001
  test-data/training/pets/variables/variables.index
Due: wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, backend-py-lint, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, plugin-container-tests, sdk-unit-tests-master-branch-any-change, zmlp-dockerhub-build-push-latest, zmlp-deploy-development, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

move full logic to filter helpers; clarify label; disable similarity searches to prevent query breakage
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/Thumbnail.spec.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Filters/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

remove unnecessary import
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Filters/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

add svg file
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Icons/similarity.svg
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

handle when similarity search already exists
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change

use filter dispatch for adding/replacing similarity
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/Thumbnail.spec.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Filters/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-master-branch-any-change, wallet-backend-test-suite-master-branch-any-change, wallet-dockerhub-build-push-latest, wallet-deploy-development, backend-py-lint-master-branch-any-change, backend-kotlin-lint-master-branch-any-change, sdk-unit-tests-master-branch-any-change, zmlp-services-build-artifacts-master-branch-any-change, elasticsearch-push-to-local-registry-master-branch-any-change, zmlp-services-unit-tests-master-branch-any-change
