Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-integration-test-suite, wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-latest, metrics-dockerhub-build-push-qa, metrics-deploy-development, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

wallet-integration-test-suite:
  stage: test
  image: cypress/browsers:node14.7.0-chrome84
  before_script:
  - cd applications/wallet/cypress
  - npm ci
  script:
  - npm run cli -- --browser chrome --headless --record --group Backend --spec 'integration/backend/**/*'
  ...

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

metrics-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    DJANGO_SETTINGS_MODULE: metrics.settings.testing
    DEBUG: 'true'
    PG_DB_HOST: postgres
    PG_DB_USER: metrics
    PG_DB_PASSWORD: 2mAPDWhuiYdIW69u
    POSTGRES_DB: metrics
    POSTGRES_USER: metrics
  ...

metrics-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

Switches everything to use the new boonai docker hub org.
  .gitlab-ci.yml
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/api-gateway/main.tf
  deployment/terraform/modules/archivist/main.tf
  deployment/terraform/modules/auth-server/main.tf
  deployment/terraform/modules/elasticsearch/main.tf
  deployment/terraform/modules/gcp-marketplace-integration/main.tf
  deployment/terraform/modules/metrics/main.tf
  deployment/terraform/modules/ml-bbq/main.tf
  deployment/terraform/modules/officer/main.tf
  deployment/terraform/modules/reporter/main.tf
  deployment/terraform/modules/wallet/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

WAL-902: update ModelMatrixPreviewContent empty state
  applications/wallet/frontend/src/ModelMatrix/Preview.js
  applications/wallet/frontend/src/ModelMatrix/PreviewContent.js
  applications/wallet/frontend/src/ModelMatrix/Tooltip.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/Preview.spec.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/Preview.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Updates billing metrics list of modules.
  services/metrics/app/metrics/records/models.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-latest, metrics-dockerhub-build-push-qa, metrics-deploy-development, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency swr to v0.4.2
  applications/wallet/frontend/__mocks__/swr.js
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/Job/Details.js
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Task/Details.js
  applications/wallet/frontend/src/TaskError/Content.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update emotion monorepo to v11.2.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/Styles/Reset.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

WAL-983: replace "Zorroa" text with "Boon AI"
  applications/wallet/frontend/src/AccountPassword/Notice.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Notice.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/AutomaticAnalysis.js
  applications/wallet/frontend/src/DataSourcesAdd/Copy.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
  applications/wallet/frontend/src/Policies/Form.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Small change to trigger the ci for the platform.
  services/analyst/pylib/analyst/main.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Changes container names to use boonai org in the docker compose.
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Updates READMEs to trigger ci builds.
  applications/wallet/README.md
  applications/wallet/app/projects/views.py
  services/metrics/README.md
  services/metrics/app/metrics/records/models.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-latest, metrics-dockerhub-build-push-qa, metrics-deploy-development, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency junit:junit to v4.13.2
  services/elasticsearch/es-kwconf/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

WAL-983: update favicons
  applications/wallet/frontend/pages/_document.js
  applications/wallet/frontend/public/android-chrome-192x192.png
  applications/wallet/frontend/public/android-chrome-512x512.png
  applications/wallet/frontend/public/apple-touch-icon.png
  applications/wallet/frontend/public/favicon-16x16.png
  applications/wallet/frontend/public/favicon-32x32.png
  applications/wallet/frontend/public/favicon.ico
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency com.auth0:java-jwt to v3.13.0
  lib/jvm-common/zmlp-apikey/pom.xml
  services/auth-server/auth-server/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency junit:junit to v4.13.2
  lib/jvm-common/pom.xml
  services/archivist/pom.xml
  services/elasticsearch/es-similarity-query/pom.xml
  services/elasticsearch/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Updates maven job to cache dependencies.
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

WAL-983: replace Navbar logo
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/Success.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Icons/largeLogo.svg
  applications/wallet/frontend/src/Icons/logo.svg
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Policies/index.js
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ResetPassword/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Update dependency com.google.cloud.sql:postgres-socket-factory to v1.2.1
  services/archivist/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

removing merge mistake files
  services/elasticsearch/es-kwconf/pom.xml
  services/elasticsearch/es-similarity-query/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

pylint
  containers/plugins-core/pylib/boonai_core/office/tests/test_oclient.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Fixes a naming bug in the wallet sim search filter.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Removes those test butts.
  applications/wallet/app/searches/filters.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

fixing oclient tests
  containers/plugins-core/pylib/boonai_core/office/tests/test_oclient.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

pylint and new officer websocket URL for analyst
  containers/plugins-core/pylib/boonai_core/office/tests/test_oclient.py
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Resolves some of WAL-990. Fixes issue when trying to load similarity searches in the pretty panel.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

More rename fixes
  client/boonsdk/pylib/boonsdk/entity/model.py
  containers/jvm-build/pom.xml
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/StandardMods.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ModelDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/FileStorageControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/ModelControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

updating officer client unit tests
  containers/plugins-core/pylib/boonai_core/office/tests/test_oclient.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

updating test variable
  containers/plugins-core/pylib/boonai_core/office/tests/test_oclient.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

lint
  containers/plugins-core/pylib/boonai_core/office/tests/test_oclient.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Rename model enum
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_face_rec.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_knn.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_labels.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_perceptron.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_pytorch.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/video/tests/test_labels.py
  containers/plugins-train/pylib/boonai_train/pytorch/tests/test_train_torch.py
  containers/plugins-train/pylib/boonai_train/tf2/tests/test_train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Updates face pipeline to use new boonai model types
  applications/wallet/app/faces/tests/test_integration.py
  applications/wallet/app/faces/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

MR comment
  applications/wallet/frontend/README.md
  applications/wallet/frontend/src/ApiKeys/Copy.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

replace zmlp and zvi with boonai
  applications/wallet/frontend/README.md
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/src/ApiKeys/Copy.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/Success.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Feature/__tests__/index.spec.js
  applications/wallet/frontend/src/Feature/index.js
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/Project/QuickLinks.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Updates more modelType names in BoonSDK
  client/boonsdk/pylib/boonsdk/app/tests/test_job_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
  client/boonsdk/pylib/boonsdk/entity/model.py
  client/boonsdk/pylib/boonsdk/entity/tests/test_model.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

update feature flag envs
  applications/wallet/frontend/src/Feature/__tests__/index.spec.js
  applications/wallet/frontend/src/Feature/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

WAL-991 - Fixes face recognition bug with old ZVI Model Type
  applications/wallet/app/faces/tests/test_integration.py
  applications/wallet/app/faces/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Added a v6 es mapping with a zvi/boonai rename.
  client/boonczar/examples/project_migrate.py
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v6.json
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v6.painless
  services/archivist/archivist/src/test/kotlin/boonai/archivist/AbstractTest.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/IndexTaskServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Default new indexes to v6
  services/archivist/archivist/src/main/resources/application.properties
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, metrics-backend-test-suite, metrics-dockerhub-build-push-qa, metrics-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa, boonai-services-build-artifacts, elasticsearch-push-to-local-registry, boonai-services-unit-tests

Path conditions:
  wallet-integration-test-suite: any of: applications/wallet/cypress/**/*
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*, applications/wallet/Pipfile*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  metrics-backend-test-suite: (any of: services/metrics/app/**/*) or ((any of: **/*) or ((any of: services/metrics/app/**/*) or (any of: **/*)))
  metrics-dockerhub-build-push-latest: any of: services/metrics/**/*
  metrics-dockerhub-build-push-qa: any of: **/*
  metrics-deploy-development: any of: services/metrics/**/*
  metrics-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/boonsdk/**/*.py, client/boonlab/**/*.py, containers/**/*.py, services/analyst/**/*.py, services/mlbbq/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/boonsdk/**/*, client/boonlab/**/*, containers/boonflow/**/*, containers/boondocks/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
  boonai-services-build-artifacts: (any of: services/analyst/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*, services/jvm-common/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/analyst/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*) or (any of: **/*)
  boonai-services-unit-tests: (any of: services/analyst/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*, services/jvm-common/**/*) or (any of: **/*)
