Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

WAL-400: add display options
  applications/wallet/frontend/src/Accordion/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Accordion/__tests__/index.spec.js
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/DataSourcesAdd/AutomaticAnalysis.js
  applications/wallet/frontend/src/DataSourcesAdd/Provider.js
  applications/wallet/frontend/src/DataSourcesEdit/Provider.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/Pretty.js
  applications/wallet/frontend/src/Metadata/Select.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metadata/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

renames action endpoints for aggregations and query
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates linting issues.
  applications/wallet/app/apikeys/utils.py
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/services.py
  applications/wallet/app/searches/tests/test_filters.py
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/views.py
  applications/wallet/app/wallet/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

added object detection script and script selection interface
  applications/sandbox/README.md
  applications/sandbox/requirements.txt
  applications/sandbox/sandbox/sandbox.py
  applications/sandbox/sandbox/scripts/browse.py
  applications/sandbox/sandbox/scripts/object_detect.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Deleting all files below AssetId Path
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/ProjectStorageService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsProjectStorageServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Minor pipeline fixes
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsProjectStorageServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Deleting stored files on deleteByQuery service
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

added test images import
  applications/workbench/data/notebooks/Import Test Images.ipynb
  applications/workbench/requirements.txt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

cleared notebook output
  applications/workbench/data/notebooks/Import Test Images.ipynb
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-285: Assets and Panels style tweaks
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Panel/Content.js
  applications/wallet/frontend/src/Panel/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Panel/index.js
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Visualizer/Content.js
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update index.js
  applications/wallet/frontend/src/Assets/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Reorganized python lib to move entity classes into entity package.
  applications/wallet/app/datasources/tests/test_integration.py
  applications/wallet/app/datasources/views.py
  client/python/pylib/zmlp/__init__.py
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/app/dataset_app.py
  client/python/pylib/zmlp/app/datasource_app.py
  client/python/pylib/zmlp/app/project_app.py
  client/python/pylib/zmlp/app/tests/test_asset_app.py
  client/python/pylib/zmlp/app/tests/test_dataset_app.py
  client/python/pylib/zmlp/app/tests/test_datasource_app.py
  client/python/pylib/zmlp/client.py
  client/python/pylib/zmlp/entity/__init__.py
  client/python/pylib/zmlp/entity/asset.py
  client/python/pylib/zmlp/entity/base.py
  client/python/pylib/zmlp/entity/dataset.py
  client/python/pylib/zmlp/entity/datasource.py
  client/python/pylib/zmlp/entity/exception.py
  client/python/pylib/zmlp/entity/job.py
  client/python/pylib/zmlp/entity/project.py
  client/python/pylib/zmlp/job.py
  client/python/pylib/zmlp/search.py
  client/python/pylib/zmlp/tests/test_asset.py
  client/python/pylib/zmlp/tests/test_client.py
  client/python/pylib/zmlp/tests/test_util.py
  client/python/pylib/zmlp/util.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/processors.py
  containers/zmlp-plugins-base/pylib/zmlpcd/process.py
  containers/zmlp-plugins-base/pylib/zmlpcd/tests/test_reactor.py
  containers/zmlp-plugins-core/pylib/zmlp_core/clipify/util.py
  containers/zmlp-plugins-core/pylib/zmlp_core/core/generators.py
  containers/zmlp-plugins-core/pylib/zmlp_core/video/importers.py
  sdk/pylib/zmlpsdk/base.py
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/testing.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds support for all job methods to python client.
  client/python/pylib/zmlp/app/__init__.py
  client/python/pylib/zmlp/app/job_app.py
  client/python/pylib/zmlp/app/tests/test_job_app.py
  client/python/pylib/zmlp/app/zmlp_app.py
  client/python/pylib/zmlp/entity/job.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Job.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Update request body for Data Source
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/Form.spec.js
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Handle unchecking
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fixes client installs script.
  client/python/setup.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-296: update request body
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/Form.spec.js
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

remove outer div from flashmessage + design tweaks
  applications/wallet/frontend/src/Account/UsagePlan.js
  applications/wallet/frontend/src/Account/__tests__/__snapshots__/Card.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/FormSuccess.js
  applications/wallet/frontend/src/AccountPassword/Notice.js
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/Notice.spec.js.snap
  applications/wallet/frontend/src/AccountPassword/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AccountProfile/Form.js
  applications/wallet/frontend/src/AccountProfile/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ApiKeysAdd/FormSuccess.js
  applications/wallet/frontend/src/ApiKeysAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSources/index.js
  applications/wallet/frontend/src/DataSourcesAdd/Form.js
  applications/wallet/frontend/src/DataSourcesEdit/Form.js
  applications/wallet/frontend/src/FlashMessage/index.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/index.js
  applications/wallet/frontend/src/Policies/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Project/UsagePlan.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/UsagePlan.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/index.js
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/ProjectUsersAdd/FormResponse.js
  applications/wallet/frontend/src/ProjectUsersAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ResetPassword/Request.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

new imagenet import notebook
  applications/workbench/data/notebooks/Import Imagenet Images.ipynb
  applications/workbench/data/notebooks/Search and Display.ipynb
  applications/workbench/requirements.txt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Fix mapping
  applications/wallet/frontend/src/DataSource/__mocks__/dataSource.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency next to v9.3.5
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency webpack-bundle-analyzer to v3.7.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency lint-staged to v10.1.6
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-296: fix mapping on Edit load
  applications/wallet/frontend/src/DataSource/__mocks__/dataSource.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates elasticsearch dockerfile to use the non-oss image and installed the gcs and s3 repo plugins.
  services/elasticsearch/Dockerfile
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WIP
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Filters/helpers.js
  applications/wallet/frontend/src/Filters/index.js
  applications/wallet/frontend/src/Visualizer/Content.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updated docstrings or browsable api.
  applications/wallet/app/searches/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added a bunch of dataset funtionality.
  client/python/pylib/zmlp/entity/dataset.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Asset.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetPayloads.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/DataSet.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/DataSetDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/DataSourceDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/DataSetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/DataSourceController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DataSetService.kt
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v1.json
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/DataSetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DataSetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

wip, basic layout, too wide, no interactions
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/JsonDisplay/index.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/Pretty.js
  applications/wallet/frontend/src/Metadata/Section.js
  applications/wallet/frontend/src/Metadata/helpers.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Add generic section content
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Metadata/Section.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metadata/helpers.js
  applications/wallet/frontend/src/Styles/colors.js
  applications/wallet/frontend/src/Styles/constants.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Merge
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Bump page size
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Added new DataSet methods and ability to label assets.
  client/python/examples/label_asset.py
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/app/dataset_app.py
  client/python/pylib/zmlp/app/tests/test_asset_app.py
  client/python/pylib/zmlp/app/tests/test_dataset_app.py
  client/python/pylib/zmlp/entity/dataset.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Removed the delete asset by query method and added a batch delete method. Anything larger than a batch delete will done via the job sytem.
  client/python/pylib/zmlp/app/asset_app.py
  client/python/pylib/zmlp/app/tests/test_asset_app.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/config/SupportedTypes.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/AssetPayloads.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/ProjectStorage.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/AssetController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/security/CoroutineAuthentication.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/storage/ProjectStorageService.kt
  services/archivist/archivist/src/main/resources/application.properties
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/AssetControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/storage/AwsProjectStorageServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Added example delete all assets script.
  client/python/examples/delete_all_assets.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update AssetServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Doc strings
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/ProjectStorage.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

lint
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/AssetServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

WIP
  applications/wallet/frontend/src/Filters/helpers.js
  applications/wallet/frontend/src/Filters/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches
