Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)

WAL-780: add Cypress Visualizer Filters tests
  applications/wallet/cypress/integration/frontend/Visualizer/Assets.js
  applications/wallet/cypress/integration/frontend/Visualizer/Filters.js
  applications/wallet/cypress/integration/frontend/Visualizer/index.js
  applications/wallet/frontend/src/Filter/Actions.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Actions.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/Menu.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

updates migration dependencies to fix project zero issue
  applications/wallet/app/projects/migrations/0003_recreate_membership_api_keys.py
  applications/wallet/app/projects/migrations/0004_auto_20200810_2320.py
  applications/wallet/app/projects/utils.py
  applications/wallet/app/wallet/migrations/0002_data_migration_add_project_zero.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a bug that convert names in the fields endpoint to camelCase if they had underscores.
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds Track Total hits, updates archivist to accept the es term in the query. Adds instructions for connecting to Dev Server.
  applications/wallet/README.md
  applications/wallet/app/projects/views.py
  applications/wallet/app/searches/tests/test_integration.py
  applications/wallet/app/searches/views.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/AssetSearchService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Wallet: Fixes a bug in the "Train" and "Train & Apply" buttons where the urls were incorrect.
  applications/wallet/frontend/src/Model/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds an endpoint to Wallet for deleting models.
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-788: add FetchAhead
  applications/wallet/frontend/src/Fetch/Ahead.js
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Table/__tests__/index.spec.js
  applications/wallet/frontend/src/Visualizer/Content.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-787. Adds endpoint for renaming a label.
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-780: add Account Cypress test
  applications/wallet/cypress/integration/frontend/Account/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-789. Fixes a bug in reporting the running job id for models.
  applications/wallet/app/models/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fix EXR handling
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_image.py
  sdk/Dockerfile
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

whitespace
  containers/zmlp-plugins-core/pylib/zmlp_core/proxy/tests/test_image.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds Histogram Visualization
  applications/wallet/app/visualizations/tests/test_visualizations.py
  applications/wallet/app/visualizations/utils.py
  applications/wallet/app/visualizations/views.py
  applications/wallet/app/visualizations/visualizations.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Accounting for divide by zero
  applications/wallet/app/visualizations/tests/test_visualizations.py
  applications/wallet/app/visualizations/visualizations.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-773. Adds a new service that reports the current pending jobs and task to the google monitoring api.
  .gitlab-ci.yml
  applications/wallet/start-marketplace-tools.sh
  deployment/terraform/main.tf
  deployment/terraform/modules/analyst/main.tf
  deployment/terraform/modules/reporter/main.tf
  deployment/terraform/modules/reporter/ouputs.tf
  deployment/terraform/modules/reporter/variables.tf
  deployment/terraform/modules/reporter/versions.tf
  docker-compose.yml
  services/__init__.py
  services/reporter/Dockerfile
  services/reporter/Pipfile
  services/reporter/Pipfile.lock
  services/reporter/README.md
  services/reporter/__init__.py
  services/reporter/lib/__init__.py
  services/reporter/lib/metrics.py
  services/reporter/reporter
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-780: add Asset Metadata Cypress test
  applications/wallet/cypress/integration/frontend/Visualizer/Filters.js
  applications/wallet/cypress/integration/frontend/Visualizer/Metadata.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-714: fix Model training message
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-647: add filter button
  applications/wallet/frontend/src/Button/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Button/index.js
  applications/wallet/frontend/src/ChartFacet/Content.js
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartFacet/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartHistogram/Content.js
  applications/wallet/frontend/src/ChartHistogram/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartHistogram/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartRange/Content.js
  applications/wallet/frontend/src/ChartRange/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filter/Reset.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Reset.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-773. Adds a new service that reports the current pending jobs and task to the google monitoring api.
  deployment/terraform/modules/reporter/main.tf
  services/reporter/reporter
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes a bug in the reporter code.
  services/reporter/reporter
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds better documentation to the reporter service.
  services/reporter/README.md
  services/reporter/lib/metrics.py
  services/reporter/reporter
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-794. Adds variables to the deployment to control Analyst resources. Also makes the resource requests configurable via terraform vars.
  deployment/terraform/main.tf
  deployment/terraform/variables.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency @emotion/core to v10.0.34
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint to v7.7.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-plugin-react to v7.20.6
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency next to v9.5.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update jest monorepo
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update sentry monorepo to v5.21.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update _app.js
  applications/wallet/frontend/pages/_app.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

rm @sentry/apm
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-795. Adds a ZVI metrics dashboard to the google monitoring service.
  deployment/terraform/modules/reporter/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-715: add LabelEdit
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/Form.spec.js
  applications/wallet/frontend/src/LabelEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/LabelEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/LabelEdit/helpers.js
  applications/wallet/frontend/src/LabelEdit/index.js
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/index.spec.js
  applications/wallet/frontend/src/Model/index.js
  applications/wallet/frontend/src/ModelLabels/Menu.js
  applications/wallet/frontend/src/ModelLabels/__mocks__/modelLabels.js
  applications/wallet/frontend/src/ModelLabels/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ModelLabels/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelLabels/__tests__/index.spec.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersAdd/Form.js
  applications/wallet/frontend/src/Tabs/Link.js
  applications/wallet/frontend/src/Tabs/__tests__/index.spec.js
  applications/wallet/frontend/src/Tabs/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-780: refactor some Delete flows and cleanup Cypress tests
  applications/wallet/cypress/integration/frontend/ApiKeys/index.js
  applications/wallet/cypress/integration/frontend/DataSources/index.js
  applications/wallet/cypress/integration/frontend/Models/index.js
  applications/wallet/cypress/support/index.js
  applications/wallet/frontend/src/ApiKeys/Menu.js
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ApiKeys/__tests__/index.spec.js
  applications/wallet/frontend/src/ApiKeys/index.js
  applications/wallet/frontend/src/AssetLabeling/Menu.js
  applications/wallet/frontend/src/AssetLabeling/helpers.js
  applications/wallet/frontend/src/DataSources/Menu.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSources/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSources/index.js
  applications/wallet/frontend/src/Modal/index.js
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/index.spec.js
  applications/wallet/frontend/src/Model/helpers.js
  applications/wallet/frontend/src/Model/index.js
  applications/wallet/frontend/src/ModelLabels/Menu.js
  applications/wallet/frontend/src/ModelLabels/__tests__/Menu.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removing RabbitMQ class. Configs. Variables.
  .gitlab-ci.yml
  services/archivist/archivist/pom.xml
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/config/ArchivistConfiguration.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/MessagingService.kt
  services/archivist/archivist/src/main/resources/application.properties
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-647: add ChartHistogram bars
  applications/wallet/frontend/package.json
  applications/wallet/frontend/src/ChartHistogram/Content.js
  applications/wallet/frontend/src/ChartHistogram/__mocks__/aggregate.js
  applications/wallet/frontend/src/ChartHistogram/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartHistogram/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartHistogram/helpers.js
  applications/wallet/frontend/src/Charts/__tests__/index.spec.js
  applications/wallet/frontend/src/DataVisualization/Content.js
  applications/wallet/frontend/src/DataVisualization/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fix Loading and React error
  applications/wallet/frontend/src/Combobox/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove histogram type field from chart
  applications/wallet/frontend/src/ChartForm/Content.js
  applications/wallet/frontend/src/ChartForm/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartHistogram/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartHistogram/__tests__/index.spec.js
  applications/wallet/frontend/src/Charts/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Charts/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates the analyst HPA to have better default scaling numbers and adds a section to stop terraform from tainting the HPA each time it's manually changed.
  deployment/terraform/modules/analyst/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests
