Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - pip install .
  - pytest
  - cd ../zvi
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-4.2.1-amd64-static.tar.xz
  - cp ffmpeg-4.2.1-amd64-static/ffmpeg /usr/bin
  ...

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

rekog video and notebook
  applications/workbench/data/notebooks/AWS_Rekognition_Labels.ipynb
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/util.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

rekog unsafe images and notebook
  applications/workbench/data/notebooks/AWS_Rekognition_Labels.ipynb
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_nsfw.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-plugin-react-hooks to v4.1.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency jest to v26.4.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency swr to v0.3.1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency cypress to v5
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency @reach/combobox to v0.11.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fix Combobox dropdown and AssetLabelingAdd disable
  applications/wallet/frontend/src/AssetLabeling/Add.js
  applications/wallet/frontend/src/Combobox/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Metrics Services
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Task.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/DispatchTaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/DispatcherService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/MaintenanceService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/MetricsService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/DispatchTaskDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/MaintenanceServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/MetricsServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

ktlint version to 0.37.2
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency @reach/listbox to v0.11.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency @reach/skip-nav to v0.11.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

remove -- args
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/predict.py
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/predict.sh
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-807: replace Zendesk with mailto link
  applications/wallet/frontend/.eslintrc
  applications/wallet/frontend/pages/_document.js
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/__tests__/index.spec.js
  applications/wallet/frontend/src/UserMenu/index.js
  applications/wallet/frontend/src/Zendesk/helpers.js
  applications/wallet/frontend/src/Zendesk/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

rekog text detection
  applications/workbench/data/notebooks/applications_workbench_data_notebooks_AWS_Rekognition_Labels.ipynb
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_text.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/text.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fix test image
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_text.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add padding
  applications/wallet/frontend/src/ChartFacet/Content.js
  applications/wallet/frontend/src/ChartFacet/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-781: Roboto Condensed is 15px
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/List.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Checkbox/Table.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/JobTasks/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/Labels.js
  applications/wallet/frontend/src/MetadataPretty/LabelsContent.js
  applications/wallet/frontend/src/MetadataPretty/PredictionsContent.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Labels.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsContent.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/ModelLabels/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/Reset.js
  applications/wallet/frontend/src/Table/Content.js
  applications/wallet/frontend/src/Table/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskErrors/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-777: fix AssetLabeling styles
  applications/wallet/frontend/src/ApiKeys/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/List.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ChartFacet/Content.js
  applications/wallet/frontend/src/Checkbox/index.js
  applications/wallet/frontend/src/DataSources/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Filters/MenuOption.js
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/MenuOption.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/MenuSection.spec.js.snap
  applications/wallet/frontend/src/Job/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Jobs/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Menu/index.js
  applications/wallet/frontend/src/MetadataPretty/Content.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/LabelsMenu.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/ModelLabels/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Task/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/TaskError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskErrors/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-769: clamp Accordion title
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removed predict.sh
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/predict.sh
  containers/zmlp-plugins-train/pylib/zmlp_train/tf2/train.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update to kotlin 1.4
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Resolves WAL-809. Updates error message for the api keys to use the form style error when a key already exists.
  applications/wallet/app/apikeys/tests/test_integration.py
  applications/wallet/app/apikeys/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Wallet: Refactors how responses are created when data from ZMLP does not conform.
  applications/wallet/app/datasources/views.py
  applications/wallet/app/jobs/tests/test_integration.py
  applications/wallet/app/jobs/views.py
  applications/wallet/app/models/views.py
  applications/wallet/app/modules/views.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/roles/views.py
  applications/wallet/app/wallet/exceptions.py
  applications/wallet/app/wallet/utils.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds google dlp api to the deployment.
  deployment/terraform/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-804: fix Filters styles
  applications/wallet/frontend/src/Filter/Reset.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Reset.spec.js.snap
  applications/wallet/frontend/src/FilterLabelConfidence/Slider.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/FilterSimilarity/Content.js
  applications/wallet/frontend/src/FilterSimilarity/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

make an OCR proxy for DLP
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-811: update Train & Apply to `deploy` instead
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

simplify code
  sdk/pylib/zmlpsdk/storage.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

made thread safe, updated tests
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/nsfw.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/tests/test_nsfw.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fixes crash when movie has no audio
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_speech.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_speech.py
  test-data/video/no_audio.mp4
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

linting
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_speech.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-748: truncate FilterLabelConfidence prediction
  applications/wallet/frontend/src/FilterLabelConfidence/Content.js
  applications/wallet/frontend/src/FilterLabelConfidence/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

deleting debug prints
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_dlp.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-747: fix delete filter button icon color
  applications/wallet/frontend/src/Filter/Actions.js
  applications/wallet/frontend/src/Filter/__tests__/__snapshots__/Actions.spec.js.snap
  applications/wallet/frontend/src/FilterExists/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Filters/__tests__/__snapshots__/Content.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-651: update email template logo
  applications/wallet/app/wallet/templates/email/base-email.html
  applications/wallet/frontend/public/icons/zorroa-zvi.png
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-812: italicize all the things
  applications/wallet/frontend/src/AssetDelete/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetDelete/index.js
  applications/wallet/frontend/src/AssetLabeling/List.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/index.js
  applications/wallet/frontend/src/FaceLabeling/Content.js
  applications/wallet/frontend/src/FaceLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/FaceLabeling/index.js
  applications/wallet/frontend/src/FilterLabelConfidence/Slider.js
  applications/wallet/frontend/src/FilterSimilarity/Content.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Metadata/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

force dlp versin to 1.0.0
  containers/zmlp-plugins-analysis/requirements.txt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

minor fixes
  sdk/pylib/zmlpsdk/storage.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

lint
  sdk/pylib/zmlpsdk/storage.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
