Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Path conditions:
  wallet-frontend-test-suite: any of: applications/wallet/frontend/**/*
  wallet-frontend-test-suite-all-stable-branches: any of: **/*
  wallet-backend-test-suite: any of: applications/wallet/app/**/*
  wallet-backend-test-suite-all-stable-branches: any of: **/*
  backend-py-lint: any of: sdk/python/**/*.py, containers/**/*.py, services/analyst/**/*.py
  backend-py-lint-all-stable-branches: any of: **/*
  backend-kotlin-lint: any of: services/**/*.kt
  backend-kotlin-lint-all-stable-branches: any of: **/*
  sdk-unit-tests: any of: sdk/**/*, containers/zmlp-plugins-base/**/*
  sdk-unit-tests-all-stable-branches: any of: **/*
  services_build_artifacts: any of: services/**/*
  services_build_artifacts-all-stable-branches: any of: **/*
  services_push_to_local_registry: any of: services/**/*
  services_push_to_local_registry-all-stable-branches: any of: **/*
  services_unit_tests: any of: services/**/*
  services_unit_tests-all-stable-branches: any of: **/*

plop
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-237. Fixes a bug in django admin project syncing.
  applications/wallet/app/projects/admin.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Move logic within Authentication and handle /_error separately
  applications/wallet/frontend/pages/_app.js
  applications/wallet/frontend/src/Authentication/__tests__/index.spec.js
  applications/wallet/frontend/src/Authentication/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-183: update Activation email template
  applications/wallet/app/registration/templates/registration/activation-email.html
  applications/wallet/app/registration/templates/registration/password_reset_email.html
  applications/wallet/app/wallet/tests/test_views.py
  applications/wallet/frontend/src/CreateAccount/__tests__/helpers.spec.js
  applications/wallet/frontend/src/CreateAccount/helpers.js
  applications/wallet/frontend/src/Login/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Login/__tests__/index.spec.js
  applications/wallet/frontend/src/Login/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Updates the wallet emails to get the hostname from a setting instead of dynamically.
  applications/wallet/app/registration/serializers.py
  applications/wallet/app/registration/templates/registration/activation-email.html
  applications/wallet/app/registration/templates/registration/password_reset_email.html
  applications/wallet/app/registration/views.py
  applications/wallet/app/wallet/settings/__init__.py
  applications/wallet/app/wallet/settings/local-dev.py
  deployment/terraform/main.tf
  deployment/terraform/modules/wallet/main.tf
  deployment/terraform/modules/wallet/variables.tf
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency @sentry/browser to v5.12.4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency eslint-plugin-react-hooks to v2.4.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency http-proxy-middleware to v0.21.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency next to v9.2.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-212: handle logged users on no-auth pages
  applications/wallet/frontend/pages/_app.js
  applications/wallet/frontend/src/Authentication/__tests__/index.spec.js
  applications/wallet/frontend/src/Authentication/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update breadcrumb naming for errors
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/errors/[errorId]/index.js
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/errors/[taskId]/index.js
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobError/__tests__/index.spec.js
  applications/wallet/frontend/src/JobError/index.js
  applications/wallet/frontend/src/JobErrors/Content.js
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/Content.spec.js.snap
  applications/wallet/frontend/src/JobErrors/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/JobErrors/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

add task error details routing
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/errors.js
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/errors/[taskId]/index.js
  applications/wallet/frontend/pages/[projectId]/jobs/[jobId]/errors/index.js
  applications/wallet/frontend/src/Breadcrumbs/index.js
  applications/wallet/frontend/src/TaskError/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/TaskError/__tests__/index.spec.js
  applications/wallet/frontend/src/TaskError/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

update test, remove empty file
  applications/wallet/frontend/src/JobError/Content.js
  applications/wallet/frontend/src/JobError/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Changing projectId to id
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/AbstractTest.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/DispatcherServiceTests.kt
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts, services_build_artifacts-all-stable-branches, services_push_to_local_registry, services_push_to_local_registry-all-stable-branches, services_unit_tests, services_unit_tests-all-stable-branches

Bug fix: Request may not contain base url at this point
  client/java/src/main/java/com/zorroa/zmlp/client/app/DataSourceApp.java
  client/java/src/main/java/com/zorroa/zmlp/client/domain/datasource/DataSource.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Change projectId to id
  client/java/src/main/java/com/zorroa/zmlp/client/domain/project/ProjectSpec.java
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Set keys back to same ones used by python tools.
  docker-compose.yml
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency http-proxy-middleware to v1
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update devServer.js
  applications/wallet/frontend/devServer.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

staging
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update dependency http-proxy-middleware to v1
  applications/wallet/frontend/devServer.js
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-238: link Logo back to Home
  applications/wallet/frontend/src/CreateAccount/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Navbar/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-239: update ProjectSwitcher styles for single project
  applications/wallet/frontend/src/ProjectSwitcher/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

no button
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectSwitcher/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-236. Adds automatic api key generation to the django admin interface when creating memberships. Also fixes some bugs with api creation.
  applications/wallet/app/apikeys/utils.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/serializers.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/projectusers/__init__.py
  applications/wallet/app/projectusers/admin.py
  applications/wallet/app/projectusers/apps.py
  applications/wallet/app/projectusers/migrations/__init__.py
  applications/wallet/app/projectusers/serializers.py
  applications/wallet/app/projectusers/tests/__init__.py
  applications/wallet/app/projectusers/tests/test_integration.py
  applications/wallet/app/projectusers/views.py
  applications/wallet/app/wallet/urls.py
  applications/wallet/app/wallet/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-239: update ProjectSwitcher styles for single project
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectSwitcher/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Makes the names for wallet api keys that are generated for memberships more unique.
  .gitlab-ci.yml
  applications/wallet/app/projects/migrations/0005_auto_20200225_0213.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Removed unused processors.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/classifiers/README.md
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/classifiers/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/classifiers/models/ClassifierTest.hd5
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/classifiers/models/ClassifierTest_labels.txt
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/classifiers/processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/classifiers/tests/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/classifiers/tests/test_processors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/detection.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/recognition.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/__init__.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/encodings.dat
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/test_detection.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/face/tests/test_recognition.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-240. Adds wallet REST API for tasks.
  applications/wallet/app/jobs/tests/test_integration.py
  applications/wallet/app/jobs/views.py
  applications/wallet/app/projects/serializers.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/wallet/settings/docker-compose.py
  applications/wallet/app/wallet/settings/local-dev.py
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves WAL-236. Adds automatic api key generation to the django admin interface when creating memberships. Also fixes some bugs with api creation.
  .gitlab-ci.yml
  applications/wallet/app/apikeys/utils.py
  applications/wallet/app/projects/admin.py
  applications/wallet/app/projects/migrations/0005_auto_20200225_0213.py
  applications/wallet/app/projects/models.py
  applications/wallet/app/projects/serializers.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/projects/views.py
  applications/wallet/app/projectusers/__init__.py
  applications/wallet/app/projectusers/admin.py
  applications/wallet/app/projectusers/apps.py
  applications/wallet/app/projectusers/migrations/__init__.py
  applications/wallet/app/projectusers/serializers.py
  applications/wallet/app/projectusers/tests/__init__.py
  applications/wallet/app/projectusers/tests/test_integration.py
  applications/wallet/app/projectusers/views.py
  applications/wallet/app/wallet/urls.py
  applications/wallet/app/wallet/utils.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

WAL-170: use User.projectId instead of Router.projectId
  applications/wallet/frontend/src/AccountProfile/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Authentication/index.js
  applications/wallet/frontend/src/CreateAccount/index.js
  applications/wallet/frontend/src/Layout/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Layout/__tests__/index.spec.js
  applications/wallet/frontend/src/Layout/index.js
  applications/wallet/frontend/src/Navbar/index.js
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectSwitcher/index.js
  applications/wallet/frontend/src/ProjectUser/__mocks__/projectUser.js
  applications/wallet/frontend/src/ProjectUsers/Menu.js
  applications/wallet/frontend/src/ProjectUsers/Row.js
  applications/wallet/frontend/src/ProjectUsers/__mocks__/projectUsers.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/Menu.spec.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/ProjectUsers/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectUsersEdit/Form.js
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Projects/__tests__/index.spec.js
  applications/wallet/frontend/src/Projects/index.js
  applications/wallet/frontend/src/Sidebar/Link.js
  applications/wallet/frontend/src/Sidebar/__tests__/index.spec.js
  applications/wallet/frontend/src/Sidebar/index.js
  applications/wallet/frontend/src/User/__mocks__/user.js
  applications/wallet/frontend/src/User/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Resolves merge conflicts.
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

fixup
  applications/wallet/frontend/src/Projects/__tests__/index.spec.js
  applications/wallet/frontend/src/Projects/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

restore manage account usermenu link
  applications/wallet/frontend/src/UserMenu/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/UserMenu/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

initialize empty projectId
  applications/wallet/frontend/src/Authentication/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/helpers.js
  applications/wallet/frontend/src/NoProject/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/NoProject/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Update index.js
  applications/wallet/frontend/src/Projects/index.js
Due: wallet-frontend-test-suite, wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Adds the jobname to the task error schema in wallet.
  applications/wallet/app/jobs/tests/test_integration.py
  applications/wallet/app/jobs/views.py
  applications/wallet/app/projects/serializers.py
  applications/wallet/app/projects/tests/test_integration.py
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Ignore the google integration tests.
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_vision.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_language.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_speech.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_videointelligence.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches

Simplified elements, removed vector and region for now.
  client/python/pylib/zmlp/asset.py
  client/python/pylib/zmlp/tests/test_asset.py
Due: wallet-frontend-test-suite-all-stable-branches, wallet-backend-test-suite-all-stable-branches, backend-py-lint-all-stable-branches, backend-kotlin-lint-all-stable-branches, sdk-unit-tests-all-stable-branches, services_build_artifacts-all-stable-branches, services_push_to_local_registry-all-stable-branches, services_unit_tests-all-stable-branches
