Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

plugin-container-tests:
  image: boonai/docker-buildx
  stage: test
  services:
  - docker:19-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  - ./buildx --plugins
  ...

boonai-dockerhub-build-push-latest:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: latest
  retry: 2
  before_script:
  ...

boonai-dockerhub-build-push-qa:
  image: boonai/docker-buildx
  stage: push
  services:
  - docker:19-dind
  variables:
    FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: 'false'
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    SOURCE_TAG: latest
    DOCKER_TAG: qa
  retry: 2
  before_script:
  ...

boonai-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

boonai-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  - gcloud auth activate-service-account $SA_EMAIL --key-file=./sa.json
  ...

Refactored some base files in boonflow to the env module, needed for adhoc file processing in mlbbq.
  containers/boonflow/pylib/boonflow/__init__.py
  containers/boonflow/pylib/boonflow/base.py
  containers/boonflow/pylib/boonflow/cloud.py
  containers/boonflow/pylib/boonflow/env.py
  containers/boonflow/pylib/boonflow/storage.py
  containers/boonflow/pylib/boonflow/tests/test_base.py
  containers/boonflow/pylib/boonflow/tests/test_env.py
  containers/boonflow/pylib/boonflow/video.py
  services/mlbbq/pylib/mlbbq/modules.py
  services/mlbbq/pylib/mlbbq/pipeline.py
  services/mlbbq/pylib/mlbbq/tests/test_modules.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes file handle leak.
  client/boonsdk/pylib/boonsdk/client.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixed broken test
  containers/boonflow/pylib/boonflow/tests/test_base.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes refences to boonflow.env objects
  containers/plugins-analysis/pylib/boonai_analysis/aws/awscloud.py
  containers/plugins-analysis/pylib/boonai_analysis/aws/transcribe.py
  containers/plugins-analysis/pylib/boonai_analysis/aws/video.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added numpy depend.
  containers/boonflow/setup.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added modules module to mlbbq
  services/mlbbq/pylib/mlbbq/main.py
  services/mlbbq/pylib/mlbbq/tests/test_modules.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updated faces and deployed mar files to use frame.image
  containers/boondocks/pylib/boondocks/process.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/faces.py
  containers/plugins-analysis/pylib/boonai_analysis/boonai/tests/test_faces.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/base.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/mar.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_mar.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updated archivist zps generation endpoints
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Zps.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/PipelineController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ZpsBuilderService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/PipelineControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ZpsBuilderServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency @sentry/browser to v6.9.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Fixes forr pillow 8.2
  containers/boonflow/pylib/boonflow/tests/test_base.py
  containers/boonflow/setup.py
  containers/plugins-train/pylib/boonai_train/pytorch/tool/requirements.txt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added MAR deploy module
  client/boonlab/pylib/boonlab/deploy/__init__.py
  client/boonlab/pylib/boonlab/deploy/archiver.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Renamed warning to error.
  containers/boondocks/pylib/boondocks/tests/test_process.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

working commit
  containers/plugins-analysis/pylib/boonai_analysis/disney/genome.py
  containers/plugins-analysis/pylib/boonai_analysis/disney/test.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: update ModelDetails and ModelMatrix warnings
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Model/MatrixLink.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/__tests__/MatrixLink.spec.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/Details.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/MatrixLink.spec.js.snap
  applications/wallet/frontend/src/ModelDataset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelDataset/index.js
  applications/wallet/frontend/src/ModelMatrix/Minimap.js
  applications/wallet/frontend/src/ModelMatrix/Resize.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds unapplied changes to the confusion matrix endpoint.
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: merge ModelLink into ModelDataset
  applications/wallet/frontend/src/Assets/__mocks__/assets.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/__tests__/index.spec.js
  applications/wallet/frontend/src/Model/index.js
  applications/wallet/frontend/src/ModelDataset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelDataset/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelDataset/index.js
  applications/wallet/frontend/src/ModelLink/Content.js
  applications/wallet/frontend/src/ModelLink/Existing.js
  applications/wallet/frontend/src/ModelLink/Form.js
  applications/wallet/frontend/src/ModelLink/New.js
  applications/wallet/frontend/src/ModelLink/__tests__/__snapshots__/Form.spec.js.snap
  applications/wallet/frontend/src/ModelLink/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelLink/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelLink/index.js
  applications/wallet/frontend/src/ModelMatrix/Content.js
  applications/wallet/frontend/src/ModelMatrix/Layout.js
  applications/wallet/frontend/src/ModelMatrix/Matrix.js
  applications/wallet/frontend/src/ModelMatrix/Preview.js
  applications/wallet/frontend/src/ModelMatrix/PreviewContent.js
  applications/wallet/frontend/src/ModelMatrix/__mocks__/matrix.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/Preview.spec.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/Preview.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Visualizer/__tests__/__snapshots__/index.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updated KNN to allow frame.image
  containers/plugins-analysis/pylib/boonai_analysis/custom/knn.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_knn.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added projectID to transient asset.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ZpsBuilderService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Exposes analyze_file
  client/boonsdk/pylib/boonsdk/app/asset_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_asset_app.py
  client/boonsdk/pylib/boonsdk/client.py
  containers/boondocks/pylib/boondocks/process.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added portugese to languages for speech to text
  containers/plugins-analysis/pylib/boonai_analysis/google/cloud_speech.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes broken tests for race rec
  containers/plugins-analysis/pylib/boonai_analysis/custom/face_rec.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes isse with test using wrong url.
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/PipelineControllerTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: update out of date ModelMatrix
  applications/wallet/frontend/src/Model/MatrixLink.js
  applications/wallet/frontend/src/Model/__tests__/MatrixLink.spec.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/MatrixLink.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/Content.js
  applications/wallet/frontend/src/ModelMatrix/Layout.js
  applications/wallet/frontend/src/ModelMatrix/Matrix.js
  applications/wallet/frontend/src/ModelMatrix/Minimap.js
  applications/wallet/frontend/src/ModelMatrix/Resize.js
  applications/wallet/frontend/src/ModelMatrix/Row.js
  applications/wallet/frontend/src/ModelMatrix/__mocks__/matrix.js
  applications/wallet/frontend/src/ModelMatrix/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ModelMatrix/__tests__/index.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: add AssetLabeling menu to Dataset
  applications/wallet/frontend/pages/[projectId]/models/[modelId]/link.js
  applications/wallet/frontend/src/AssetLabeling/Content.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/index.spec.js
  applications/wallet/frontend/src/Datasets/index.js
  applications/wallet/frontend/src/MetadataPretty/Labels.js
  applications/wallet/frontend/src/MetadataPretty/LabelsMenu.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/Labels.spec.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/LabelsMenu.spec.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-88: replace Matrix requirements with checklist
  applications/wallet/frontend/src/Model/MatrixLink.js
  applications/wallet/frontend/src/Model/__tests__/MatrixLink.spec.js
  applications/wallet/frontend/src/Model/__tests__/__snapshots__/MatrixLink.spec.js.snap
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency org.jetbrains.kotlinx:kotlinx-coroutines-core to v1.5.1-native-mt
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update kotlin.version to v1.5.21
  containers/jvm-build/pom.xml
  services/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
  services/auth-server/pom.xml
  services/elasticsearch/pom.xml
  services/jvm-common/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-pdf to v21.7
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-cells to v21.7
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-words to v21.7
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency commons-io:commons-io to v2.11.0
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency org.apache.tika:tika-core to v1.27
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added new model types.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Always put boonai scripts last.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Zps.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/PipelineResolverService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Initial commit of boonscipt system.
  containers/boonscript/Dockerfile
  containers/boonscript/endpoint.py
  containers/boonscript/requirements.txt
  containers/boonscript/server.py
  containers/boonscript/test/boonscript.zip
  containers/boonscript/test/endpoint.py
  containers/boonscript/test/requirements.txt
  containers/boonscript/utils.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/script.py
  containers/plugins-analysis/pylib/boonai_analysis/deployed/tests/test_script.py
  containers/py3-base/Dockerfile
  services/tugboat/server.py
  services/tugboat/tests.py
  services/tugboat/tmpl/boonscript/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds a missing dependency to the reporter service.
  services/reporter/Pipfile
  services/reporter/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Improved abstraction so flask is not needed.
  containers/boonscript/Dockerfile
  containers/boonscript/endpoint.py
  containers/boonscript/script.py
  containers/boonscript/server.py
  containers/boonscript/utils.py
  services/tugboat/tmpl/boonscript/Dockerfile
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds production deployment notifications.
  gitlab-ci/2.push.gitlab-ci.yml
  gitlab-ci/3.deploy.gitlab-ci.yml
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds a missing dependency to the metrics service.
  services/metrics/Pipfile
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*
