Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Path conditions:
  plugin-container-tests: (any of: client/boonsdk/**/*, containers/**/*) or (any of: **/*)
  boonai-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, services/analyst/**/*, services/jvm-common/**/*, services/api-gateway/**/*, services/archivist/**/*, services/auth-server/**/*, services/elasticsearch/**/*, services/mlbbq/**/*, services/officer/**/*, services/reporter/**/*
  boonai-dockerhub-build-push-qa: any of: **/*
  boonai-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, services/**/*
  boonai-deploy-qa: any of: **/*

Update dependency prettier to v2.3.1
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency jest to v27.0.4
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Starts transferring reaper job to a celery beat queue.
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
  applications/wallet/app/projects/tasks.py
  applications/wallet/app/wallet/__init__.py
  applications/wallet/app/wallet/celery.py
  applications/wallet/start-servers.sh
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Cleans up some tests and a little bit of the datasets viewset.
  applications/wallet/app/datasets/serializers.py
  applications/wallet/app/datasets/tests/test_integration.py
  applications/wallet/app/datasets/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updating linting
  applications/wallet/app/datasets/tests/test_integration.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Removed AutoML session stuff
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/AutomlDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/AutomlService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/MessagingService.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/TestBeanConf.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/AutomlDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ProjectDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ProjectDeleteDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/AutomlServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/MessagingServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update aws-java-sdk monorepo to v1.12.1
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

undoing not used dev changes
  client/boonsdk/pylib/boonsdk/app/model_app.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

removing unused dev code
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/ModelControllerTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-87. Moves all of the wallet api labeling actions from the model views to the dataset views.
  applications/wallet/app/datasets/serializers.py
  applications/wallet/app/datasets/tests/test_integration.py
  applications/wallet/app/datasets/views.py
  applications/wallet/app/faces/tests/test_integration.py
  applications/wallet/app/faces/views.py
  applications/wallet/app/models/serializers.py
  applications/wallet/app/models/tests/test_integration.py
  applications/wallet/app/models/views.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Resolves MAIN-72. Updates the clarifai processors to use the new grpc API and use model ids.
  containers/plugins-analysis/integration_tests/clarifai_integration_tests/images/test_bboxes.py
  containers/plugins-analysis/integration_tests/clarifai_integration_tests/images/test_labels.py
  containers/plugins-analysis/integration_tests/clarifai_integration_tests/images/test_regions.py
  containers/plugins-analysis/integration_tests/clarifai_integration_tests/video/test_bboxes.py
  containers/plugins-analysis/integration_tests/clarifai_integration_tests/video/test_labels.py
  containers/plugins-analysis/integration_tests/clarifai_integration_tests/video/test_regions.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/images/__init__.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/images/bboxes.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/images/labels.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/images/regions.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/images/tests/test_bboxes.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/images/tests/test_labels.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/images/tests/test_regions.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/util.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/video/__init__.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/video/bboxes.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/video/labels.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/video/regions.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/video/tests/test_bboxes.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/video/tests/test_labels.py
  containers/plugins-analysis/pylib/boonai_analysis/clarifai/video/tests/test_regions.py
  containers/plugins-analysis/requirements.txt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/StandardMods.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

downgrading netty to version 4.1.53
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds a wallet migration that syncs all the memberships to pick up the new model training permission.
  applications/wallet/app/wallet/migrations/0006_sync_zmlp_memberships.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds a wallet migration that cycles all of project api keys.
  applications/wallet/app/wallet/migrations/0007_cycle_project_api_keys.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

MAIN-90: let 403 break app in Fetch.fetcher helper
  applications/wallet/frontend/src/Fetch/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update dependency org.pitest:pitest-maven to v1.6.7
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency org.redisson:redisson to v3.15.6
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.aspose:aspose-diagram to v21.6
  containers/jvm-build/pom.xml
  services/officer/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency com.jayway.jsonpath:json-path-assert to v2.6.0
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/auth-server/auth-server/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Adds the datasets/_types endpoint to the archivist.
  applications/wallet/app/datasets/serializers.py
  applications/wallet/app/datasets/tests/test_integration.py
  applications/wallet/app/datasets/views.py
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/DataSet.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/DataSetCotroller.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/DataSetControllerTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Updates the list of messages from Azure that signify a quota error that should be retried.
  containers/plugins-analysis/pylib/boonai_analysis/azure/tests/test_vision.py
  containers/plugins-analysis/pylib/boonai_analysis/azure/vision.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: add Datasets list and delete
  applications/wallet/frontend/pages/[projectId]/datasets/index.js
  applications/wallet/frontend/src/DatasetTypes/__mocks__/datasetTypes.js
  applications/wallet/frontend/src/Datasets/Content.js
  applications/wallet/frontend/src/Datasets/Menu.js
  applications/wallet/frontend/src/Datasets/Row.js
  applications/wallet/frontend/src/Datasets/Table.js
  applications/wallet/frontend/src/Datasets/__mocks__/datasets.js
  applications/wallet/frontend/src/Datasets/__tests__/Menu.spec.js
  applications/wallet/frontend/src/Datasets/__tests__/Table.spec.js
  applications/wallet/frontend/src/Datasets/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/Datasets/__tests__/__snapshots__/Table.spec.js.snap
  applications/wallet/frontend/src/Datasets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Datasets/__tests__/index.spec.js
  applications/wallet/frontend/src/Datasets/index.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Updates the wallet LabelFilter to use the dataSetId instead of modelId.
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds the number of concepts datasets have to the wallet serializer.
  applications/wallet/app/datasets/serializers.py
  applications/wallet/app/datasets/tests/test_integration.py
  applications/wallet/app/datasets/views.py
  applications/wallet/app/projects/viewsets.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Adds a get_models endpoint to the datasets api in wallet.
  applications/wallet/app/datasets/tests/test_integration.py
  applications/wallet/app/datasets/views.py
  applications/wallet/app/models/serializers.py
  applications/wallet/app/projects/viewsets.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Update aws-java-sdk monorepo to v1.12.3
  containers/jvm-build/pom.xml
  services/archivist/archivist/pom.xml
  services/jvm-common/boonai-service/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Update dependency Django to v3.2.4
  applications/wallet/Pipfile
  applications/wallet/Pipfile.lock
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

Removed depend on automl
  services/archivist/archivist/pom.xml
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Config init changes for spring.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/ApplicationProperties.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/config/ArchivistConfiguration.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Added stats info to error log
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ErrorController.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Aws: Handle large files. Gcp: use utils class for creds
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/AwsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsProjectStorageService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/util/GcpUtils.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Handle upoloading a model, emitting the model-upload event, handling the clould build event for the deploy.
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/domain/PubSubEvent.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/ModelDao.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/rest/ModelController.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/SubscriberService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/WebHookPublisherService.kt
  services/archivist/archivist/src/main/resources/args/model/PYTORCH_MODEL_ARCHIVE.json
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V17__model_deploy.sql
  services/archivist/archivist/src/test/kotlin/boonai/archivist/rest/ModelControllerTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ArgValidationServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelDeployServiceTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ModelServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Tugboat updates
  services/tugboat/cloudbuild.yaml
  services/tugboat/itests.py
  services/tugboat/server.py
  services/tugboat/tests.py
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelDeployService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/service/ModelService.kt
  services/archivist/archivist/src/main/kotlin/boonai/archivist/storage/GcsProjectStorageService.kt
  services/tugboat/tmpl/torch/config.properties
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

MAIN-88: add Dataset details
  applications/wallet/frontend/pages/[projectId]/datasets/[datasetId]/index.js
  applications/wallet/frontend/pages/[projectId]/datasets/[datasetId]/labels.js
  applications/wallet/frontend/pages/[projectId]/datasets/[datasetId]/models.js
  applications/wallet/frontend/src/ConceptEdit/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ConceptEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/ConceptEdit/helpers.js
  applications/wallet/frontend/src/ConceptEdit/index.js
  applications/wallet/frontend/src/Dataset/Details.js
  applications/wallet/frontend/src/Dataset/__mocks__/dataset.js
  applications/wallet/frontend/src/Dataset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Dataset/__tests__/index.spec.js
  applications/wallet/frontend/src/Dataset/index.js
  applications/wallet/frontend/src/DatasetConcepts/Menu.js
  applications/wallet/frontend/src/DatasetConcepts/Row.js
  applications/wallet/frontend/src/DatasetConcepts/__mocks__/datasetConcepts.js
  applications/wallet/frontend/src/DatasetConcepts/__tests__/Menu.spec.js
  applications/wallet/frontend/src/DatasetConcepts/__tests__/__snapshots__/Menu.spec.js.snap
  applications/wallet/frontend/src/DatasetConcepts/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/DatasetConcepts/__tests__/index.spec.js
  applications/wallet/frontend/src/DatasetConcepts/index.js
  applications/wallet/frontend/src/Datasets/Content.js
  applications/wallet/frontend/src/Datasets/Row.js
  applications/wallet/frontend/src/Datasets/Table.js
  applications/wallet/frontend/src/Datasets/__tests__/Table.spec.js
  applications/wallet/frontend/src/Datasets/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Datasets/__tests__/index.spec.js
  applications/wallet/frontend/src/Datasets/index.js
  applications/wallet/frontend/src/Text/helpers.js
Due: plugin-container-tests, boonai-dockerhub-build-push-qa, boonai-deploy-qa

coppying files to temp bucket before training them
  containers/plugins-train/pylib/boonai_train/automl/labels.py
  containers/plugins-train/pylib/boonai_train/automl/test/labels_test.py
  containers/plugins-train/pylib/boonai_train/automl/train.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Fixes all broken tests
  services/archivist/archivist/src/main/kotlin/boonai/archivist/repository/ProjectDeleteDao.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V17__model_deploy.sql
  services/archivist/archivist/src/test/kotlin/boonai/archivist/queue/listener/ProjectListenerTest.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ProjectDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/repository/ProjectDeleteDaoTests.kt
  services/archivist/archivist/src/test/kotlin/boonai/archivist/service/ProjectServiceTests.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

lint
  services/archivist/archivist/src/test/kotlin/boonai/archivist/queue/listener/ProjectListenerTest.kt
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

client side enum renames (again)
  client/boonsdk/pylib/boonsdk/entity/model.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa

Renamed enum.
  client/boonsdk/pylib/boonsdk/app/model_app.py
  client/boonsdk/pylib/boonsdk/app/tests/test_model_app.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_pytorch.py
  containers/plugins-analysis/pylib/boonai_analysis/custom/tests/test_tf2.py
Due: plugin-container-tests, boonai-dockerhub-build-push-latest, boonai-dockerhub-build-push-qa, boonai-deploy-development, boonai-deploy-qa
