Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - pip install .
  - pytest
  - cd ../zvi
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-4.2.1-amd64-static.tar.xz
  - cp ffmpeg-4.2.1-amd64-static/ffmpeg /usr/bin
  ...

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

Resolves WAL-875. Fixes a bug where all access attempts were assigned the localhost IP.
  applications/wallet/app/wallet/settings/__init__.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds WebVtt endpoints for assets that have them, and urls endpoint to return the signed url and track urls for an asset
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/assets/views.py
  applications/wallet/app/wallet/urls.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

wip: clarifai model gallery for images
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/colors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_colors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_regions.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

update tests
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/colors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/regions.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_colors.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_regions.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint to v7.10.0
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-config-prettier to v6.12.0
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency eslint-plugin-react to v7.21.2
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Update dependency swr to v0.3.5
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Revert "Merge branch 'renovate/swr-0.x' into 'development'"
  applications/wallet/frontend/package-lock.json
  applications/wallet/frontend/package.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adding some logging and increased vidint poll time.
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_video.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/tests/test_cloud_video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-876: fix Playhead onMount ref
  applications/wallet/frontend/src/Timeline/Playhead.js
  applications/wallet/frontend/src/Timeline/Ruler.js
  applications/wallet/frontend/src/Timeline/Tracks.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Ruler.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Tracks.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fix drag message text
  applications/wallet/frontend/src/ResizeableVertical/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes the webvtt json format
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ClipService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ClipServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Lock cloud speech /vid versions
  containers/zmlp-plugins-analysis/requirements.txt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

linting
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/ClipServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Remove space in webvtt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ClipService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Make sure vtt file is closed before using it.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/google/cloud_timeline.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updates label filter to be able to combine multiple queries
  applications/wallet/app/searches/filters.py
  applications/wallet/app/searches/tests/test_filters.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

fix test_labels
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_labels.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

face and logo detection
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/labels.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_bboxes.py
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_labels.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

flake8 cleanup
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/bboxes.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

cleanup
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/tests/test_bboxes.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Improved webvtt tests
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_speech.py
  containers/zmlp-plugins-analysis/integration_tests/google_integration_tests/test_cloud_video.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removed unused tests
  containers/zmlp-plugins-core/pylib/zmlp_core/image/tests/test_image.py
  containers/zmlp-plugins-core/pylib/zmlp_core/util/tests/test_media.py
  test-data/files.db
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Lint
  containers/zmlp-plugins-core/pylib/zmlp_core/util/tests/test_media.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

CICD fix
  .gitlab-ci.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-828: update TimelineTimelines
  applications/wallet/frontend/src/Asset/Asset.js
  applications/wallet/frontend/src/Asset/Video.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Styles/constants.js
  applications/wallet/frontend/src/Timeline/Accordion.js
  applications/wallet/frontend/src/Timeline/Aggregate.js
  applications/wallet/frontend/src/Timeline/Playhead.js
  applications/wallet/frontend/src/Timeline/Timelines.js
  applications/wallet/frontend/src/Timeline/Tracks.js
  applications/wallet/frontend/src/Timeline/__mocks__/timelines.js
  applications/wallet/frontend/src/Timeline/__tests__/Aggregate.spec.js
  applications/wallet/frontend/src/Timeline/__tests__/Timelines.spec.js
  applications/wallet/frontend/src/Timeline/__tests__/Tracks.spec.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Aggregate.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Timelines.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/index.spec.js
  applications/wallet/frontend/src/Timeline/__tests__/reducer.spec.js
  applications/wallet/frontend/src/Timeline/helpers.js
  applications/wallet/frontend/src/Timeline/index.js
  applications/wallet/frontend/src/Timeline/reducer.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-849: load real Video Tracks
  applications/wallet/frontend/public/webvtt/gcp-label-detection.vtt
  applications/wallet/frontend/public/webvtt/gcp-object-detection.vtt
  applications/wallet/frontend/public/webvtt/metadata.vtt
  applications/wallet/frontend/src/Asset/Asset.js
  applications/wallet/frontend/src/Asset/Video.js
  applications/wallet/frontend/src/Asset/__mocks__/imageAsset.js
  applications/wallet/frontend/src/Asset/__mocks__/tracks.js
  applications/wallet/frontend/src/Asset/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Asset/__tests__/index.spec.js
  applications/wallet/frontend/src/MetadataCues/Content.js
  applications/wallet/frontend/src/MetadataCues/__tests__/helpers.spec.js
  applications/wallet/frontend/src/MetadataCues/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-830: add TimelineAggregate markers
  applications/wallet/frontend/src/Timeline/Aggregate.js
  applications/wallet/frontend/src/Timeline/Playhead.js
  applications/wallet/frontend/src/Timeline/__tests__/Aggregate.spec.js
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Aggregate.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/Playhead.spec.js.snap
  applications/wallet/frontend/src/Timeline/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Timeline/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added AWS services.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/aws/text.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/StandardMods.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Lower number of required concepts.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Adds back in the AnonymousUser check so that not being authorized on certain endpoints works correctly
  applications/wallet/app/assets/tests/test_integration.py
  applications/wallet/app/projects/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

labels cleanup
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/clarifai/labels.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-849: fix MetadataCues content
  applications/wallet/frontend/src/MetadataCues/__tests__/helpers.spec.js
  applications/wallet/frontend/src/MetadataCues/helpers.js
  applications/wallet/frontend/src/MetadataPretty/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes the mimetype on webvtt files.
  applications/wallet/app/assets/views.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-849: refactor useLocalStorage to sync reducers
  applications/wallet/frontend/src/Accordion/index.js
  applications/wallet/frontend/src/AssetLabeling/Add.js
  applications/wallet/frontend/src/AssetLabeling/Menu.js
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/DataVisualization/Content.js
  applications/wallet/frontend/src/Feature/__tests__/index.spec.js
  applications/wallet/frontend/src/Feature/index.js
  applications/wallet/frontend/src/LocalStorage/__tests__/helpers.spec.js
  applications/wallet/frontend/src/LocalStorage/helpers.js
  applications/wallet/frontend/src/Metadata/Content.js
  applications/wallet/frontend/src/Model/Details.js
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/Panel/index.js
  applications/wallet/frontend/src/Resizeable/index.js
  applications/wallet/frontend/src/ResizeableVertical/index.js
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/Timeline/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
