Repository OpenBoon/OpenBoon: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

wallet-frontend-test-suite:
  stage: test
  image: node:12
  before_script:
  - cd applications/wallet/frontend
  - npm ci
  script:
  - npm run lint
  - npm run test:cover
  - npm run size

wallet-backend-test-suite:
  stage: test
  image: mc706/pipenv-3.7
  services:
  - name: postgres:9.6.9
    alias: postgres
  variables:
    POSTGRES_PASSWORD: a8fnnbe934j
    POSTGRES_USER: wallet
    POSTGRES_DB: wallet
    PG_HOST: postgres
  script:
  - cd applications/wallet
  - pipenv sync
  - cd app
  - pipenv run flake8
  - pipenv run pytest --cov=.

wallet-dockerhub-build-push-latest:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: latest
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  ...

wallet-dockerhub-build-push-qa:
  image: zmlp/docker-buildx
  stage: push
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_TAG: qa
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

wallet-deploy-development:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-dev
  stage: deploy
  environment:
    name: dev
    url: https://dev.console.zvi.zorroa.com/
  before_script:
  - echo $DEV_SA_JSON > ./sa.json
  ...

wallet-deploy-qa:
  image: google/cloud-sdk
  retry: 1
  variables:
    DEPLOY_SCRIPT: kubectl --namespace default rollout restart
    PROJECT: zvi-qa
  stage: deploy
  environment:
    name: qa
    url: https://qa.console.zvi.zorroa.com/
  before_script:
  - echo $QA_SA_JSON > ./sa.json
  ...

backend-py-lint:
  image: python:3.7.5
  stage: pretest
  allow_failure: false
  script:
  - python -m pip install flake8
  ...

backend-kotlin-lint:
  image: kkopper/ktlint
  stage: pretest
  script:
  - ktlint services/**/*.kt lib/**/*.kt

sdk-unit-tests:
  image: python:3.7.5
  stage: test
  allow_failure: true
  script:
  - python -m pip install pipenv pytest
  - cd client/python
  - pip install .
  - pytest
  - cd ../zvi
  - pip install .
  - pytest
  - cd ../../sdk
  - tar -xJf ffmpeg-4.2.1-amd64-static.tar.xz
  - cp ffmpeg-4.2.1-amd64-static/ffmpeg /usr/bin
  ...

plugin-container-tests:
  image: zmlp/docker-buildx
  stage: test
  services:
  - docker:19.03-dind
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://localhost:2375
  retry: 2
  before_script:
  - apk add docker-compose
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS"
  script:
  ...

sdk-java-unit-tests:
  image: maven:3.6-jdk-11
  stage: test
  allow_failure: true
  script:
  - mvn test verify -f client/java -q

Datasource default order to time created desc
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/DataSourceDao.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/DataSourceDaoTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Model default order to time created desc
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/ModelDao.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/ModelDaoTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-713: add AssetLabeling List
  applications/wallet/frontend/src/Asset/__mocks__/asset.js
  applications/wallet/frontend/src/AssetLabeling/Add.js
  applications/wallet/frontend/src/AssetLabeling/Content.js
  applications/wallet/frontend/src/AssetLabeling/Header.js
  applications/wallet/frontend/src/AssetLabeling/List.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/Header.spec.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/Header.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/index.spec.js
  applications/wallet/frontend/src/AssetLabeling/helpers.js
  applications/wallet/frontend/src/Metadata/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Model/shape.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskErrorAsset/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added concept of ES migrations.
  client/python/pylib/zmlp/search.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/IndexRoute.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/IndexTask.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexTaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/IndexRoutingController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/IndexTaskController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexRoutingService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexTaskService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/main/resources/db/migration/postgresql/V10__es_migration.sql
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/AbstractTest.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/IndexRouteDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/IndexTaskDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/IndexRoutingControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/IndexTaskControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/ProjectControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/IndexRoutingServiceTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/IndexTaskMonitorTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/IndexTaskServiceTests.kt
  services/elasticsearch/es-kwconf/src/main/kotlin/com/zorroa/es/kwconf/KwConfPlugin.kt
  services/elasticsearch/es-similarity/src/main/kotlin/com/zorroa/zmlp/similarity/SimilarityPlugin.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Allow tier and index size params to be passed to project creation.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added better endpoints for monitoring index tasks/
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/IndexRoute.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexTaskDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/IndexRoutingController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/IndexTaskController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexTaskService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/IndexTaskDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/IndexTaskControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/IndexTaskMonitorTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/IndexTaskServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

lint
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/DataSourceDaoTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/ModelDaoTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Tries to resolve WAL-743. Adds more cpu resources to the ES dagta nodes.
  deployment/terraform/modules/elasticsearch/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Moving default sort for Filter classes
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/DataSource.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Model.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/DataSourceDao.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/ModelDao.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added concept of zmlp_admin library
  client/admin/pylib/zmlp_admin/__init__.py
  client/admin/pylib/zmlp_admin/app/__init__.py
  client/admin/pylib/zmlp_admin/app/admin_app.py
  client/admin/pylib/zmlp_admin/app/index_app.py
  client/admin/pylib/zmlp_admin/app/project_app.py
  client/admin/pylib/zmlp_admin/app/test/test_admin_app.py
  client/admin/pylib/zmlp_admin/app/test/test_index_app.py
  client/admin/pylib/zmlp_admin/app/test/test_project_app.py
  client/admin/pylib/zmlp_admin/entity/__init__.py
  client/admin/pylib/zmlp_admin/entity/index.py
  client/admin/pylib/zmlp_admin/entity/project.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Removing secretKey from ApiKey response
  lib/jvm-common/zmlp-apikey/src/main/kotlin/com/zorroa/zmlp/apikey/ApiKey.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-746: catch Google SDK errors
  applications/wallet/frontend/.eslintrc
  applications/wallet/frontend/jest.setup.js
  applications/wallet/frontend/src/Authentication/__tests__/index.spec.js
  applications/wallet/frontend/src/Authentication/index.js
  applications/wallet/frontend/src/ChartFacet/__tests__/index.spec.js
  applications/wallet/frontend/src/ChartRange/__tests__/index.spec.js
  applications/wallet/frontend/src/Login/WithGoogle.js
  applications/wallet/frontend/src/ProjectSwitcher/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectUsers/__tests__/index.spec.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Updating ApiKey constructor in AbstractTest
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/AbstractTest.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

speed up webvtt generation
  sdk/pylib/zmlpsdk/timeline.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Tries to resolve WAL-743. Fixes bad ES configuration.
  deployment/terraform/modules/elasticsearch/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

store webvtt files for each track
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
  sdk/pylib/zmlpsdk/timeline.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Tries to resolve WAL-743. Updates ES boot disk to be an SSD.
  deployment/terraform/modules/elasticsearch/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

added side effect for multiple return values
  sdk/pylib/zmlpsdk/storage.py
  sdk/pylib/zmlpsdk/tests/test_storage.py
  sdk/pylib/zmlpsdk/tests/test_timeline.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Tries to resolve WAL-743. Works around a terraform where resource limits are required for pods.
  deployment/terraform/modules/elasticsearch/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Bumps node pools so that pods fit better.
  deployment/terraform/modules/elasticsearch/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes create index call, using wrong version key.
  client/admin/pylib/zmlp_admin/app/index_app.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added eshq to compose.
  docker-compose.yml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Bumps ES node pool so that pods fit better.
  deployment/terraform/modules/elasticsearch/main.tf
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Allow a ZMLP_PROJECT env var.
  client/python/pylib/zmlp/client.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Add the index route to the project object.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/Project.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added a v2 index with new predictions mapping.
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v2.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added some more stuff to env.sh
  client/python/examples/env.sh
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Fixes issue where swapping indexes failed because the thread wasn't authed.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexTaskService.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Default the src index in a migration to the project's current index.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/IndexTask.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/IndexRoutingControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/IndexTaskControllerTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/IndexTaskMonitorTests.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/service/IndexTaskServiceTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Simplified call to create an index.
  client/admin/pylib/zmlp_admin/app/index_app.py
  client/admin/pylib/zmlp_admin/app/test/test_index_app.py
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/IndexRoute.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/domain/IndexTask.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/rest/IndexRoutingController.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexRoutingService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/IndexTaskService.kt
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/service/ProjectService.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/rest/IndexRoutingControllerTests.kt
  services/officer/pom.xml
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Moved to efficientnet b3 for label-detection.
  containers/zmlp-plugins-analysis/pylib/zmlp_analysis/zvi/labels.py
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Activated the V2 mapping and updated the search.py client to use the new kwconf query.
  client/python/pylib/zmlp/search.py
  services/archivist/archivist/src/main/resources/application.properties
  services/archivist/archivist/src/main/resources/db/migration/elasticsearch/english_strict.v2.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-714: update links
  applications/wallet/frontend/src/AccountPassword/__tests__/helpers.spec.js
  applications/wallet/frontend/src/AccountPassword/helpers.js
  applications/wallet/frontend/src/AssetDelete/__tests__/index.spec.js
  applications/wallet/frontend/src/AssetDelete/helpers.js
  applications/wallet/frontend/src/Authentication/__tests__/helpers.spec.js
  applications/wallet/frontend/src/Authentication/helpers.js
  applications/wallet/frontend/src/CreateAccount/__tests__/helpers.spec.js
  applications/wallet/frontend/src/CreateAccount/__tests__/index.spec.js
  applications/wallet/frontend/src/CreateAccount/helpers.js
  applications/wallet/frontend/src/DataSourcesAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/DataSourcesAdd/helpers.js
  applications/wallet/frontend/src/DataSourcesEdit/__tests__/Form.spec.js
  applications/wallet/frontend/src/DataSourcesEdit/helpers.js
  applications/wallet/frontend/src/Model/__tests__/Details.spec.js
  applications/wallet/frontend/src/Model/helpers.js
  applications/wallet/frontend/src/Models/__tests__/index.spec.js
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelsAdd/helpers.js
  applications/wallet/frontend/src/Project/Cards.js
  applications/wallet/frontend/src/Project/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/ProjectUsersEdit/__tests__/index.spec.js
  applications/wallet/frontend/src/ProjectUsersEdit/helpers.js
  applications/wallet/frontend/src/ResetPassword/__tests__/Confirm.spec.js
  applications/wallet/frontend/src/ResetPassword/__tests__/index.spec.js
  applications/wallet/frontend/src/ResetPassword/helpers.js
  applications/wallet/frontend/src/UserMenu/__tests__/index.spec.js
  applications/wallet/frontend/src/UserMenu/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-713: add Label menu
  applications/wallet/frontend/src/AssetLabeling/Add.js
  applications/wallet/frontend/src/AssetLabeling/Content.js
  applications/wallet/frontend/src/AssetLabeling/List.js
  applications/wallet/frontend/src/AssetLabeling/Menu.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/index.spec.js
  applications/wallet/frontend/src/AssetLabeling/index.js
  applications/wallet/frontend/src/Button/Actions.js
  applications/wallet/frontend/src/Filter/shape.js
  applications/wallet/frontend/src/Filters/Content.js
  applications/wallet/frontend/src/Menu/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-740: add Cypress
  .gitlab-ci.yml
  applications/wallet/cypress/.eslintrc.json
  applications/wallet/cypress/.gitignore
  applications/wallet/cypress/README.md
  applications/wallet/cypress/cypress.env.json.template
  applications/wallet/cypress/cypress.json
  applications/wallet/cypress/integration/frontend/DataSources/index.js
  applications/wallet/cypress/integration/frontend/Projects/index.js
  applications/wallet/cypress/integration/frontend/Users/index.js
  applications/wallet/cypress/package-lock.json
  applications/wallet/cypress/package.json
  applications/wallet/cypress/plugins/index.js
  applications/wallet/cypress/support/index.js
  applications/wallet/cypress/tsconfig.json
  applications/wallet/frontend/README.md
  applications/wallet/frontend/package.json
  renovate.json
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-740: add create Models integration test
  applications/wallet/cypress/integration/frontend/Models/index.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-662: disable buttons on TaskAssets thumbnails
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/Thumbnail.spec.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/Assets/index.js
  applications/wallet/frontend/src/MetadataPretty/Similarity.js
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/Row.js
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/Row.spec.js.snap
  applications/wallet/frontend/src/TaskAssets/__tests__/__snapshots__/index.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-664: fix AssetsThumbnail link
  applications/wallet/frontend/src/Assets/Thumbnail.js
  applications/wallet/frontend/src/Assets/__tests__/__snapshots__/Thumbnail.spec.js.snap
  applications/wallet/frontend/src/MetadataPretty/__tests__/__snapshots__/Switch.spec.js.snap
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

WAL-713: add label deletion
  applications/wallet/frontend/src/AssetLabeling/Add.js
  applications/wallet/frontend/src/AssetLabeling/Content.js
  applications/wallet/frontend/src/AssetLabeling/List.js
  applications/wallet/frontend/src/AssetLabeling/Menu.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/Menu.spec.js
  applications/wallet/frontend/src/AssetLabeling/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/AssetLabeling/__tests__/index.spec.js
  applications/wallet/frontend/src/AssetLabeling/helpers.js
  applications/wallet/frontend/src/Models/__mocks__/models.js
  applications/wallet/frontend/src/Models/__tests__/__snapshots__/index.spec.js.snap
  applications/wallet/frontend/src/Models/__tests__/index.spec.js
  applications/wallet/frontend/src/Models/index.js
  applications/wallet/frontend/src/ModelsAdd/__tests__/index.spec.js
  applications/wallet/frontend/src/ModelsAdd/helpers.js
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-latest, wallet-dockerhub-build-push-qa, wallet-deploy-development, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-qa, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Added some support methods to indexRouteDao.
  services/archivist/archivist/src/main/kotlin/com/zorroa/archivist/repository/IndexRouteDao.kt
  services/archivist/archivist/src/test/kotlin/com/zorroa/archivist/repository/IndexRouteDaoTests.kt
Due: wallet-frontend-test-suite, wallet-backend-test-suite, wallet-dockerhub-build-push-qa, wallet-deploy-qa, backend-py-lint, backend-kotlin-lint, sdk-unit-tests, plugin-container-tests, sdk-java-unit-tests, zmlp-dockerhub-build-push-latest, zmlp-dockerhub-build-push-qa, zmlp-deploy-development, zmlp-deploy-qa, zmlp-services-build-artifacts, elasticsearch-push-to-local-registry, zmlp-services-unit-tests

Path conditions:
  wallet-frontend-test-suite: (any of: applications/wallet/frontend/**/*) or ((any of: **/*) or ((any of: applications/wallet/frontend/**/*) or (any of: **/*)))
  wallet-backend-test-suite: (any of: applications/wallet/app/**/*) or ((any of: **/*) or ((any of: applications/wallet/app/**/*) or (any of: **/*)))
  wallet-dockerhub-build-push-latest: any of: applications/wallet/**/*
  wallet-dockerhub-build-push-qa: any of: **/*
  wallet-deploy-development: any of: applications/wallet/**/*
  wallet-deploy-qa: any of: **/*
  backend-py-lint: (any of: client/python/**/*.py, sdk/**/.py, containers/**/*.py, services/analyst/**/*.py) or (any of: **/*)
  backend-kotlin-lint: (any of: services/**/*.kt, lib/**/*.kt) or (any of: **/*)
  sdk-unit-tests: (any of: client/python/**/*, client/zvi/**/*, sdk/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  plugin-container-tests: (any of: client/python/**/*, sdk/**/*, containers/**/*) or (any of: **/*)
  sdk-java-unit-tests: (any of: client/java/**/*, containers/zmlp-plugins-base/**/*) or (any of: **/*)
  zmlp-dockerhub-build-push-latest: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-dockerhub-build-push-qa: any of: **/*
  zmlp-deploy-development: any of: client/**/*, containers/**/*, dev/**/*, lib/**/*, sdk/**/*, services/**/*
  zmlp-deploy-qa: any of: **/*
  zmlp-services-build-artifacts: (any of: services/**/*, lib/**/*) or (any of: **/*)
  elasticsearch-push-to-local-registry: (any of: services/**/*) or (any of: **/*)
  zmlp-services-unit-tests: (any of: services/**/*, lib/**/*) or (any of: **/*)
